[2019-06-13 01:42] mrmin123 commented on #363
I'm not sure why this is but it looks like your selected 'Active Quests' tab looks a bit more washed out than it does on mine.

![image](https://user-images.githubusercontent.com/4326866/59397462-8da06300-8d41-11e9-8dec-defd7040c2bd.png)
(yours, from screenshot)

![image](https://user-images.githubusercontent.com/4326866/59397440-7b262980-8d41-11e9-8cf3-b1b9a953b86e.png)
(mine, in package)

I beli

[2019-06-21 16:55] Czevak opened #364 "Non-recoverable crashing while farming E3"
#### Issue / Additional Information

I'm running into intermittent irrecoverable errors when farming E3-S. It happens maybe once every 3-4 hours or so and is always on the formation selection screen. I haven't been able to actively watch it happen so I can't say if anything weird is happening going into the error but I've attached a sample log.

#### Environment details

* KCAuto Version: 7.4.0 (e

[2019-06-21 18:44] mrmin123 commented on #364
I would try switching the Combat Engine to `legacy`, since you're only sortieing to 1 node anyways, and maybe increasing the `SLEEP_MODIFIER` in `kca_globals.py`.

[2019-06-21 18:44] mrmin123 commented on #363
Closing due to lack of activity.

[2019-06-21 18:44] #363 closed, assigned to nobody

[2019-06-21 20:35] Czevak commented on #364
Sounds good, I'll give it a try and see if it reoccurs. Thanks!

[2019-06-29 00:33] Czevak commented on #364
While the issue did happen again even with the suggestions, it doesn't matter anymore as the event is over.  Closing.

[2019-06-29 00:33] #364 closed, assigned to nobody

[2019-07-06 01:03] yjjieqc opened #365 "[Feature Request]Repair All Ships If One reached Repair Limit."
*Please provide a detailed description of the feature you would like to see added to kcauto. Please limit to one feature request per ticket.*
Once one ship reach repair limit, we repair her only now. Could we add a new feature that sent all ships who's repair time less than the repair limit ship in the fleet if there are free repair slots.
This feature can save time and buckets.

[2019-07-06 01:05] perryhuynh commented on #365
#155

[2019-07-06 05:43] cplusx commented on #273
Though it's a late reply, one can set Program in config.ini to /Applications/Google Chrome.app/Contents/MacOS/Google Chrome. Then it should work. Focus Failed because sikuli cannot find executable program named chrome. In order to let script find chrome, simply set the executable path of chrome.

[2019-07-07 19:11] #357 closed, assigned to mrmin123

[2019-07-10 15:43] Danielosama opened #366 "[Feature Request] Sortieing to multiple maps"
So right now I have the script do around 50 runs of 1-5 per day for T500 ranking, and after that it stops and just does expeditions.

I was wondering if it'd be possible that once it is done with "x" amount of runs in one map, to have it switch fleets to farm 1-3 for fuel for example.

[2019-07-10 16:14] mrmin123 commented on #366
Unfortunately this isn't supported in this iteration of kcauto.

On Wed, Jul 10, 2019 at 8:43 AM Danielosama <notifications@github.com>
wrote:

[2019-07-10 18:13] Danielosama commented on #366
Why yes of course, I understand that.

My question is if it is something that could be added down the line.

[2019-07-10 18:46] mrmin123 commented on #366
I missed the 'Feature Request' tag, my apologies. This is something I'm
going to consider for the next iteration of kcauto, yes, but I can't
guarantees it or provide a timeline just yet.

On Wed, Jul 10, 2019 at 11:13 AM Danielosama <notifications@github.com>
wrote:

[2019-07-10 19:53] Danielosama commented on #366
That's alright, thanks for the answer!

[2019-07-10 19:53] #366 closed, assigned to nobody

[2019-07-18 13:14] stackhanovets opened #367 "[UI update] Assets change after 18th July 2019 game update"
Hi there, how are you doing?
There was the [game update today](https://kancolle.fandom.com/wiki/Thread:724521). I am not pretty familiar with this yet, maybe they have destroyed the game balance completely.

Raw screenshots:

![w1a](https://user-images.githubusercontent.com/16455270/61460015-999dc700-a976-11e9-9d05-ee29b7f0d66b.png)
![w1b](https://user-images.githubusercontent.com/16455270/6146002

[2019-07-18 13:26] Danielosama commented on #367
It only changed the expeditions UI, so apart from that the rest should be working fine.

But yeah, expeditions module needs to be updated.

[2019-07-18 16:01] mrmin123 commented on #367
What an informative but ultimately useless change...

I'll work on this tonight.

Edit: and thanks for the screencaps!

[2019-07-18 20:09] stackhanovets commented on #367
You're welcome. Please note there could be me more expeditions to handle.

[2019-07-18 20:42] ForsakenRei commented on #367
They totally changed the timer, which is really useless. Now I have to stare at it carefully if I was a little bit far away from my screen...

[2019-07-19 00:37] mrmin123 commented on #367
@stackhanovets what OS were those screenshots taken on?

[2019-07-19 02:33] stackhanovets commented on #367
@mrmin123 Windows7 SP1 x64 MSDN w/ anti-aliasing enabled by default.

[2019-07-19 06:40] #367 closed, assigned to mrmin123

[2019-07-19 06:59] mrmin123 commented on #367
@stackhanovets thanks, wanted to confirm that it wasn't on *nix. Issue is resolved as of 7.5.0

[2019-07-20 00:12] Kiras756 opened #371 "Expeditions doesn't run."
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.5.0
* Viewer/browser: Opera
* Operating system and/or VM: Windows XP SP3

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?: consistent

#### Issue

Kcauto trying to sent expeditions, but fails every time. I'm tried to put lower text_

[2019-07-20 00:14] Kiras756 commented on #371
https://funkyimg.com/i/2VBGr.png

[2019-07-20 02:49] mrmin123 commented on #371
As of 7.5.0, the `TEXT_SIMILARITY` flag no longer has an impact on the expedition module as the expedition module is now mainly reliant on OCR. I believe the difference in font-rendering, however, continues to cause issues, even for OCR.

Could you add this line after line 188 in `expedition.py` and report back the logs?:
[code]

[2019-07-20 02:54] mrmin123 commented on #371
Also, try turning on ClearType..:

* [Windows XP](https://www.itprotoday.com/cloud-computing/how-do-i-enable-cleartype-windows-xp)
* [Windows 7, 8, 10](https://www.howtogeek.com/howto/28790/tweak-cleartype-in-windows-7/)

[2019-07-20 03:18] Kiras756 commented on #371
Turning on ClearType has no effect.

Tried to put code-line
https://funkyimg.com/i/2VBM5.png
but KCauto returns an error
[code]

[2019-07-20 03:25] mrmin123 commented on #371
Make sure you're using spaces to indent, not tabs.

[2019-07-20 03:28] mrmin123 commented on #371
Also, are you sure ClearType is turned on? I'd expect it to look like something like this, with anti-aliased fonts:

![](https://user-images.githubusercontent.com/16455270/61460015-999dc700-a976-11e9-9d05-ee29b7f0d66b.png)

[2019-07-20 03:44] Kiras756 commented on #371
Honestly, I see no effect on digits.
https://funkyimg.com/i/2VBN7.png

ow, okay, but nothing new
[code]

[2019-07-20 03:53] mrmin123 commented on #371
Interesting. The issue isn't actually the OCR of the expedition number... it's the matching on the expedition rank:

![image](https://user-images.githubusercontent.com/4326866/61573641-f678aa80-aa66-11e9-8de5-ef838396d238.png)

(non-black in that square highlights differences)

Try changing line 182 from
[code]

to

[code]

If this also fails, you might have to generate your own captures of the `e

[2019-07-20 03:59] Kiras756 commented on #371
Changing line 182 helped! Now all expeditions successfully sent!

[2019-07-20 04:02] mrmin123 commented on #371
Cool. Let's keep this open for a bit more while I ascertain if this should be part of the main codebase or a spotfix.

[2019-07-20 14:49] Kiras756 commented on #371
hmm
seems like not all is good
sometimes KCauto return the same error, what before

[code]

It can happen right after start script or some time later, for a while I use wscript for restart KCauto every time after error exit.

[2019-07-20 16:38] mrmin123 commented on #371
@Kiras756 try increasing the wait in L171 (`Util.kc_sleep(2)`).

[2019-07-20 20:14] Kiras756 commented on #371
I will report when pass enough time.

[2019-07-21 12:05] Kiras756 commented on #371
Well, KCauto already run for about 20.5 hours without any error.

[2019-07-22 06:08] mrmin123 commented on #371
A combination of increasing the wait on L171 to `2` and increasing the region padding on L186 to `38` seems to have resolved the issue for most individuals reporting the issue. Will test a bit further before cutting a release.

[2019-08-08 13:58] ElementOfCoffee opened #372 "Expedition timer was changed"
* kcauto version: 7.5.0
* Viewer: Chrome
* OS: Win10

In the last patch, the expedition timer was changed, which led to the inoperability of the entire expedition module. Updating the file **expedition_timer.png** by address **../kcauto/kcauto.sikuli/expedition.sikuli** solves the problem. The updated file is attached below.

![expedition_timer](https://user-images.githubusercontent.com/28761772/6

[2019-08-08 14:13] ForsakenRei commented on #372
I cannot send expedition out for fleet 3 and 4 after today's update. But fleet 2 works totally fine.
I think the timer has two different colors? One is darker at the beginning of the expedition, the other is the one attached with a lighter green when the expedition is towards to ending.

[2019-08-08 14:49] perryhuynh commented on #372
It's because the fleet icons were changed, for time time being if you want to do expeditions, you can generate your own assets for the following in `kcauto.sikuli/fleet.sikuli`:
[code]
as well as change the following:
https://github.com/mrmin123/kcauto/blob/e52c6ec68a7eb703f4512073c7d97d81f43d0d39/kcauto.sikuli/fleet.sikuli/fleet.py#L81-L82

to use `.similar(0.97)` instead of `.exact()`

[2019-08-08 15:15] ForsakenRei commented on #372
Yeah thanks. I found those files but not sure which section of code I need change. While it is just a temp fix so it should be fine for today. Will wait for new release.

[2019-08-08 15:59] perryhuynh commented on #372
Its in the snippet lol, Line 81 and 82 of `fleet.py`

You change it to
[code]

[2019-08-08 16:03] ForsakenRei commented on #372
I mean...after your last comment I know I need change them lol. Anyway thanks.

[2019-08-08 17:01] mrmin123 commented on #372
I won't be able to assess the changes until later tonight but I'll take a look then. Thanks for the report and (temporary?) fix.

[2019-08-09 01:34] perryhuynh opened #373 "Regenerate Fleet Number Assets"
It looks like the latest update broke fleet number related functionality. I've regenerated assets for the following so far and will attach them below:
`kcauto.sikuli/fleet.sikuli/fleet_1.png`
![image](https://user-images.githubusercontent.com/9361780/62747772-c8094200-ba0a-11e9-9977-3ac7c1c7a4c1.png)

`kcauto.sikuli/fleet.sikuli/fleet_1_active.png`
![image](https://user-images.githubusercontent.co

[2019-08-09 03:15] kenahamtan commented on #371
I started to have issue with exp 05 after 8/8 update.  No issue with 15,25,35.

OCR of 05 became 0S

]9;11;"java.exe: ExtSetAttributes(0x0E)"\]9;11;"java.exe: ExtSetAttributes(0x07)"\[94m[2019-08-09 07:42:08] Sortieing fleet 3 to expedition 5[0m
]9;11;"java.exe: ExtSetAttributes(0x09)"\]9;11;"java.exe: ExtSetAttributes(0x07)"\[log] CLICK on L(241,1012)@S(0)[0,0 1920x1080] (531 msec)
0S
0

[2019-08-09 04:29] kenahamtan commented on #371
I added this after line 188 in expedition.py

expedition_name = expedition_name.replace('S', '5')

seems to work for exp 05 for now.

[2019-08-09 06:36] mrmin123 commented on #372
Relevant fixes in #373

[2019-08-09 08:04] #371 closed, assigned to mrmin123

[2019-08-09 08:04] #372 closed, assigned to mrmin123

[2019-08-09 08:04] #373 closed, assigned to mrmin123

[2019-08-24 12:01] stackhanovets opened #376 "Unable to send the A2 expedition"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.5.1 / 8d7ba3c
* Viewer/browser: Google Chrome 78 w/ KC3Kai
* Operating system and/or VM: Win7 x6

[2019-08-26 16:00] ForsakenRei commented on #376
Same here. Did you also finish A4? I think before that A2 worked fine on my end.

[2019-08-26 16:44] stackhanovets commented on #376
Nope.

![w1](https://user-images.githubusercontent.com/16455270/63707153-e8723280-c839-11e9-98fd-a62b51f21f3c.png)

[2019-08-26 16:52] ForsakenRei commented on #376
Hmmm...
My A2 is assigned to fleet 2 and I even cannot send any other expeditions with fleet 2 for a few trails. A restart of both kcauto and 74eo fixed it but still not work with A2. I use KAGA and the script will stuck on sending A2 out then crash and retry. It looks like it cannot find A2...

[2019-08-26 18:52] mrmin123 commented on #376
I haven't had a chance to look into this further but I suspect this is
another OCR issue. Can someone confirm by adding some print statements to
the logs for what the identified OCR value is, and/or modifying the OCR
capture field by a few pixels?

On Mon, Aug 26, 2019 at 9:52 AM ForsakenRei <notifications@github.com>
wrote:

[2019-08-26 21:07] Kiras756 commented on #376
I'm also have OCR error, but tied up with timer.
(some time later I'll create dedicated thread)

[2019-08-27 02:09] Kiras756 opened #377 "OCR timer error"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.5.1
* Viewer/browser: Opera
* Operating system and/or VM: Windows XP SP3

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?: consistent

#### Issue

Sometimes, when KCauto trying to send expedition... well, you can see from log. This

[2019-08-27 13:13] stackhanovets commented on #377
I'm also facing the issue from time to time. By the way, it usually resolves itself: I've mocked the main launching command into the `while true; do ...; done` statement. Not helpful at all but working.

[2019-08-28 02:34] Kiras756 commented on #377
hmm
Really, sometimes script runs with no one error and sometimes with nonstop errors...
Maybe some fonts or assets on expedition screen loads not properly from time to time?

[2019-08-29 05:48] mrmin123 opened #378 "2019 Summer Event Support"
Ready your buckets.

[2019-08-29 05:52] mrmin123 commented on #377
What does the timer actually ready? 00:00?

As always it's difficult to debug and account for every way that TesseractOCR can go. The next iteration of kcauto should, however, eliminate most of these issues...

And could you jog my memory, what was the change on L182 again?

[2019-08-29 12:44] Kiras756 commented on #377
about L182
https://github.com/mrmin123/kcauto/issues/371#issuecomment-513433077

[2019-08-29 16:53] Kiras756 commented on #377
no, it can be when KCauto just check running expedition after start or when KCauto start the expedition

[2019-09-01 19:21] mrmin123 commented on #378
Initial Summer Event support provided by @perryhuynh in branch [**378-2019-summer-event**](https://github.com/mrmin123/kcauto/tree/378-2019-summer-event).

Please use `git fetch` then `git checkout 378-2019-summer-event` to switch to this in-development branch, and `git pull` to keep it up-to-date.

[2019-09-06 01:39] perryhuynh opened #380 "Combined Fleet formations invalid for Transport Combined Fleet"
#### Issue variability
Consistent

#### Issue
https://github.com/mrmin123/kcauto/blob/8d7ba3c45a5af1935072bf9195a7ae2ffc484360/kcauto.sikuli/config.sikuli/config_combat.py#L144

It looks like `'transport'` is not in the valid fleet modes when using combined fleet formations.

#### Log
[code]

[2019-09-06 05:07] mrmin123 commented on #380
Thanks for the fix. Merged into the event branch. Track in #378.

[2019-09-06 05:08] #380 closed, assigned to perryhuynh

[2019-09-22 15:28] Kiras756 commented on #377
welp, KCauto doesn't see expedition 11 at all... awaiting for update...

[2019-09-23 10:03] Kiras756 commented on #377
[code]
OCR troubles

[2019-09-24 04:09] mrmin123 commented on #377
As 100% of my time on kcauto is on the next iteration (complete re-write) of the program, this issue is unfortunately in the will-not-fix category. You'll have to avoid these problematic expeditions for the time being.

[2019-10-01 02:20] yuukoani opened #383 "Opera support?"
Hello!
I've switched to Opera browser to play Kancolle and now I have trouble with kcauto. It can not focus on Opera even though I've changed the name Chrome to Opera / Opera Browser in config.ini. If I change back to Chrome, it starts working again.

Thank you!

[2019-10-01 04:15] cplusx opened #384 "Ship switch navigation error on last page"
## Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.5.1
* Viewer/browser: chrome
* Operating system and/or VM: macos

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Can be reproduced consistently

#### Issue

Please provide a thorough description of the issue. Screenshots, videos, or

[2019-10-02 19:53] cplusx commented on #384
After reading code, I found the reason is because script can not find matching ship and keep on navigating to next page. The solution is to reduce `SHIP_LIST_SIMILARITY` in global setting. I'm gonna close this issue

[2019-10-02 19:53] #384 closed, assigned to nobody

[2019-10-17 05:14] #378 closed, assigned to mrmin123

[2019-10-18 13:29] ForsakenRei commented on #376
@stackhanovets Somehow I fixed the problem on my end. The font rendering of my browser is different from the screenshots that kcauto uses. Just like your screenshot, all my characters will be bolder than them in kcauto's original screenshots. Therefore I made new screenshots for A2 and A3 and they are fine now. You can try to use the attached files or make new screenshots by yourself.

![expeditio

[2019-10-18 17:22] mrmin123 commented on #376
Please note that the above workaround is only applicable in kcauto versions older than 7.4.0. 7.4.0+ attempts to use OCR to determine the expedition to perhaps even less success.

The next version of kcauto will not have this problem.

[2019-10-18 17:35] ForsakenRei commented on #376
Thanks for let us know.

[2019-11-28 22:30] ForsakenRei opened #389 "Cannot Find Expeditions"
kcauto 7.5.1
KAGA
74EO
Windows 10 VM

Cannot find any expeditions suddenly(after the maintenance I think?). I checked the log and the expeditions files under /kcauto/kcauto.sikuli/expedition.sikuli and compared them with what I saw in the game. It seems my rendering of font is different from the screenshot in kcauto(see below).
![20191128172326](https://user-images.githubusercontent.com/23041178/6

[2019-11-28 23:38] ForsakenRei commented on #389
Problem solved. Seems my game resolution also changed so the change I made doesn't work. Reset everything and now it's fine.

[2019-11-28 23:38] #389 closed, assigned to nobody

[2019-11-29 00:32] mrmin123 commented on #383
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto is now compatible only with Chrome. Sorry!

[2019-11-29 00:32] #383 closed, assigned to nobody

[2019-11-29 00:32] mrmin123 commented on #377
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto no longer relies on OCR.

[2019-11-29 00:32] #377 closed, assigned to nobody

[2019-11-29 00:33] mrmin123 commented on #376
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto no longer relies on OCR.

[2019-11-29 00:33] #376 closed, assigned to nobody

[2019-11-29 00:33] mrmin123 commented on #365
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto now has Passive Repair capabilities.

[2019-11-29 00:33] #365 closed, assigned to nobody

[2019-11-29 00:33] mrmin123 commented on #155
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto now has Passive Repair capabilities.

[2019-11-29 00:33] #155 closed, assigned to mrmin123

[2019-11-29 00:34] #360 closed, assigned to nobody

[2019-11-29 00:34] #328 closed, assigned to nobody

[2019-11-29 00:35] #280 closed, assigned to mrmin123

[2019-11-29 00:35] #194 closed, assigned to nobody

[2019-11-29 00:35] mrmin123 commented on #356
For better or for worse kcauto [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) no longer recovers on white screens.

[2019-11-29 00:35] #356 closed, assigned to nobody

[2019-11-29 00:36] mrmin123 commented on #355
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto now checks the map list API to ascertain whether a map has been cleared or not.

[2019-11-29 00:36] #355 closed, assigned to nobody

[2019-11-29 00:36] mrmin123 commented on #292
I believe this is resolved as of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1).

[2019-11-29 00:36] #292 closed, assigned to mrmin123

[2019-11-29 00:37] mrmin123 commented on #273
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto no longer uses Sikuli, nor does it automatically switch to the browser window. You'll have to do this manually after starting the script...

[2019-11-29 00:37] #273 closed, assigned to nobody

[2019-11-29 00:38] mrmin123 commented on #138
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) the webUI no longer exists.

[2019-11-29 00:38] #138 closed, assigned to mrmin123

[2019-11-29 00:38] mrmin123 commented on #191
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto has undergone a rewrite. This issue may or may not exist anymore.

[2019-11-29 00:38] #191 closed, assigned to nobody

[2019-11-29 00:38] mrmin123 commented on #28
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto no longer has a webUI.

[2019-11-29 00:38] #28 closed, assigned to nobody

[2019-11-29 00:39] mrmin123 commented on #34
As of [v8.0.0-rc1](https://github.com/mrmin123/kcauto/releases/tag/v8.0.0-rc1) kcauto no longer has a webUI. The solution for this in the new GUI might be more descriptive names for the combined fleet formation options.

[2019-11-29 00:39] #34 closed, assigned to nobody

[2019-11-29 00:50] mrmin123 opened #390 "[Event] 2019 Fall Event Support"
* Needs panel and next-page visual assets
* Needs map json assets with node names and locations and edges (new with v8.0.0-rc1)

[2019-11-29 00:52] mrmin123 opened #391 "[Housekeeping] Additional docs"
Many classes and methods are still missing in-line documentation. Fill these out before I forget...

[2019-11-29 01:09] ForsakenRei commented on #391
Maybe off topic but can 8.0 run with game browser like 74EO (https://github.com/andanteyk/ElectronicObserver)? It's based on cefsharp (http://cefsharp.github.io/) so it should be a Chromium based browser?

[2019-11-29 01:42] mrmin123 commented on #391
@ForsakenRei I've not tested this but it theoretically is possible! As long as the Chromium-based app can run with the remote debugging port open (and pyChromeDevTools can hook into it), it should be possible.

[2019-11-29 01:51] ForsakenRei commented on #391
Thanks. There is a way to set a port that can be listened by other app but I suppose it is different from the remove debugging port...? I will try it out.

[2019-11-30 07:38] mrmin123 commented on #390
[`390-2019-fall-event`](https://github.com/mrmin123/kcauto/tree/390-2019-fall-event); preliminary data courtesy of @perryhuynh

[2019-11-30 07:57] mrmin123 opened #393 "[gui] Remember last used config file"

[2019-11-30 08:00] mrmin123 opened #394 "yuu bot integration"
Courtesy of @waicool20

`POST https://yuu.waicool20.com/api/user/{apikey}/stats`:

[code]

`POST https://yuu.waicool20.com/api/user/{apikey}/crashed`:

[code]

[2019-11-30 08:02] mrmin123 commented on #394
@waicool20 how does the user authenticate or handshake with Yuu?

[2019-11-30 08:16] waicool20 commented on #394
The user gets an api key by issuing a command in discord which they should save into the script. After that its just fill in the blanks according to the examples above.

[2019-11-30 08:33] mrmin123 commented on #394
Oh I just saw the `apikey` portion in the URL. That explains it, thanks.

[2019-12-01 23:57] mrmin123 commented on #390
Pushed a number of changes to the event branch that should fix navigation to the event maps.

[2019-12-01 23:58] mrmin123 opened #396 "kcauto in CLI mode starts GUI after crashing"
????

[2019-12-02 00:00] mrmin123 opened #397 "Chome Driver bugs"
* When starting kancolle, it seems to have issues with generating the JSON data?
* Navigation issues to Quest:
[code]

[2019-12-02 08:52] mrmin123 commented on #390
Event branch has been updated multiple times with fixes and updates to both panel and json asset updates. Additional changes:
* Add logic to dismiss boss dialogues
* Fix so that event reset does not fire even when it is disabled

[2019-12-02 19:46] waicool20 commented on #394
Forgot to add this but you can check if an api key is valid using the following call
`GET https://yuu.waicool20.com/api/user/{apikey}`
It'll either return 200 OK or 404 Not Found

[2019-12-03 05:12] cplusx opened #401 "kcauto does not start on macOS"
* kcauto version (version on first line of `CHANGELOG.md`):v8.0.0-rc1
* Operating system and/or VM: MacOS catalina

Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?: Yes

Please provide a thorough description of the issue. Screenshots, videos, or at least a step-by-step description of what is happening in the game is typically necessary to de

[2019-12-03 06:06] perryhuynh commented on #401
Likely due to `You are running on OSX, and that OS has strict guidelines for the appearance of buttons. You can't change the relief on buttons on OSX.`

Source: https://stackoverflow.com/a/45035271

[2019-12-03 06:09] mrmin123 commented on #401
kcauto is largely untested on OSX. That said, for your current issue you can remove the two lines here:

https://github.com/mrmin123/kcauto/blob/master/kcauto/gui/layout_base.py#L180-L181

and run it again.

[2019-12-03 06:19] cplusx commented on #401
The `relief` issue is solved, but got another tkinter error
`_tkinter.TclError: unknown option "-fg"`
Do you have any idea about which file should I locate?
I searched for keyword, there is no explicit assignment of `fg=xxx`

[2019-12-03 06:22] perryhuynh commented on #401
the CLI should run without issues, the flag is `--cli` you were missing a `-`

as for the `-fg` option, theres multiple usages of it in `config_tab_buttons.py` and `gui_tab_buttons.py`

In order to get it running on OSX you may need to also install [pyobjc](https://pypi.org/project/pyobjc/)

[2019-12-04 07:40] stackhanovets opened #403 "Scrapping common drops"
I know this is a bit long story about one of the most annoying parts of this game, but I finally see the opportunity because we've got rid of OCR limitations.  Moreover, my own Chinjufu slots are feeling bad now. And I personally do not want to buy more as of yet.

Could you please provide the logic to scrap certain shipgirls (with or without equip) from a customizable (nested?) blacklist triggeri

[2019-12-04 21:24] cplusx opened #406 "Combined fleet formation name mismatch cause script stop"
There is a name mismatch in the combined fleet formation, which causes script stop when choosing formation. The name in [`kcauto/kca_enums/formation.py`](https://github.com/mrmin123/kcauto/blob/390-2019-fall-event/kcauto/kca_enums/formations.py) is `combined_fleet_x` while in the [`kcauto/util/kca.py`](https://github.com/mrmin123/kcauto/blob/390-2019-fall-event/kcauto/util/kca.py) it is `formation

[2019-12-04 21:25] perryhuynh commented on #406
#405

Already fixed, please pull latest

[2019-12-04 21:27] mrmin123 commented on #406
To clarify, pull the latest ` 390-2019-fall-event ` branch.

[2019-12-04 21:27] #406 closed, assigned to nobody

[2019-12-04 22:54] perryhuynh commented on #406
@cplusx I forgot to update the references in code, so once the 2nd PR is merged it should work (for real this time)

[2019-12-05 00:34] perryhuynh opened #408 "Support expeditions being sent after combat module is disabled"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 8.0.0

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?: Consistent

#### Issue
Support expeditions should no longer be sent after the combat module is disabled

#### Log
[code]

[2019-12-05 04:07] perryhuynh opened #410 "Reimplement FCF functionality"
Looks like the FCF functionality still needs to be reimplemented

[2019-12-05 08:07] mrmin123 commented on #408
The `should_and_able_to_sortie` method was capable of returning `True` even when the combat module was disabled. This has been corrected in the `390-2019-fall-event` branch.

[2019-12-05 08:07] #408 closed, assigned to mrmin123

[2019-12-05 09:05] mrmin123 opened #411 "Results Recovery only attempts recovery on first results screen"
So I don't forget. This should attempt results recovery until it fails.

[2019-12-06 14:15] perryhuynh opened #412 "Crashing when updating ship HPs in combined fleet with less than 12 ships"
#### Issue variability
Consistent

#### Issue
When using a combined fleet with <6 ships in the main fleet kcauto uses the wrong indexes to calculate hps and update hps, leading to an index out of range error.

Sample API response:
[code]

#### Log
[code]

[2019-12-06 17:08] PySimpleGUI opened #414 "Trouble launching under windows - import errors"
#### Environment details

* kcauto version "v8.0.0-rc1"

* Operating system - Windows 10

#### Issue variability

Every time

#### Issue

Having trouble running both on the command line and launching via PyCharm.

I'm sure I've not done something right with the setup.  Do I need to modify my paths?

#### Log
[code]

[2019-12-06 17:11] PySimpleGUI commented on #401
Note that PySimpleGUI Buttons recently changed for the Mac.  They are no longer tk.Button but instead ttk.Button.  You can force them to be either one but for the Mac the default is ttk buttons.  If using the `.Widget` extension of PySimpleGUI then you'll likely run into problems if originally used the settings using tk.Button parameters.

[2019-12-06 17:12] perryhuynh commented on #414
You're in the wrong directory, you should be one directory up in the root level of the project at
 `C:\Python\PycharmProjects\GooeyGUI\User Submitted Programs\kcauto-390-2019-fall-event`

and launching with the just the command `python kcauto`

[2019-12-06 17:13] PySimpleGUI opened #415 "[Feature Request] Screen shots in the Readme"
Since there's a GUI for the project, it's helpful to see some screenshots in the readme.

[2019-12-06 18:29] PySimpleGUI commented on #414
I tried going up and level and also tried it in another folder / drive to be sure nothing in that tree was in the way.

[code]

[2019-12-06 19:48] mrmin123 commented on #412
I hate their API.

[2019-12-06 19:57] mrmin123 commented on #414
@PySimpleGUI I don't use Anaconda but a quick search leads me to [this](https://stackoverflow.com/a/53192407), which seems to imply that you need to add the directory to `PYTHONPATH`. On the other hand, I also found [this](https://stackoverflow.com/questions/39449725/python-modul-not-found-after-anaconda-installation), which says to not modify `PYTHONPATH` and instead install the package in the An

[2019-12-06 20:38] PySimpleGUI commented on #414
I added the project's folder as well as the next level down to PYTHONPATH and I still get errors due to imports.

It's OK.  I'm not a user so it's not important.  I just wanted to see what your GUI looked like.

This is the first Python program I've run into with these kind of import problems.  I would think executing from the project's home folder would be enough as that's what I normally do for

[2019-12-06 20:57] mrmin123 commented on #414
I think your `python` command is pointing to an Anaconda3 install of python, judging by your stacktrace:

[code]

I'd try again with a non-Anaconda version of python 3.7, if you have one handy.

[2019-12-06 20:58] mrmin123 commented on #414
Thanks for pySimpleGui, btw. I definitely have some feedback/feature requests which I'll probably post on the subreddit or github.

[2019-12-06 21:19] PySimpleGUI commented on #414
Glad you like using PySimpleGUI.

Please submit new feature requests only on the GitHub.

[2019-12-06 21:54] PySimpleGUI commented on #414
Got it working with 3.7.5.  Fresh install + install of matplotlib got it up and running.

I went to the project's folder and ran `python kcauto`

You'll definitely be interested in the last couple of PySimpleGUI releases as the ttk styles are finally working correctly.  You can also change the ttk theme for the window now and the elements all style themselves correctly.  This is particularly good

[2019-12-06 23:13] PySimpleGUI commented on #415
Would it be OK if I were to post screenshots of your application?  There is a section on the GitHub for user screenshots that I would love to post some screenshots from your application.  Would you be OK with me taking and posting some?

I've been playing with different TTK themes and "look and feel" settings as well.  They're easy and fun to play with as they are 1-line changes for both the ttk t

[2019-12-07 08:38] mrmin123 commented on #410
Are you still running FCF? Please post the combat data from a combat node post-FCF if you can..

[2019-12-07 08:45] mrmin123 commented on #412
Should be fixed now in the event branch.

[2019-12-07 08:45] #412 closed, assigned to mrmin123

[2019-12-07 08:48] mrmin123 commented on #415
Sure! I'll add screenshots to kcauto's readme when I get the chance.

[2019-12-07 09:08] mrmin123 commented on #410
And the resulting `kcsapi/api_get_member/ship_deck` API response.

[2019-12-07 14:14] perryhuynh commented on #412
@mrmin123

[code]

Didn't happen until the 2nd battle
[code]

here's the entire `battle_water` response

[2019-12-08 01:42] perryhuynh opened #416 "Modify port check for events to include equipment slots"
Relevant sortie requirements for events:
[code]

[2019-12-08 02:52] PySimpleGUI opened #417 "[Question] How are you simulating tabs?"
I was going to suggest that you upgrade to version 4.9.0 of PySimpleGUI that was just released as the Tab styling is working properly.  They look really good now.

But then realized you're not actually using tabs.

What are you using to make the "tabs" appear / disappear.  Are they Column elements that are each invisible until you click a button?  It's an interesting construct that I've not seen b

[2019-12-08 18:26] mrmin123 commented on #412
@perryhuynh can you DM me the replay file for when this happened?

[2019-12-10 16:04] tsuki-tsuki commented on #390
Node recognition sometimes missed when using v8.
Is this known issue?

Also can night battle settings use old mode (battle num.) from GUI? When manually edit the config file, kcauto can read it as expected, but there's no option to add using battle num. from GUI.

Overall, loving this new implementation. Still not as stable as the old one, but consumes less CPU than before. Keep up the good job!

[2019-12-10 18:41] mrmin123 commented on #390
@tsuki-tsuki the inability to specify node by count for night battles is a bug. I'll fix that eventually, but for now please modify the config manually. Apologies for the inconvenience.

As for the node recognition, I'm not sure what you mean by this? Are you saying that sometimes kcauto doesn't understand that it arrived at a new node? aka gets stuck in a loop before choosing a formation?

And th

[2019-12-10 18:44] mrmin123 commented on #416
I remember looking into this early on in development and found that equipment count is actually very difficult to find. The only place I found it in the API was when you went into the player profile page. That said, I haven't looked into it again since so I might have missed it somewhere obvious, but for now this is a known shippable.

[2019-12-10 18:55] mrmin123 commented on #417
@PySimpleGUI I moved away from the Tkinter tabs for the GUI because I found the Tkinter's built-in tabs somewhat limiting in terms of customization. I wanted button-style tabs. So that's what I implemented; the tab buttons are actually Button elements, and like you guessed the tab content themselves are in [Columns that have their visibility toggled](https://github.com/mrmin123/kcauto/blob/390-201

[2019-12-10 20:17] PySimpleGUI commented on #417
You didn't ask any questions on the PySimpleGUI GitHub??  And just did all this?  Wow, you're either really skilled or I'm just lucky that just enough stuff worked that you found a way to do all this.

It's a really slick interface that I wouldn't have thought was PySimpleGUI based.

I want to check on making Tabs stack on top each other in multiple rows.  At the moment they all expand horizontall

[2019-12-10 20:27] PySimpleGUI commented on #417
Here's an options for using tabs..... change the location to the side?

![image](https://user-images.githubusercontent.com/46163555/70566128-73fd9e00-1b61-11ea-8f51-be1a6cdb453f.png)

They are looking a lot better now for sure due to the correct styling.

Not sure how difficult it would be for you to pop your columns into tabs but could be interesting to check some day now that they look good.  Yo

[2019-12-11 01:42] PySimpleGUI commented on #417
Oh, also I forgot to mention that there's a [`Sizer` Element](https://pysimplegui.readthedocs.io/en/latest/#sizer-element) that can be used to expand a column to a specific size.  You achieved something similar I think with your empty columns.

Haven't researched multi-row tabs yet, but did manage to release 4.11 today.

[2019-12-11 08:38] tsuki-tsuki commented on #390
Either stuck in formation select, or it mistakes current node as another node.
I'll try to see if that happens again, and post the log later.

Also sometimes expedition module also stuck at In expedition status even when the fleet has returned and expected return time has passed.

[2019-12-11 10:31] loadinglab3 opened #422 "Error _tkinter.TclError: unknown option "-relief""
When I try to run kcauto I go the following error message.

`[2019-12-11 02:13:06] Initializing kcauto vv8.0.0-rc1 GUI.
[2019-12-11 02:13:06] Starting kcauto GUI.
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/Library/Frameworks/Python.framework/Versions/3.7/li

[2019-12-11 10:53] loadinglab3 commented on #422
CLI mode might work but I am not sure how to edit the config.json... Is there a guide about what to put in each category?

[2019-12-11 13:10] tsuki-tsuki commented on #390
Here's the expedition log.
Should I just open an issue?

<details>
<summary>Expedition stuck log</summary>
[2019-12-12 01:30:21] kcauto has been running for 0d 3h 16m 48s (loop 51).

[2019-12-12 01:30:21] Next sortie at 2019-12-11 23:15:19 / 5 sorties (1.52/hr) / 20 nodes fought (6.10/hr) / 3 ships rescued (0.91/hr) / 1 (0.30/hr)

[2019-12-12 01:30:21] 1 Expeditions sent (0.30/hr) / 5 Expeditions

[2019-12-11 15:38] perryhuynh commented on #422
#401

Known issue on OSX there should be a "fix" in the issue I referenced

[2019-12-11 18:05] #422 closed, assigned to nobody

[2019-12-12 01:51] aleksandercs opened #423 "Resupply Issue"
I encountered the same problem with 3.7.5. Is there something I should do?

Traceback (most recent call last):
  File "C:\python\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\python\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "kcauto\__main__.py", line 19, in <module>
    kcauto_main()
  File "kcauto\kcauto_wrapper.py", line 32, in

[2019-12-12 08:41] mrmin123 commented on #423
Did you start kcauto with the game in the splash screen when you ran it the first time? It needs to be run from the splash screen to download all the necessary ship data.

[2019-12-12 08:43] mrmin123 commented on #410
I've added some logic necessary for FCF, but am waiting on API responses to be able to finalize it.

The changes also have rudimentary support for #94, although it needs update to the config handler and GUI to be fully implemented.

[2019-12-12 08:48] mrmin123 commented on #390
@tsuki-tsuki yea, open another issue please to track the issue. Please also include the config file. How did kcauto send only 1 expedition but receive 5? Did you manually send expeditions?

Also, you should now be able to specify night battles by node number in the GUI.

[2019-12-12 09:24] aleksandercs commented on #423
Everything works perfectly. Thank you.

[2019-12-12 09:25] #423 closed, assigned to nobody

[2019-12-15 20:45] stackhanovets commented on #403
Relevant [KC3Kai data](https://github.com/KC3Kai/KC3Kai/blob/master/src/data/WhoCallsTheFleet_ships.nedb).

[2019-12-15 21:05] stackhanovets commented on #416
@mrmin123 Please try digging [into this](https://github.com/KC3Kai/KC3Kai/blob/c71440d99da2eb2e1d667ed138738a6a087facd3/src/library/modules/Kcsapi.js#L68). KC3Kai does not need an opened profile page but the main screen only.

[2019-12-15 21:31] mrmin123 commented on #403
[kcauto already loads WCTF data](https://github.com/mrmin123/kcauto/blob/390-2019-fall-event/kcauto/util/wctf.py).

[2019-12-15 21:35] mrmin123 commented on #416
I am familiar with the `require_info` payload. kcauto [already uses it](https://github.com/mrmin123/kcauto/blob/4da31a5d3a4c5c84d2649bee10a43723a61381db/kcauto/api/api_core.py#L211) to determine whether the player has provisional resupply or not. This API call only occurs when loading the game the first time, making it useless for determining the inventory size in real-time. For this, I need the d

[2019-12-15 21:47] Danielosama commented on #397
@mrmin123  Just to be sure, the "Chrome Driver" option doesn't work correctly right?
I've been trying to do a single run of 1-1 as a test, but it would just try to Refresh Home without success ad nauseam.

[2019-12-15 21:49] mrmin123 commented on #397
Yea I've heard weird reports of kcauto not playing well with Chrome Driver, such as this refresh bug. I still haven't had a chance to sit down and pin it down, so I'd suggest sticking to the Direct Control driver for now. I'll update this ticket when I have more info.

[2019-12-21 09:44] mrmin123 commented on #410
5th ship in escort fleet taiha'ed, retreating with 3rd ship in escort fleet. Relevant portions in json responses are as follows.

`kcsapi/api_req_sortie/battleresult`; contains api showing 1-based idx for ships to escape and ships that can escort:

[code]

`kcsapi/api_req_combined_battle/goback_port`; might as well be empty:

[code]

`kcsapi/api_get_member/ship_deck`; retreated ships have fuel val

[2019-12-22 06:23] yjjieqc opened #425 "Ship switcher and Quest module work wrong"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):v8.0.0-rc1
* Operating system and/or VM:Windows 10 VM
* Python Version: python3.7.6

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Yes
#### Issue
I mask quest Bd7 in quest module, but kcauto always deactivate the quest. Another ques

[2019-12-22 15:47] stackhanovets opened #426 "Verifying LBAS resupply"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):  v8.0.0-rc1
* Operating system and/or VM: Win7 x64 MSDN SP1

#### Issue variability
[code]
Intermi

[2019-12-22 15:52] stackhanovets commented on #425
The game tab must be active and the related Chrome window must be on top. Is it so?

[2019-12-24 07:15] ly2314 opened #427 "PySimpleGUI 4.7.0 Not Available on pip"
Hello,

I got this error today:
ERROR: Could not find a version that satisfies the requirement PySimpleGUI==4.7.0 (from -r requirements.txt (line 5)) (from versions: 2.7.0, 2.30.0, 3.39.0, 4.0.0, 4.11.0, 4.12.0, 4.13.0, 4.13.1, 4.14.0)
ERROR: No matching distribution found for PySimpleGUI==4.7.0 (from -r requirements.txt (line 5))

Seems PySimpleGUI 4.7.0 is not available on pip anymore, version 4

[2019-12-24 14:42] JamesHayden opened #428 "node find failed"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): v8.0.0-rc1
* Operating system and/or VM: WIN10

#### Issue variability
Is the issue consistent (ca

[2019-12-25 01:12] perryhuynh opened #429 "Bump up PySimpleGUI Version"
https://github.com/PySimpleGUI/PySimpleGUI/issues/2270

https://pypi.org/project/PySimpleGUI/#history

It looks like 4.7.0 has since been nuked from PyPI so it will fail to install

[2019-12-25 08:01] mrmin123 commented on #429
Duplicate of #427. Fixed in 9420219ada37ae8abfc20347d45f5d79e802d034

[2019-12-25 08:01] #429 closed, assigned to nobody

[2019-12-25 08:01] mrmin123 commented on #427
Fixed in 9420219ada37ae8abfc20347d45f5d79e802d034

[2019-12-25 08:01] #427 closed, assigned to nobody

[2019-12-25 11:47] yjjieqc commented on #425
YES. I start chrome with this command```chrome.exe --remote-debugging-port=9222 http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/```,  only one tab in chrome and start kcauto at start page. but kcauto can't find the game page.

[2019-12-25 19:26] stackhanovets commented on #425
Well, I do not think starting a browser from the console is a good practice since you can easily launch it with escalated privileges. Try to create new shortcut with required arguments. But if you've decided to use an in-house batch script, you can try something like this...

[code]

[2019-12-30 19:30] perryhuynh opened #430 "Leverage WCTF Data in Ship Switcher"
Currently, finding ship ids to select for ship switcher is somewhat of a pain. Since we already have the WCTF data, it might be a good idea to use it for some sort of filterable list the user can search through to select ships for ship switcher as well.

Relevant JSON Snippet:

[code]

The ID used by ship switcher is the `no` key

[2019-12-30 19:38] mrmin123 commented on #430
Please expand on this request. The ship switcher already uses the `sortno` ID for matching.

[2019-12-30 19:41] mrmin123 commented on #428
I need additional information to even begin debugging this. Enable debug logs in kcauto and provide updated relevant logs. Also, I'd need to see the payload from the `kcsapi/api_req_map/next` (or whatever the game is getting node results from) when this happens, which is accessible from the Chrome Dev Console's network tab.

[2019-12-30 20:48] mrmin123 commented on #426
@stackhanovets I've pushed some code to the event branch that makes the fleet and LBAS resupply actions dependent on API responses. Please give this a shot to see if it's more reliable.

[2019-12-31 12:48] JamesHayden commented on #428
**normal**
![normal](https://user-images.githubusercontent.com/43179733/71622139-1cf66080-2c17-11ea-9176-eb50e8be70c0.PNG)

**abnormal**
![abnormal](https://user-images.githubusercontent.com/43179733/71622145-2384d800-2c17-11ea-9a86-2a7ea40745de.PNG)

C->D->E /

[2019-12-31 23:31] stackhanovets commented on #426
After a short test I found that the first LBAS fails to resupply sporadically...

[code]

[2020-01-01 11:11] loadinglab3 opened #431 "kcauto could not find get_data_ship.json"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):v8.0.0-rc1
* Operating system and/or VM:Windows 7

#### Issue variability
Is the issue consistent (

[2020-01-01 17:23] perryhuynh commented on #431
Is anything covering the game? If you have >1 monitor is the game on the primary monitor?

[2020-01-02 01:19] loadinglab3 commented on #431
the gui is on the top, do I need to manually click chrome tab after clicking run kcauto button?

[2020-01-02 03:35] perryhuynh commented on #431
If its covering the game then yes

[2020-01-02 10:19] #431 closed, assigned to nobody

[2020-01-03 01:40] mrmin123 commented on #426
That looks like it's from the LBAS state changes acting funky (which I've noticed recently), not the resupply action.

[2020-01-03 01:42] mrmin123 opened #432 "Ignore 2nd Fleet Flagship Damage"
kcauto logic has regressed to retreating on 2nd fleet flagship damage.

Both `fleet`-level and backup visual-based checks need to be tweaked to correct this.

[2020-01-03 04:41] stackhanovets commented on #426
LBAS #1 has not been resupplied definitely.

[2020-01-03 18:42] mrmin123 commented on #426
hmm I'll have to check the logic again. It looks like it didn't even try to
resupply. I'm guessing it didn't set the LBAS state properly?

On Thu, Jan 2, 2020 at 8:41 PM stackhanovets <notifications@github.com>
wrote:

[2020-01-04 11:02] yjjieqc commented on #425
thanks, it works sometimes. I don't know what's the matter.
How do you use this in windows.

[2020-01-04 11:43] stackhanovets commented on #425
@yjjieqc Please ask a more detailed question.

[2020-01-04 12:26] stackhanovets commented on #432
Again, please also make the related option in config so it may be disabled without editing the code.

[2020-01-06 09:19] waicool20 commented on #430
The KC3 panel shows the `id` and the script uses `sortno` which corresponds to `no` in the json above. So people have to refer to the mapping each time

[2020-01-08 11:20] stackhanovets commented on #426
Man, I don't know how to explain that. The event LBAS squadrons were resupplied completely each time when I inspected it. The 6-5 LBAS resupply handling still fails sometimes.
Retrospectively, the event LBAS logic has been implemented after the 2nd May 2016 (sup Iowa) game update and the W6 LBAS has became available after the 5th October 2016 update. Does the latest one's game API utilization cont

[2020-01-08 18:23] mrmin123 commented on #426
I'm away from the code right now but could you check the URL of the
resupply API call for 6-5? I'm wondering if it's a different call from the
event one...

On Wed, Jan 8, 2020 at 3:20 AM stackhanovets <notifications@github.com>
wrote:

[2020-01-15 09:30] cplusx opened #434 "Logic error in ship switcher"
I found that in  [`kcauto/ship_switcher/ship_switch_rule.py`](https://github.com/mrmin123/kcauto/blob/390-2019-fall-event/kcauto/ship_switcher/ship_switch_rule.py#L129) line 129 there is a logic error. `LOCKED` should be `UNLOCKED` otherwise all locked ships are ignored.

After fixing it, ship switcher module works correctly.

[2020-02-19 22:25] kenahamtan opened #435 "Unable to proceed after init"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):v8.0.0-rc1
* Operating system and/or VM:win10

#### Issue variability
Is the issue consistent (can

[2020-02-19 22:41] perryhuynh commented on #435
Start kcauto from the splash screen to refresh ship data

[2020-02-20 09:34] #435 closed, assigned to nobody

[2020-02-20 09:34] kenahamtan commented on #435
Thanks that helps

[2020-03-05 02:21] perryhuynh opened #436 "[Event] 2020 Hinamatsuri Mini-Event"
https://github.com/perryhuynh/kcauto/tree/feature/436-2020-hinamatsuri-mini-event

Initial support can be found here, please let me know if you have any issues.

[2020-03-21 18:37] 1Azami1 commented on #376
For anyone still using the pre-v8 kcauto, clearing A3 and unlocking A4 is the trigger to this, just discovered it the hard way

Why and how is this even a thing

[2020-03-30 01:13] 1Azami1 opened #437 "Expeditions not being refreshed after being sent out"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): v8.0.0-rc1
* Operating system and/or VM: Windows

#### Issue variability
Is the issue consistent (

[2020-03-30 03:21] mrmin123 commented on #437
Are any other modules active besides Expedition?

[2020-03-30 04:10] 1Azami1 commented on #437
Expedition is the only module active

[2020-04-07 21:39] kenahamtan opened #439 "Chrome Driver and refresh home"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): v8.0.0-rc1
* Operating system and/or VM: win10

#### Issue variability
Is the issue consistent (ca

[2020-04-07 21:54] kenahamtan commented on #439
Oh, is this similar to #397 ?

[2020-04-09 10:05] kenahamtan opened #440 "GUI and unicode error"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):v8.0.0-rc1
* Operating system and/or VM:win10

#### Issue variability
Is the issue consistent (can

[2020-04-09 15:23] perryhuynh commented on #440
Did you run `set PYTHONIOENCODING=utf-8` in the command line before starting the GUI? You have to run it every time you open a new command line unless you set it permanently.

[2020-04-09 23:44] #440 closed, assigned to nobody

[2020-05-11 07:26] 1Azami1 commented on #437
yes

[2020-06-10 08:20] kenahamtan opened #441 "Unable to send expedition A1-4 after unlocking A5/6"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): v8.0.0-rc1
* Operating system and/or VM: win10

#### Issue variability
Is the issue consistent (ca

[2020-07-12 05:49] perryhuynh opened #442 "2020 Summer Event Support"
Open issue for [2020 Summer Event](https://kancolle.fandom.com/wiki/Rainy-Summer_2020_Event) support

| Map | Data | Assets |
|-----|------|--------|
| E-1 | :heavy_check_mark:| :heavy_check_mark: |
| E-2 | :heavy_check_mark: | :heavy_check_mark: |
| E-3 | :heavy_check_mark:  | :heavy_check_mark: |
| E-4 | :heavy_check_mark: | :heavy_check_mark: |
| E-5 | :heavy_check_mark: | :heavy_check_mark: |

[2020-07-12 06:37] #436 closed, assigned to nobody

[2020-07-13 21:29] #428 closed, assigned to nobody

[2020-07-16 03:25] tsuki-tsuki commented on #442
As always, thank you for your hard work!

Somehow kcauto is not navigating combat screen correctly to E-5, always stuck at E-4 screen. Maybe the resource for the Next button could be changed to be more accurately navigate the combat screen?

Also is there a way to resupply defending LBAS fleet?

[2020-07-16 03:26] perryhuynh commented on #442
@tsuki-tsuki will look into that issue. As for resupplying defending LBAS groups, you enable the LBAS group but don't assign it to any nodes.

[2020-07-16 04:07] perryhuynh commented on #442
@tsuki-tsuki the issue should be fixed w/ navigating to E-5

[2020-07-16 08:55] tsuki-tsuki commented on #442
It works! Thanks!

[2020-07-20 10:01] 1Azami1 commented on #437
I guess this shall remain unanswered forevermore

[2020-07-23 01:22] tsuki-tsuki commented on #442
I noticed that you have added E7 assets, is E7 still unusable?

[2020-07-23 01:24] perryhuynh commented on #442
Yes, it's missing what would be the `_event_next_page_3.png` asset. I can add it if it is provided or it will have to wait until I actually clear the event up to that point.

[2020-07-23 01:31] tsuki-tsuki commented on #442
I have cleared E6 so I can provide if needed. How and what do I need to do? Do I just need to give the screenshot?

[2020-07-23 01:53] perryhuynh commented on #442
![image](https://user-images.githubusercontent.com/9361780/88245580-876efc80-cc4c-11ea-8b62-35716d3ce999.png)

This screen please. Right click the game and click "Save image as...". Feel free to crop out any personally identifiable information

[2020-07-23 03:15] tsuki-tsuki commented on #442
This one?

![EA2FC5C7-7BEC-4449-BFAF-CE0729973412](https://user-images.githubusercontent.com/29055192/88249038-23951400-ccde-11ea-9748-edd1a824c4ed.jpeg)

[2020-07-23 05:46] perryhuynh commented on #442
Yeah that should probably work, I added it but it is untested.

[2020-07-23 10:16] tsuki-tsuki commented on #442
Also how do you add new shipgirls' data? My config crashed by null when doing resupply loop of fleet consisting new shipgirls, eg South Dacota.

[2020-07-23 15:10] perryhuynh commented on #442
Start the script from the start screen with the "Game Start" button

[2020-07-31 09:28] loadinglab3 opened #445 "Push node feature with Emergency Repair Personnel"
Is it possible to make an option of pushing node with Emergency Repair Personnel? This feature can serve to farm ammo in 3-2. The logic would be similar to the old push node feature(which mainly used in 1-6). The additional part is detecting a unique button looks like the attached.
<img width="185" alt="Screen Shot 2020-07-31 at 2 27 30 AM" src="https://user-images.githubusercontent.com/33920926/8

[2020-08-02 14:31] tsuki-tsuki commented on #442
I don't know why, but combat page navigation to E7 is not working.
It is detecting that it needs to move to page 4, but it just stuck in page 3 and clicked E5, and crashed kcauto because the fleet is unable to enter E5.

[2020-08-02 17:04] perryhuynh commented on #442
I updated the asset, please try again

[2020-08-03 14:47] tsuki-tsuki commented on #442
Nice. I'll try again later when I return to farm E7.

[2020-08-20 13:36] ForsakenRei commented on #441
I'm still using 7.5.3 and have the same problem though I think 7.5.3 was no longer in maintenance. And from trace back I cannot really locate where thing start wrong by myself yet.

I think if you have your crash log it will be better for the developers to debug.

[2020-08-27 19:59] kl3kka5 opened #446 "Switcher siesn't update switch criteria for each ship slot"
* kcauto version v8.0.0-rc1
* Operating system and/or VM: Linux /Archlinux kernel 5.8.1

#### Issue variability
The issue is consistent. In fact it happens every time.

#### Issue

I am trying to set up switcher for sparkling specific ships used in expeditions. So I use only Slot 1 and Slot 2. Slot 1 has the ship to be sparkled and Ship 2 just a random LvL 1 DD to "soak up damage". Thus Slot 1 has

[2020-09-04 07:32] lhc-clover commented on #437
I also have that problem. And I think I found something might help.
Looper in `kcauto_wrapper.py` supposed to be a timer to check status per 20s, but it stuck when run into `Log.log_success(self.rsc)`  (stats_core.py:103).

Functioning normally by commenting that line.

I will test it for a while.
I use Win7 in Parallels by the way.

[2020-09-04 07:41] lhc-clover commented on #437
Oh, it seems to be caused by the char `Δ` in `rsc.py`.
I'm not good at python, please check this when necessary.

[2020-09-17 13:27] perryhuynh opened #447 "9/17 Patch"
Open ticket for 9/17 patch

[2020-11-28 02:05] perryhuynh opened #450 "Fall 2020 Event Support"
Soon TM

[2020-11-30 13:46] booobooo7 commented on #450
thank you for your contribution !

[2020-12-01 11:04] Danielosama commented on #450
Do you need any help @perryhuynh ?
It seems Fuel farming is extremely profitable in E1, so if KCAuto worked for E1 at least that would be sweet.

[2020-12-01 18:00] perryhuynh commented on #450
@Danielosama the latest commit in the `450-2020-fall-event` branch should have E-1, let me know if you run into any issues

[2020-12-02 19:31] Danielosama commented on #450
@perryhuynh Well, when choosing E1 as map, KCAuto goes to 1-2 all the time :/

[2021-05-09 18:35] #450 closed, assigned to nobody

[2021-05-09 18:35] perryhuynh opened #458 "Spring 2021 Event Support"
Coming Soon

[2021-09-15 20:24] #442 closed, assigned to perryhuynh

[2021-09-15 20:24] #458 closed, assigned to nobody

[2021-09-15 20:24] perryhuynh opened #467 "2021 Summer Event Support"

[2021-11-03 18:40] #467 closed, assigned to nobody

[2021-11-03 18:40] #447 closed, assigned to nobody