[2017-11-25 18:46] mrmin123 opened #1 "Development checklist"
Immediate goals:

* ~~Update E-4 map data~~
* ~~Add detection of heavily damaged flagship in escort fleet and add in retreat override if it is the only heavily damaged ship since it cannot be sunk~~
* ~~Confirm that random expedition chooser is working properly~~
* ~~Track down transient bug that attempts to receive expeditions in the incorrect page and loops infinitely~~ - hopefully resolved with

[2017-11-26 00:30] perryhuynh opened #2 "WebUI Bugs"
Some issues I've encountered so far:
- Selecting `light` under `Retreat Limit` or `Repair Limit` sets the config option to `light` causing the script to crash, when it should be `minor`
- Assigning a LBAS Group to a node removes it from the dropdown menu, making it so it cannot be selected again.

[2017-11-26 00:41] mrmin123 commented on #2
@perryhuynh the first issue should be resolved now (reload the webUI if you had it open already). Fix to second issue coming soon, so until then please specify the second node manually.

[2017-11-26 01:16] #2 closed, assigned to mrmin123

[2017-11-26 17:50] mrmin123 opened #6 "Ship Switcher"

[2017-11-26 17:53] mrmin123 opened #7 "Port FleetSwitcher module"
While not too difficult to implement, I don't know if people actually use it. Could people add a reaction to this with the thumbs up if you do, thumbs down if you don't?

[2017-11-26 17:56] mrmin123 opened #8 "Support Expeditions A1~A3"

[2017-11-26 18:00] mrmin123 opened #9 "Make config data persistent across tab changes"
Currently the set configs on web webUI reset every time you go to the About tab and back, but changes should be kept consistent. Requires dumping of relevant data to redux store and propagating the local states from the store.

[2017-11-26 18:02] mrmin123 opened #10 "Allow for importing of config file data into webUI"
Drag+Drop and/or Dialog option to import config file to easily populate the config screen.

[2017-11-26 18:12] n0k0m3 opened #11 "KCA-kai consume much more resources during combat"
So it comes to my attention that during combat the VM slows down and lags constantly. Checking process manager turns out that 100% CPU is being used. So I did a quick test with KCA and KCAK(KCA-kai) and take results for most basic functions of KCA:
1. Home port: KCA: 20-25% /// KCAK: 10-45%
2. Expedition and Quest: KCAK uses more resources but much faster
3. Sortie: KCA: Pre-sortie: 0-30%, while d

[2017-11-26 18:18] mrmin123 commented on #11
It depends on if you're willing to sacrifice accurate fleet position detection. Sacrifices had to be made to support the new combat model which fires multiple searches per second for fleet location identification, and one of them is the additional strain on the hardware. You can turn this down by overriding the `SIKULI_SCANRATE` in `globals.py` but you may get inaccurate readings for node location

[2017-11-26 18:24] mrmin123 commented on #11
Renaming the ticket so it's a bit more accurate...

[2017-11-26 18:26] n0k0m3 commented on #11
Gonna try `SIKULI_SCANRATE = 1` for couple of W4-5 runs to test it out.

[2017-11-26 18:35] mrmin123 commented on #11
I should also note that you will see higher CPU usages at many points because kcauto-kai uses multithreading for certain checks, which will also put additional strain on the CPU.

[2017-11-26 19:49] stackhanovets commented on #11
1536MB RAM
128MB VRAM

Got 4 cores with ~98% load, 8G RAM and 128M VRAM. KC3Kai freezes the screen often, so I've disabled it. Does someone use KVM for the gaming?

[2017-11-26 20:50] mrmin123 commented on #11
This value is hard coded for now but you could try commenting out L28 in `kcauto-kai.py`:

[code]

It'll set the repeat wait time to the default value of 1 (see RaiMan/SikuliX-2014#289)

[2017-11-27 04:00] n0k0m3 commented on #11
`SIKULI_SCANRATE = 5` drastically reduces the cpu consumption and lags while still being able to correctly define nodes (tested with W4-5)

Will try `sikuli.Settings.RepeatWaitTime = 1` for another 12 hours to test it out

Update: `sikuli.Settings.RepeatWaitTime = 1` doesn't help much, got a 10% reduced usage but recognition is not swift and fast anymore.

Solution: `SIKULI_SCANRATE = 5` is a go f

[2017-11-27 16:29] SpawnageLoong opened #12 "KC Auto-Kai fails to start up."
I've been unable to startup KCauto-Kai. Here's the log command prompt returned.

[94m[2017-11-28 00:20:05] Initializing config module[0m
[94m[2017-11-28 00:20:05] Reading config[0m
[94m[2017-11-28 00:20:05] Validating config[0m
[94m[2017-11-28 00:20:05] Starting kancolle-auto![0m
[log] App.focus:  [3544:Chrome]
[log] App.focus:  [3544:Chrome]
[error] script [ C:\Users\[REDACTED]\Desktop\KC

[2017-11-27 16:49] mrmin123 commented on #12
This typically happens if kcauto-kai can't find the game. Please confirm the following:
* Before the crash, kcauto-kai does focus on Chrome
* Kantai Collection is running in Chrome and is visible when you run kcauto-kai
* Kantai Collection is running in 100% magnification/1.0 scale. If you measure the dimensions of the game screen it should be 800 pixels wide and 480 pixels high.

[2017-11-27 18:31] SpawnageLoong commented on #12
I can confirm all 3 were present.

This may be a problem with SikuliX rather than kcauto-kai though. I had a problem with SikuliX when using the original kcauto and it could possibly be affecting kcauto-kai. I posted a question on launchpad earlier about the problem with kcauto.

https://answers.launchpad.net/sikuli/+question/661149

I have my doubts about being a bug with Windows 10 since my othe

[2017-11-28 17:43] waicool20 commented on #7
This would be nice for 4-3 leveling, rotating fleets to keep morale up.

[2017-11-28 19:33] stackhanovets opened #13 "Script cannot turn repair queue page and stucks"
So I got the `RepairLimit: minor` parameter and the ship with less damage percentage than the whole first repair queue page. The script just clicked and clicked until I have changed page. Is there a way to search the damaged ship assigned to fleet across the repair queue pages?

[code]

Also the debugging dict `{'medium': False, 'high': False}`
How about a humanization?
[code]

[2017-11-28 22:12] mrmin123 commented on #13
Formatted fatigue and damage printouts aren't implemented yet.

Also the current repair module does not turn the page and only repairs ships assigned to the defined combat fleet (1 and 2 if combined fleet, 3 if striking fleet, 1 if neither of the above). Additional support is WIP. For now, you have to make sure that you don't have too many damaged ships that it bury the damaged ships of your fleet

[2017-11-29 16:54] mrmin123 commented on #13
The lack of repair shiplist page turning support is, at the moment, a won't fix.

[2017-11-29 16:54] #13 closed, assigned to nobody

[2017-11-29 17:19] mrmin123 opened #14 "Disabling live node detection during combat"
After further testing on E-4, discussions with users, and introspection, I'm making the decision to drop the live node detection feature in the Combat module.

### Impetus

While the node detection feature worked well in preliminary testing, actual use cases proved to be much more challenging. Even during feature development multiple issues made it difficult to implement:

* There are 4 different

[2017-11-29 17:22] mrmin123 commented on #11
To be resolved in #14.

[2017-11-29 17:22] #11 closed, assigned to nobody

[2017-11-29 17:23] mrmin123 commented on #12
If this behavior is unique to a particular machine I can't do much about that. One of my systems is Win10 however and it runs fine on there...

[2017-11-29 17:38] mrmin123 commented on #14
Apparently there's at least one other person that found the live node detection useful so I will leave the code in and let the user decide whether to use the live node detection or legacy formation/night battle config definition mode. ✔️

[2017-11-29 18:19] stackhanovets opened #15 "Failed to send a pre-boss support expedition"
Given the `Fleet4: 9998` parameter, the 4th fleet has been sent to the expedition # 33 (W5) actually.

[2017-11-30 01:35] mrmin123 commented on #14
Also tacking on to this PR:

* SFFCF support ✔️
* Support for both single-fleet formations and combined-fleet formations on combined-fleet runs ✔️

[2017-11-30 11:16] stackhanovets opened #16 "Repeating crashes during combat processing at last nodes"
Few maps were tested, the interruptions had happened from time to time and had thrown similar tracebacks.

Log:

[code]
Cfg:
[code]

[2017-11-30 22:18] mrmin123 commented on #15
I can't replicate this. 9998 sends to node support properly on my end.

[2017-11-30 22:20] mrmin123 commented on #16
Stack traces aren't enough here... what screen did it crash on? What was the game doing? More details are needed to debug. I haven't had issues with combat resolving on my machines.

[2017-12-01 09:24] stackhanovets commented on #16
I've just caught it again with the same cfg:

![combat_crash](https://user-images.githubusercontent.com/16455270/33475748-9530ce70-d690-11e7-9e09-b0bcda5e11da.png)

So I've also caught the repair module crash:
![repair_crash](https://user-images.githubusercontent.com/16455270/33475852-ebedba98-d690-11e7-89e2-6024e9ad437f.png)

[code]

CentOS 7, `yum update`'d yesterday. 4 cores, 8G RAM, openJDK bu

[2017-12-01 16:21] stackhanovets commented on #14
The node E-3A was wrong recognized as node S, so my fleet has caught a bunch of torpedoes during the night battle. I think there's no need to disable the fleet follower as is. However, based on map template user-friendly JSON generator would be nice.

upd:
[code]
![kitanda](https://user-images.githubusercontent.com/16455270/33513146-b9d9dd12-d74d-11e7-8dcd-e35e298a778a.png)
[code]

[2017-12-02 21:46] stackhanovets commented on #15
Just finished testing all 6 combinations, can't say it was a continuous bug after reboot and cache purging.

[2017-12-02 21:46] #15 closed, assigned to nobody

[2017-12-03 20:41] mrmin123 opened #18 "Harden against lag within kancolle"
Related but not completely overlapping with #16.

[2017-12-03 21:23] #14 closed, assigned to mrmin123

[2017-12-03 21:23] #18 closed, assigned to mrmin123

[2017-12-03 22:04] perryhuynh opened #21 "Crash when using Live Engine with no Formations defined"
When using `Engine: live`, not defining anything under `Formations:` will cause the script to crash.

Relevant stack trace:
[code]

[2017-12-04 00:53] #9 closed, assigned to mrmin123

[2017-12-04 00:53] #10 closed, assigned to mrmin123

[2017-12-04 00:55] #21 closed, assigned to mrmin123

[2017-12-04 17:44] mrmin123 opened #25 "Support MedalStop option"

[2017-12-04 17:44] mrmin123 commented on #1
Closing this ticket since items have been spun out.

[2017-12-04 17:44] #1 closed, assigned to nobody

[2017-12-04 17:45] mrmin123 opened #26 "Unicode support"
Might have to wrangle `ConfigParser` a bit.

[2017-12-04 17:46] mrmin123 opened #27 "Repair timers do not update sortie timer"

[2017-12-04 17:48] mrmin123 opened #28 "Help tooltips on webUI"
and/or more descriptive labels.

[2017-12-04 17:48] mrmin123 opened #29 "Localization support for webUI"

[2017-12-04 17:49] mrmin123 commented on #12
Closing this ticket since it doesn't seem to be related to kcauto-kai.

[2017-12-04 17:49] #12 closed, assigned to nobody

[2017-12-06 05:26] mrmin123 commented on #26
This actually isn't possible with Sikuli:

https://answers.launchpad.net/sikuli/+question/267648
https://stackoverflow.com/questions/10698380/special-characters-in-sikuli-script

An alternative solution is to `App.open()` an executable or a link (`.lnk`) without any unicode characters in its path, and `focus()` on the returned `App` instance, but this may or may not be possible with certain viewer

[2017-12-06 05:48] mrmin123 commented on #26
Immediate workaround:

Change `util.py`'s:
[code]
to
[code]
with the `<full_path_to_executable>` replaced to the full path to the .exe you're trying to focus to (`C:\KCViewer\KancolleViewer.exe`). Note the `r''` surrounding the path. Also, the full path CANNOT have any unicode in it.

If this is found to be useful I can try to implement it into the config reader and kancolle-focus methods.

[2017-12-06 05:48] #26 closed, assigned to mrmin123

[2017-12-07 05:06] #27 closed, assigned to mrmin123

[2017-12-07 06:08] mrmin123 opened #32 "Pause capability"
Due to the design the pause wouldn't go into effect until a loop is complete.

[2017-12-07 06:09] mrmin123 opened #33 "Decouple PvP and Quest Modules"
Reminder to self: there's a reliance on the Quest module in the PvP module which causes the script to crash if PvP is on but Quest is not. Remove this.

[2017-12-07 10:47] stackhanovets opened #34 "Feature request: Thumbnails in Formation Selector"
So we've got a combo box in the config generator. There are some unobvious text values. How about replacing the text:

![1](https://user-images.githubusercontent.com/16455270/33711295-9a88d228-db54-11e7-8d5c-4dc8f5ec8503.png)

with readable image tumbnails? E.g. [wiki](http://kancolle.wikia.com/wiki/Combat#Formation_Modifier).

[2017-12-07 13:41] stackhanovets commented on #16
Just pulled it again and caught the crash at the same screen:
[code]

Any ideas?

[2017-12-07 19:33] mrmin123 commented on #16
It's still happening on the screen that shows the sortie score (like in [this comment](https://github.com/mrmin123/kcauto-kai/issues/16#issuecomment-348445151))?

You're on the latest version?

[2017-12-07 20:59] stackhanovets commented on #16
The last time it has happened just after night battle. The screen had closed by blue semiblocks, the fleet information had first appeared before score rank screen, the script had tiggered and crashed. There were only ~200 ms while the fleet was on screen top.

[code]

[2017-12-07 22:06] mrmin123 commented on #16
What is this? What 'screen' did it close?

IIRC the fleet information flashes briefly on-screen, and then the score screen is overlayed on top of it, and then the `next.png` image shows up in the lower left corner (the part that the script is waiting for).

[2017-12-07 22:29] stackhanovets commented on #16
Fine, let me reproduce it.

![kancolle 2017 fall e-4 hard 1st boss last dance strait prin mp4_20171208_011905 330](https://user-images.githubusercontent.com/16455270/33741823-fa1fdaee-dbb6-11e7-97b1-6e1a19219ba8.png)
![kancolle 2017 fall e-4 hard 1st boss last dance strait prin mp4_20171208_012004 730](https://user-images.githubusercontent.com/16455270/33741825-fcc7c734-dbb6-11e7-9b8b-9b21521f1f94

[2017-12-07 23:29] mrmin123 commented on #16
I have no idea what might be causing this on your end. A possible fix is to change L511-512:

[code]

to

[code]

(I should probably make this change anyways for optimization purposes)

[2017-12-08 03:33] #33 closed, assigned to mrmin123

[2017-12-08 04:38] mrmin123 opened #37 "Broken fleet 2 flagship damage check"
Critical bug.

[2017-12-08 04:42] #37 closed, assigned to mrmin123

[2017-12-08 06:10] mrmin123 commented on #6
Disclaimer: I have an attack plan for this, but this is an epic-level ticket so it probably won't see the light of day for a while.

[2017-12-08 14:26] stackhanovets commented on #34
After looking further into this, the generic text label is still required for thumbnails.

[2017-12-09 06:14] dice4321 opened #39 "Could not start sortie."
When you turn LBAS on, active or defensive mode, kc-kai is expecting to see the sortie button with the green lbas bar for example:

![](https://i.imgur.com/CwrB4vm.png)

but when you want to just turn LBAS on defensive there is no sortie button with the green lbas bar.

for example, sortie with 3 LBAS on defensive mode

![kcecban](https://user-images.githubusercontent.com/20022859/33793035-8f37343

[2017-12-09 08:06] #39 closed, assigned to mrmin123

[2017-12-09 08:13] mrmin123 commented on #16
@stackhanovets the above change was pushed to master as of 0.2.4; has the issue been repeated since?

[2017-12-10 12:03] stackhanovets commented on #16
@mrmin123 Good. I've tested normal, combined and strike force fleet - no more crashes have been occurred. However, in some times the script had stuck confusing minor damage sign on sortie start screen wiith fatique icon or during boss quote screen processing:

![1](https://user-images.githubusercontent.com/16455270/33804675-0508fed0-ddbb-11e7-83e4-d63b6fc5bafa.png)

![2](https://user-images.github

[2017-12-10 12:04] #16 closed, assigned to nobody

[2017-12-13 03:42] SomeGuyKyon opened #42 "stuck after battle"
stuck on the battle report screen.

I've got following error message.

[code]

[2017-12-13 09:17] stackhanovets commented on #42
@SomeGuyKyon Was there enough RAM? Please provide your hardware and software configuration.

[2017-12-13 10:22] SomeGuyKyon commented on #42
@stackhanovets I'm using some old PC just for automation stuff - Intel i7 860, 8GB RAM, Geforce GTX 660

[2017-12-13 10:29] SomeGuyKyon commented on #42
Can this happen because of my remote pc setting? This pc don't have an actual monitor, only connect through TeamViewer.

[2017-12-13 15:55] SomeGuyKyon commented on #42
OKAY... it seems like sikuli cannot operate on a headless remote desktop.

[2017-12-13 15:56] #42 closed, assigned to nobody

[2017-12-13 17:06] mrmin123 commented on #42
@SomeGuyKyon I've not tried this myself but this might be of use for your case: https://stackoverflow.com/questions/26032706/how-to-get-sikuli-working-in-headless-mode

[2017-12-15 02:51] SomeGuyKyon commented on #42
@mrmin123 thx for your reply, unfortunately, my machine is in a port-censored environment. only TeamViewer can be used for remote connecting. Maybe I have to buy a cheap monitor.

[2017-12-15 05:46] perryhuynh commented on #42
If you're fine with using Linux, that runs kcauto headlessly without any issues and you can install something such as xrdp or guacamole to access the machine

[2017-12-15 10:12] SomeGuyKyon commented on #42
@perryhuynh also thx. I'll try Linux.

[2017-12-18 07:37] #29 closed, assigned to mrmin123

[2017-12-18 07:38] mrmin123 commented on #34
The goal is to supplement the text w/ the thumbnails.

[2017-12-27 22:23] angryturbot opened #45 "Ending on a resource node results in hang"
As far as I can tell, what's happening is:

1.  [ `_run_loop_between_nodes`](https://github.com/mrmin123/kcauto-kai/blob/master/kcauto-kai.sikuli/combat.sikuli/combat.py#L445) resolves ending at a resource node as `True`
2. The at_node code does the [clicking to get rid of boss dialog stuff](https://github.com/mrmin123/kcauto-kai/blob/master/kcauto-kai.sikuli/combat.sikuli/combat.py#L323) which br

[2017-12-28 03:14] mrmin123 commented on #45
I don't have the code in front of me but if memory serves the resource node
resolution shouldn't be done as at_node so that's probably a bug. Thanks
for bringing it to my attention, will take a look later

On Dec 27, 2017 5:19 PM, "angryturbot" <notifications@github.com> wrote:

[2017-12-29 07:15] mrmin123 opened #46 "Minor damage mis-recognized as low morale"
Reported on Discord. Needs further testing and potential tweaking of thresholds.

edit: medium fatigue, specifically

[2017-12-29 07:16] mrmin123 opened #47 "Diamond formation labeled as Double Line"
Reported on Discord. webUI issue.

[2017-12-29 07:16] mrmin123 opened #48 "Script hangs when # of combat nodes encountered is less than specified in config"
Reported on Discord. Check logic.

[2017-12-29 07:17] mrmin123 opened #49 "Add support for retreat nodes and alt node coords within node dict in json"
For live combat engine.

[2017-12-29 07:19] mrmin123 opened #50 "Revisit expedition receive logic"
Again.

[2017-12-29 07:20] perryhuynh commented on #48
I don't believe its due to # of combat nodes being  less than specified in config, rather it was ending on a resource node which is #45

[2017-12-29 07:21] mrmin123 commented on #48
Gotcha; I'll take a look at the logic regardless and close as needed.

[2017-12-29 07:55] mrmin123 commented on #46
Couldn't reproduce. Closing for now. Please open a new ticket/re-open this one with screenshot of the pre-sortie fleet list visible if anyone encounters this.

[2017-12-29 07:55] #46 closed, assigned to mrmin123

[2017-12-29 08:08] mrmin123 commented on #45
Notes to self:

* Resource-node ends like on 1-6 resolves with `next_alt.png`
* Can't just use `next.png` to ascertain between combat node vs resource node end since a combat node can directly resolve w/ `next.png` when low # of ships (no formation select screen)

edit: Looking at my old kancolle-auto code, apparently resource node ends result in `next_alt.png`, not `next.png`, which simplifies th

[2017-12-30 06:14] perryhuynh commented on #50
While you're revising the expedition logic, can you take into account the resending of 33/34/9998/9999? They should be sent with every sortie if enabled as they're support expeditions.

[2017-12-30 08:06] mrmin123 commented on #50
Sure, I can do that. 9998 and 9999 already reset but I forgot about 33 and 34.

[2017-12-30 08:16] mrmin123 commented on #48
Closing as this doesn't seem to be an actual issue.

[2017-12-30 08:16] #48 closed, assigned to mrmin123

[2017-12-30 11:17] n0k0m3 commented on #49
2-4 C (actually 2-4 B but we don't have the F5 retreat feature yet and it's still nice to have some extra rsc)
3-5 E (for once in a blue moon)
3-1 A (thanks @twisting#0228 on discord)

Nice to have (but doesn't matter much because of...):
1-3 E (weak enemy)
1-5 D (continuing = dead end node, still nice to have but doesn't make a difference)
1-6 L (no one takes this route if they use standard guide

[2017-12-30 18:04] perryhuynh commented on #49
I would advise against ever implementing the F5 retreat feature, that's asking for a ban

[2017-12-30 23:41] #45 closed, assigned to mrmin123

[2017-12-30 23:41] #47 closed, assigned to mrmin123

[2017-12-30 23:41] #49 closed, assigned to mrmin123

[2017-12-30 23:41] #50 closed, assigned to mrmin123

[2018-01-01 05:50] perryhuynh opened #58 "LBAS Resupply in World 6"
`lbas_resupply_menu_button_event.png` doesn't exist in world 6 so the script fails to find the asset

[2018-01-03 22:26] perryhuynh commented on #58
![](https://i.imgur.com/cHMMyZz.png)

here is the World 6 Asset

[2018-01-03 23:05] mrmin123 opened #59 "MapData all_coords bug"
Issue w/ modification of mutable variable in `init`.

[2018-01-04 00:02] #58 closed, assigned to mrmin123

[2018-01-04 00:02] #59 closed, assigned to mrmin123

[2018-01-06 02:51] mrmin123 opened #62 "Harden fatigue and damage checks against ringed-ships"
The ring icon sometimes occludes the damage and fatigue icons. Attempt to alleviate false negatives that may arise due to occlusion.

[2018-02-04 13:11] loadinglab3 opened #63 "Separated sleep system for combat and expedition"
Can we get separate sleep system for expedition and combat?
Ex.Combat 3 hour a day but keep expedition 21 hour a day.

[2018-02-15 07:29] mrmin123 opened #64 "2018 Winter Event assets"
The event is ~~coming~~ here!

### [Event branch here](https://github.com/mrmin123/kcauto-kai/tree/64-event-2018-winter)

Event-specific assets such as panel images, arrow images, and map JSON will be posted here (or post them here, if you'd like to share them).

[2018-02-16 21:57] perryhuynh commented on #64
[code]
Here's what I have for E-1

[2018-02-17 08:48] mrmin123 commented on #64
[Event branch](https://github.com/mrmin123/kcauto-kai/tree/64-event-2018-winter) updated w/ E-1 panel image, and map JSON for E1 through E-4. Map JSON are untested, so please report tweaks here.

[2018-02-17 23:55] mrmin123 commented on #64
Event branch has been updated with minor event-related bugfixes.

[2018-02-18 18:36] mrmin123 opened #65 "Fix out of sync methods"
Fleet, Util, Combat?

[2018-02-18 18:59] #65 closed, assigned to mrmin123

[2018-02-19 08:55] twisting2017 opened #68 "[feature request] difficulty reset"
for event maps, players often want to farm maps on a lower difficulty before clearing. in order to avoid clearing the map by fully depleting the hp-bar players reset the difficulty before the hp-bar is fully depleted.
it would be nice if kca-kai could also reset the difficulty at the beginning of a session and then over and over after x amount of sorties.

[2018-02-20 01:40] mrmin123 commented on #6
Huge test branch here: https://github.com/mrmin123/kcauto-kai/tree/6-ship-switcher

Only contains new backend logic, frontend still being developed.

The Config is a bit obtuse, which I think strongly necessitates use of the frontend to make sense of it the first time around, but I'll try to explain here:

**Slot#Criteria** - when to exchange out; comma-delimited values, valid values are `sparkle`

[2018-02-20 03:02] waicool20 opened #69 "Resource Reporting"
I am working on KAGA - Discord (Yuu Bot) integration, would be nice to have resource reporting so users can query the status of the script and maybe more information like their resource count on our [alt-discord server](https://discord.gg/2tt5Der)

Queries may work like this:
![image](https://user-images.githubusercontent.com/5538666/36405800-7e454dbc-162d-11e8-9b4e-3a656c3cda71.png)

And crashes/

[2018-02-20 19:13] perryhuynh commented on #64
`_event_world_1-2.png`
![`_event_world_1-2.png`](https://i.imgur.com/mlRDNcX.png)

`_event_world_1-3.png`
![`_event_world_1-3.png`](https://i.imgur.com/0ss56GW.png)

[2018-02-21 05:03] mrmin123 commented on #62
Resolved in #6.

[2018-02-21 07:51] mrmin123 commented on #25
Changed to 'ClearStop'. Resolved in #6.

[2018-02-21 08:45] mrmin123 opened #70 "Update readme and wiki"

[2018-02-21 19:31] #6 closed, assigned to mrmin123

[2018-02-21 19:31] #25 closed, assigned to mrmin123

[2018-02-21 19:31] #62 closed, assigned to mrmin123

[2018-02-21 20:39] mrmin123 commented on #64
Updated the event branch with above assets. I suspect the E-3 panel image will have to be updated once EOs are released and the big arrow starts to cover the panel.

[2018-02-21 22:08] mrmin123 opened #73 "Bugfixes to shipswitcher"
* Incorrect parsing of config in config reader
* TesseractOCR call in `_filter_ships()` might get multithreaded, which causes crashes - need to factor out and linearize

[2018-02-22 04:36] #73 closed, assigned to mrmin123

[2018-02-22 16:25] perryhuynh commented on #64
`_event_world_1-4.png`
![](https://i.imgur.com/aQJL9Jf.png)

[2018-02-22 16:31] mrmin123 opened #77 "Ongoing bugfixes to ShipSwitcher + more"
I think ShipSwitcher is stable syntactically, but there may be functional and behavioral edge cases that I may not have accounted for. Please report ShipSwitcher-related bugs here, along with relevant logs (if available) and the ShipSwitcher config section you used.

[2018-02-22 17:16] twisting2017 commented on #77
the problem im having goes as follows: the shipswitcher generally works the first time but for the second time it should switch a ship it doesnt even try to go into the ship menu to look for replacements instead just waits and sets next sortie time for when the current repair is done.

[2018-02-22 18:06] john50k commented on #77
ShipSwitcher settings were at Sparkle (P:L:S:110) - the the first sortie was with ship  # 2 by herself. After 6 hours, I returned to see that ships # 2, # 110 were sparkled (and also not refueled) and that ship # 60 had been going on sorties on a loop for at least the last hour.

I've got the logs, but they only go back for the last hour

[bot_sparkle_log.txt](https://github.com/mrmin123/kcauto-ka

[2018-02-23 04:21] mrmin123 commented on #77
@twisting2017 @john50k please post the entire [ShipSwitcher] section of the config... the logic is incredibly config-dependent so I can't really narrow down the source of issues with just descriptions.

[2018-02-23 07:11] perryhuynh commented on #64
Here's the first panel with the EO Button on it
![](https://i.imgur.com/jQJxjnX.png)

and `_event_world_2-1.png`
![](https://i.imgur.com/QT4miUt.png)

[2018-02-23 07:30] twisting2017 commented on #77
[code]

[2018-02-23 09:14] twisting2017 commented on #77
[94m[2018-02-23 10:02:34] Navigating to repair screen.[0m
[log] CLICK on L(607,444)@S(0)[0,0 1366x768] (534 msec)
[94m[2018-02-23 10:02:36] Begin repairing fleets.[0m
[94m[2018-02-23 10:02:36] Got valid timer (00:33:01)![0m
[94m[2018-02-23 10:02:37] empty dock exists[0m
[log] CLICK on L(778,491)@S(0)[0,0 1366x768] (524 msec)
[94m[2018-02-23 10:02:38] Picking damaged ship from combat fleet

[2018-02-23 17:01] mrmin123 commented on #77
Thanks for the logs, I think I know what's happening now. Should have a fix available tonight PST.

[2018-02-23 23:26] perryhuynh commented on #77
Ran into this filtering by level:
[code]

[2018-02-24 09:41] mrmin123 commented on #77
@twisting2017 what I thought was the source of the error wasn't it, and I'm back to being not certain what's causing the issue, but I've made a change that hopes to combat it in the `77-bugfixes` branch

@perryhuynh your issue has been addressed in the `77-bugfixes` branch

@john50k I am still working on your issue

[2018-02-24 18:36] twisting2017 commented on #77
previos bug seems fixed so i tried something new, got following error:

[code]

[code]

[2018-02-24 18:39] mrmin123 commented on #77
@twisting2017 re-pull the branch, should be fixed.

[2018-02-24 20:07] mrmin123 commented on #77
Pushed additional bugfixes, improvements to combat module disabler, implements combat module disabler into ship switcher if using sparkle mode by ship position so it doesn't infinitely loop combat.

[2018-02-24 20:14] #77 closed, assigned to mrmin123

[2018-02-24 20:19] mrmin123 commented on #64
Event branch updates w/ above assets. ~~No JSON for the maps yet, I'll get to those this afternoon.~~

Updated with JSON.

[2018-02-25 02:37] perryhuynh commented on #7
Adding to this, Fleet Presets are pretty useful for PVP

[2018-02-25 13:38] yhn147 opened #85 "Questions and Bug Report"
I used a translator. I hope you will excuse me.

1. Are you considering creating a shortcut key to end the program?

2. When Fleet mode striking to go E6, I saw the program close after clicking on the third fleet. So I replaced fleet_3_active.png and combat_start_lbas.png, but the result was the same.
I want to send an error log, but I can't find the folder where the log is stored...

This is part

[2018-02-26 03:49] Zerosonaku opened #86 "combat loop doesn't close if sortie ends on resource node"
combat loop doesn't close if sortie ends on resource node, and causes  the script to crash on an expedition return screen

[code]

[2018-02-26 19:07] mrmin123 commented on #85
Hi, thanks for the report.

1. You can end the program by pressing `ctrl`+`c` in the command window.
2. The assets (`combat_start_lbas.png`, `fleet_3_active.png`) should be correct originally; the bug you're encountering is a separate issue. I'll have that fixed tonight.

Also, if you run kcauto-kai from the command prompt directly by `windows`+`r`, run `cmd`, the log will not disappear even after

[2018-02-26 19:10] mrmin123 commented on #86
Discussed in Discord originally; issue actually stems from the script blindly clicking through until the home screen is seen if ending on a resource node. Unfortunately, if there is an expedition fleet waiting to be received, this blind clicking might receive the expedition, and the next check for the home screen fails.

Logic for clicking through post-resource node screens need to be revised.

[2018-02-26 19:11] mrmin123 opened #87 "Port ScheduledStop Module"
edit: to clarify, bring back the ability to stop the script based on time or combat count.

As an added feature, add in the ability to just stop the combat module based on time or combat count.

[2018-02-26 21:53] perryhuynh opened #88 "[Feature Request] Automated Ship Scrapping"
Upon reaching filling all ship slots, the script would automatically scrap all unlocked ships (including or excluding equipment using the slider). A huge disclaimer would obviously need to be issued as well.

[2018-03-02 04:55] mrmin123 commented on #69
Following discussion w/ @waicool20:
@waicool20 reports that tesseractOCR readings is much improved for white-font-on-black-background after scaling up the image to at least 200%, or 16px width per character. The standard Python lib doesn't allow for image manipulation (afaik) but the Java stdlib does, so we can leverage Jython and theoretically implement an image scale-up in Java.

Readings regard

[2018-03-02 08:20] waicool20 commented on #69
From my testing this code is 90% of the time accurate without the need to do any character replacements, GRANTED that you don't pass a region that has an icon in it.

Using java internal libraries, we first scale the image by a factor of at least 5, scale factor will depend on the source region. The aim is to get characters to at least 16px wide per character. We then binarize the image, so it's j

[2018-03-02 14:01] yhn147 opened #92 "Sleep Algorithm Question"
I used a translator. Please excuse.

In Orel process or other process, The repair docks are empty, there's a replacement submarines.
but process sleep 1 hour in expedition screen. Of course Scheduled Sleep is false.

5 cycle and 1 hour break, n cycle 1 hour break..
I think the program has more sleep time than I think.

By what standards does the resting process work?
Can I change this break time o

[2018-03-02 19:04] mrmin123 commented on #92
Could you clarify what you mean by 'expedition screen'?

It sounds like you're Orel cruising with the script; there's an issue with ending on resource nodes which is addressed in the `staging` branch, but it would simply crash instead of sleeping for an hour. The only reason it would sleep for that long is if a ship in the fleet is being repaired and no adequate replacement ship is found. In this

[2018-03-03 00:52] #92 closed, assigned to nobody

[2018-03-04 00:49] Zerphane opened #93 "[Feature Request] Using Resupply Fairy"
Option to use the Resupply Fairy for Expeditions vs going into the Resupply menu.

[2018-03-04 06:24] stackhanovets opened #94 "[Feature Request] Do not use FCF until <node>"
In some cases, using the FCF becomes mindless. Please take a look at the map:

![winter_2018_event_e-4_map](https://user-images.githubusercontent.com/16455270/36942792-810bb438-1f8c-11e8-8c33-287f4fc5e09d.png)

Sometimes my escort fleet DDs were damaged at nodes belonging to the A...Q path. The result was resources & buckets overrun caused by R/X nodes the fleet knowingly cannot conquer.

[2018-03-07 01:37] angryturbot opened #95 "ShipSwitcher behavior issue when valid ship for switching is already in fleet"
ShipSwitcher does not check a ship is already in the fleet when deciding if a ship is valid to switch to. This results in the following situation, when A and B are both valid ships for slot 2:

Fleet: A (healthy), B (damaged)

ShipSwitcher switches out B. In the selection menu it selects A, sees that A is a valid ship to switch to, and switches. Fleet is now: B (damaged), A (healthy) and still can

[2018-03-07 02:23] waicool20 opened #96 "Striking Fleet should use Vanguard formation for non-boss nodes"
Use vanguard formation by default instead of line ahead to increase chances of reaching boss on regular nodes.

[2018-03-08 13:14] stackhanovets opened #97 "Crashes during striking fleet sortie sending"
So I've just updated the tools:

[code]
The script has launched succesfully, took control & crashed just on the pre-sortie screen with, um, `combat_start_lbas.png`:

![bt](https://user-images.githubusercontent.com/16455270/37152133-5d3d2996-22e9-11e8-9c7c-2f2e21190893.png)

[code]
[code]
CFG:
[code]
I see you're having fun with multiple branches - whatever, I do not care. The rollback is:
[code]
A

[2018-03-08 13:17] waicool20 commented on #97
Pull winter branch and checkout `combat.py` from staging or  insert this line after line 57 ```            'game': self.kc_region,  ```

[2018-03-08 15:13] perryhuynh commented on #97
You did all this when you could have just done `git checkout staging combat.py`...? yikes

[2018-03-08 15:34] stackhanovets commented on #97
Did not make a sense as well the replacement with https://raw.githubusercontent.com/mrmin123/kcauto-kai/staging/kcauto-kai.sikuli/combat.sikuli/combat.py

[2018-03-08 16:54] mrmin123 commented on #97
As others have noted, the fix for this is already in `staging`, which will be merged into `master` and the event branch after #63 and #87 are completed.

[2018-03-08 18:53] stackhanovets commented on #97
Broken `master`? Nice.

[2018-03-08 19:16] mrmin123 commented on #97
Yes, broken `master`. I'm not sure if you're new to OSS but this happens all the time, not just in this project. If you're expecting more from 1 developer who does this in his spare time, you can either 1. use another project, or 2. kindly fork off.

[2018-03-09 06:55] stackhanovets commented on #97
Nice try man, but I'm here to test your stuff. You may be afraid of more stupid issues - I do not care.

[2018-03-09 07:15] waicool20 commented on #97
`master` branch does not imply its 100% working lul, no software is 100% bug free. If you wanted the latest bug fixes and features then Git good and learn how to checkout files properly. `staging` branch might have fixes for `master` branch bugs, but it itself will have bugs.

If you like testing, then good but don't complain when you find something broken. That's the whole point of testing :man_f

[2018-03-09 07:24] stackhanovets commented on #97
Yeah. Creating as much branches as possible is the point. Whatever.

[2018-03-09 08:18] ptv999duke opened #98 "lbas.py module looks for wrong image for event lbas resupply faded menu."
the lbas.py module looks for the image file 'lbas_resupply_menu_button_event_faded
.png'. However, the image file under that folder is named 'lbas_resupply_menu_button_faded_event.png'

[2018-03-09 08:27] waicool20 commented on #98
Check your kca kai installation, there in fact is a file named `lbas_resupply_menu_button_event_faded
.png`.

https://github.com/mrmin123/kcauto-kai/blob/master/kcauto-kai.sikuli/combat.sikuli/lbas_resupply_menu_button_faded.png

btw use backticks ` (The key with ~) instead of quotes ( ' ) to put things in code blocks

[2018-03-09 16:29] ptv999duke commented on #98
Thanks for the tip.
The image you linked is `lbas_resupply_menu_button_faded` which is not the event one. This issue is specifically for the lbas resupply faded button for events.

[2018-03-09 16:38] perryhuynh commented on #98
Issue is already fixed in the `64-event-2018-winter` branch

[2018-03-09 21:16] n0k0m3 opened #100 "Cannot use striking force sortie"
## Log for crash that occurred at 2018-03-09 16.06.58

You may submit this as an issue to the KCAuto-Kai Github Repository at:

Or if you think it has something to do with KAGA then you may submit the issue at:

You may want to use a service like [http://pastebin.com/] and replace the sections Configuration and Console Log with a paste link.

-------------------------------------------

#### Issue

[2018-03-09 21:20] mrmin123 commented on #100
Please see #97. Fix is in `staging` branch already.

[2018-03-09 21:20] #100 closed, assigned to nobody

[2018-03-10 01:35] CripsyBekon opened #101 "Pathfinder does not attempt to go back to home first if navigation is unsuccessful"
Branch: `64-event-2018-winter`

Issue: If the path could not be reached from an area, pathfinder does not attempt to return to home first;instead it gets stuck in a loop on the same page, tapping on the coordinates given.

Manual interference is needed to redirect it to the proper page for the script to proceed as of normal (told by @waicool20)

As it is a really uncommon occurrence , i am unable

[2018-03-10 05:40] twisting2017 commented on #64
![panel1](https://user-images.githubusercontent.com/21052240/37238920-efe00014-2430-11e8-95b7-bc50c4b8e693.PNG)
![panel2](https://user-images.githubusercontent.com/21052240/37238921-f0089038-2430-11e8-9c6f-500a52df9524.PNG)

[2018-03-10 05:49] #32 closed, assigned to mrmin123

[2018-03-10 05:49] #63 closed, assigned to mrmin123

[2018-03-10 05:49] #85 closed, assigned to mrmin123

[2018-03-10 05:49] #86 closed, assigned to mrmin123

[2018-03-10 05:49] #97 closed, assigned to mrmin123

[2018-03-10 05:58] mrmin123 commented on #101
Note: this happens if the script receives an expedition but goes into (a successful) Auto Recovery before it can resupply it.

[2018-03-10 06:13] #98 closed, assigned to nobody

[2018-03-10 06:18] mrmin123 commented on #93
I forgot this even existed.

[2018-03-10 06:23] mrmin123 opened #106 "Revisit Recovery"
The Auto Recovery logic assumes that it's recovered the moment it sees the reference image, without attempting to dismiss any popup images.

Also visit Catbomb recovery.

[2018-03-10 06:24] mrmin123 opened #107 "Musashi Kai Ni may have issues with sparkling"
Self-reminder: check asset.

[2018-03-10 06:30] mrmin123 commented on #64
Assets have all been merged in `master`, but leaving this open in case anything needs to be revised, until the end of event.

[2018-03-10 08:19] twisting2017 opened #108 "Shipswitcher issues"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version 0.4.0
* Viewer/browser: kc3
* Operating system: windows 10

#### Issue variability
consistent
#### Issue

 * When sparkling, ShipSwitcher will no longer re-visit previously checked s

[2018-03-10 10:26] ptv999duke commented on #98
Thanks for letting me know of the branch that this is fixed in. I'll pull the upstream changes from that branch.

Sorry for not closing the PR and issue earlier today. Was busy throughout the day and night,

[2018-03-10 10:48] AzureMirage opened #109 "Ship Switching"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md): 0.4.1
* Viewer/browser: KanColleViewer!
* Operating system: Windows 7

#### Issue variability

Consistent

#### Issue

Tried to sparkle some shi

[2018-03-10 12:16] twisting2017 commented on #109
none of the ships in the screenshot of page 19 you linked match the criteria you set in the config file. maybe you should also provide a screenshot of page 26

[2018-03-10 12:39] AzureMirage commented on #109
I see the problem now. Thank you

[2018-03-10 12:39] #109 closed, assigned to nobody

[2018-03-10 19:36] sakura-quest opened #110 "LBAS deployment fails if the node is covered by the initial LBAS UI."
#### Environment details

Version: 0.4.0
Browser: chrome (kc3)
OS: Windows 10

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Yes

#### Issue

If the LBAS group UI is covering the node that you are trying to deploy to, the LBAS deployment fails and the program exits out. The ideal behavior should be that if it can't

[2018-03-10 19:40] mrmin123 commented on #110
The LBAS module already moves the panel out of the way when sorting. The
issue you are encountering is because node B is not defined in the map json
you are attempting to sortie to.

On Sat, Mar 10, 2018, 11:36 sakura-quest <notifications@github.com> wrote:

[2018-03-10 19:47] sakura-quest commented on #110
Thanks for the info. I'll try to make a pull request to the winter 2018 event branch then with node B's definition.

[2018-03-10 19:47] #110 closed, assigned to sakura-quest

[2018-03-10 19:52] mrmin123 commented on #110
Sure, could you branch off the `staging` branch and make  PR against `staging`? The event branch has already been merged into it as of 0.4.1.

[2018-03-10 19:53] mrmin123 commented on #98
No worries, I had forgotten that this was an addressed issue.

[2018-03-10 20:24] sakura-quest commented on #110
Yea sure.
PR #111 has been made to staging.

[2018-03-11 02:47] mrmin123 commented on #95
Are there specific ships that get switched around when in other ships? The assets and similarity threshold is supposed to be keeping this from happening without any additional checks.

[2018-03-11 02:52] mrmin123 commented on #108
@twisting2017 just looked at your config. The two ShipSwitcher behavior is *only* valid for ships specified via Position, not Class.

[2018-03-11 03:00] mrmin123 commented on #108
The two noted ShipSwitcher behavior cannot be replicated when switching by asset, not position, since kcauto-kai cannot maintain an internal list of individual list of ships just from the asset matches. I do have an idea to update the cached page if none of the potential ships on the page are valid ONLY if it's on sparkle mode, since this would not be desirable for something like Orel. This would

[2018-03-11 03:03] mrmin123 commented on #95
Or are you specifying via Position? The two behaviors are incredibly different.

[2018-03-11 06:34] #96 closed, assigned to mrmin123

[2018-03-11 06:34] #101 closed, assigned to mrmin123

[2018-03-11 06:34] #107 closed, assigned to mrmin123

[2018-03-11 06:34] #95 closed, assigned to mrmin123

[2018-03-11 06:34] #106 closed, assigned to mrmin123

[2018-03-11 06:34] #108 closed, assigned to mrmin123

[2018-03-11 21:24] Danielosama opened #115 "Wait/Pause Timer"
Hey man, I finally decided to download KCAuto Kai and try it by farming E1 with it, and I have to say this thing is insane! It's so fast compared to the previous one, in fact, it may be too fast!
I know there is a "check fatigue" option, but is there any possibility to add some sort of pause between each sortie? Having the girls at 49 morale before starting a sortie is what I'm looking for basical

[2018-03-12 04:36] waicool20 opened #116 "Cannot start sortie if no LBAS assigned on LBAS enabled map"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md): `9726190`
* Viewer/browser:
* Operating system:

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it interm

[2018-03-12 06:22] waicool20 opened #117 "LBAS resupply FindFailed if LBAS is already resupplied."
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md): `9726190`
* Viewer/browser:
* Operating system:

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it interm

[2018-03-13 11:34] CripsyBekon opened #118 "Basic recovery doesn't work"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md):0.4.3
* Viewer/browser:Chrome
* Operating system:WIndows

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is i

[2018-03-13 11:39] waicool20 commented on #118
Could probably fall back to using the `window` region from the `App` instance in case `kc_region` is null

[2018-03-13 16:07] CripsyBekon opened #119 "Expedition receiving error when receiving expeditions in close proximity"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md): 0.4.3
* Viewer/browser: Chrome
* Operating system: Windows

#### Issue variability
Is the issue consistent (can be reproduced consistently) or i

[2018-03-13 22:50] mrmin123 commented on #118
What is exactly happening in-game? Logs are good but only tell one half of the story without knowing what's happening in the game.

[2018-03-13 22:54] mrmin123 commented on #117
What version of sikuli are you on? This definitely isn't the behavior I've encountered, since this would happen even if the LBAS squadron never reached a node, and that's happened to me plenty of times.

[2018-03-13 22:59] waicool20 commented on #117
Recently switch to the latest nightly for 1.1.2, which is march 8 build. 1.1.2 is on code freeze tho and they are about to release 1.1.3 soon.

It is indeed possible for `waitVanish` to throw FindFailed tho, tho this might be an unintended change on sikulis end

[2018-03-13 22:59] mrmin123 commented on #116
That bit of logic exists explicitly because previously, if you were to set all squadrons to air defense, you got the normal combat sortie button. See mrmin123/kancolle-auto#255

Is this no longer the case? I don't have the game in front of me and you haven't provided a config so I can't tell if this is indeed what you are trying to do.

[2018-03-13 23:03] mrmin123 commented on #117
Yea, I'm guessing this is an issue caused by newer versions of Sikuli since mine is relatively old at this point and does not have this issue.

If this is a major issue for others please downgrade Sikuli until a fix for this is in.

[2018-03-13 23:19] waicool20 commented on #116
I think I know why, if you set your config to

[code]
`start_button` will be `combat_start_lbas.png`
since LBASGroups wouldn't be empty and you are just checking if any of the LBASGroups have nodes

[2018-03-13 23:22] mrmin123 commented on #116
That's arguably a bad config. The webUI will clear the assigned nodes for
an un-deployed LBAS group.

On Tue, Mar 13, 2018 at 4:19 PM, waicool20 <notifications@github.com> wrote:

[2018-03-13 23:31] mrmin123 commented on #116
To clarify, LBASGroup2Nodes should be blank, since LBASGroup2 isn't
enabled.

On Tue, Mar 13, 2018, 16:19 waicool20 <notifications@github.com> wrote:

[2018-03-13 23:42] waicool20 commented on #116
True but then I again iirc I was editing it by hand at the time, Maybe add some checks in the config parser?

[2018-03-14 00:16] mrmin123 commented on #116
Yes, if it works with the changes to the config I suggested then the combat
module is working as intended.

Additional handling in config parser is preferable but until then the
workaround is a config following the rule I noted earlier.

On Tue, Mar 13, 2018, 16:42 waicool20 <notifications@github.com> wrote:

[2018-03-14 00:52] CripsyBekon commented on #118
The screen is the standard catbomb image. However, when i restarted the script, it dint attempt to refresh the page at all, unlike its predecessor who would: noticed the cat girl, and attempt an in browser refresh via `#ESC, #F5, #ENTER`

[2018-03-14 18:16] mrmin123 commented on #115
Thanks! Glad you're liking kcauto-kai.

I'm actually going to re-open this issue since I'm interested in adding functionality like this for myself. This will most likely be a hidden option tucked away in globals.

[2018-03-15 02:45] perryhuynh opened #120 "continue_override mismatches"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md): 0.4.3
* Viewer/browser: Chrome
* Operating system: Xubuntu

#### Issue variability
Happens VERY rarely
#### Issue
There is sometimes a mismatch

[2018-03-15 04:54] mrmin123 opened #121 "Minor bugfixes and housekeeping"
Catchall ticket.

[2018-03-15 06:17] mrmin123 commented on #120
As mentioned in Discord, the primary goal is to make sure that the escort flagship detection be properly set, not to introduce yet another option the user needs to maintain. This will be a hidden option, if introduced at all.

[2018-03-15 16:16] Danielosama commented on #115
No problem man.
I closed it since I thought I was asking for too much, the script is already farming E1 like crazy, and without problems at all.
If you end up adding this, it'd just be even better :p

[2018-03-15 16:55] perryhuynh commented on #120
Sounds good

[2018-03-16 01:05] mrmin123 commented on #121
Umbrella ticket for tickets #115, #117, #118, #119, #120.

[2018-03-16 01:06] mrmin123 commented on #115
@Danielosama the code for this is live in the `121-bugfixes-and-housekeeping` branch; you'll have to modify `L21` in `kca_globals.py` to however minutes you'd like the delay between sorties to be (defaults to 0, which is the current behavior).

[2018-03-16 14:55] CripsyBekon opened #122 "FindFailed error for shiplist_shipswitch_button.png"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md):bugfix branch
* Viewer/browser: Chrome
* Operating system: Windows 10

#### Issue variability

Is the issue consistent (can be reproduced consist

[2018-03-16 17:54] mrmin123 commented on #122
This is happening consistently? What's your shipswitcher config? I need to know what logic route it's going down. If it's not selecting a ship then all the wait in the world isn't going to allow for a match on an image that'll never exist on the screen. The problem is probably upstream.

No, there isn't a sikulix call (?) to wrap around this.

[2018-03-17 04:25] perryhuynh opened #123 "Next sortie time should be set to next shortest repair time"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (date on first line of CHANGELOG.md): `0.4.3`
* Viewer/browser: N/A
* Operating system: N/A

#### Issue variability
Consistently

#### Issue
Mentioned in discord before:
[code]

[2018-03-17 17:48] CripsyBekon commented on #122
I edited with more information. At the moment its really flaky whereby suddenly it just dint trigger anymore for almost 3 hours already. If you cant replicate it, i can provide you with the account so that you can test it. Give me a heads up if you want more details and i will see if i can do anything to help.

Also, sorry for the mess which was the unedited one. Was kinda tired and wasn't thinkin

[2018-03-18 04:59] #115 closed, assigned to mrmin123

[2018-03-18 04:59] #117 closed, assigned to mrmin123

[2018-03-18 04:59] #118 closed, assigned to mrmin123

[2018-03-18 04:59] #120 closed, assigned to mrmin123

[2018-03-18 04:59] #121 closed, assigned to mrmin123

[2018-03-18 16:00] CripsyBekon opened #126 "FindFailed error: LBAS resupply issue when a disabled base require refuelling"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md):0.4.4
* Viewer/browser: Chrome
* Operating system: Windows 10
* Sikuli version:1.1.2-20171017.103838-37

#### Issue variability
Is the issue c

[2018-03-18 16:11] mrmin123 commented on #126
@CripsyBekon Try upgrading to 0.4.4, this issue should already be resolved there. Probably related to #117.

[2018-03-18 16:41] CripsyBekon commented on #126
alright. i will test it out and give you an update by tomorrow

[2018-03-18 20:04] perryhuynh opened #127 "Default formation broken with legacy combat"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.4.4
* Viewer/browser: Chrome
* Operating system: Ubuntu

#### Issue variability
Consistently

#### Issue
When no formation is defined for a

[2018-03-19 01:22] CripsyBekon commented on #126
I tried it again but it still doesn't work. I updated the logs and version. Just in case it is like #117 , i added my sikuli version as well.

[2018-03-22 10:36] usagi123 opened #128 "LBAS select wrong node"
#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.4.4
* Viewer/browser: Chrome
* Operating system: Windows 7

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Consistently
#### Issue

LBAS 3 was assigned for node C and R but after selecting node C, the LBAS panel move into the le

[2018-03-22 15:42] Czevak opened #129 "FCF retreats can cause formations to disappear which results in hanging"
#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.4.0
* Viewer/browser: Chrome
* Operating system: Windows 10

#### Issue variability
Consistently reproducible

#### Issue
When using FCF to retreat taiha'd ships in Combined Fleets, if this results in the specified formation for a subsequent node becoming unusable, the program will loop infinitely looking for

[2018-03-22 16:07] mrmin123 commented on #128
Judging from the video it looks like the wrong coordinates for node R are supplied. Code seems to be working as intended.

[2018-03-22 16:39] mrmin123 commented on #129
This is actually relatively easy to address in the code; the easiest way would be to just fall back to combinedfleet_4 every time, but I'm not sure if this is the *right* way. If I remember correctly formation 1 (the ASW formation) also disappears once 4 ships are retreated. Would the logical fallback for both formation 1 and 3 be 4?

[2018-03-22 16:41] SpawnageLoong opened #130 "Completely fails to start"
#### Environment details

* KCAuto-Kai version 0.4.4
* Chrome/KC3改
* Windows 10 (x64)

#### Issue

KCAuto-Kai completely fails to start. It only gets as far as bringing the Chrome window forwards before the error comes up and the program stops.

#### Log
[code]

#### Config

Nothing should be happening other than sending fleet 4 for expedition 2.

[code]

[2018-03-22 16:42] Czevak commented on #129
Yes, I'd say 4 is a safe fallback. 2 is rather situational, and adding a choice for which to fallback on would probably be more complexity than necessary.

[2018-03-22 16:43] perryhuynh commented on #130
is it scaled correctly to 100%?

[2018-03-22 17:39] mrmin123 commented on #130
See also the [FAQ](https://github.com/mrmin123/kcauto-kai/wiki/FAQ#kcauto-kai-starts-but-it-immediately-errors-out-attributeerror-nonetype-object-has-no-attribute-mousemove-or-findfailed-error-looking-for-kc_reference_pointpng), third entry under 'Usage Questions'.

[2018-03-22 17:43] perryhuynh commented on #129
I'd say 4 is not a safe fallback because if you retreat enough ships then both 3 and 4 disappear

[2018-03-22 17:48] mrmin123 commented on #129
Does 4 disappear? I thought 3 and 1 disappear, in that order, but I could be mistaken.

[2018-03-22 18:28] Czevak commented on #129
Regardless of which it is, I think the priority should be Selected formation > Formation 4 > Formation 2.
There may be value in setting a minimum fleet size for continuing, eg: Retreat if I use FCF twice (4 ships gone).

[2018-03-22 20:09] dice4321 opened #131 "Script continues to sortie when ship in the escort fleet is taiha"
#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 64-event-2018-winter
* Viewer/browser: Chrome
* Operating system: xubuntu

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)? once

#### Issue

The script misread the flagship and continued sorting, I woke up with morning read the logs

[2018-03-22 20:43] mrmin123 commented on #131
Oof, I think you might be on an old version of the codebase. 0.4.4, released 5 days ago, should have addressed this issue. See #120.

[2018-03-22 20:45] dice4321 commented on #131
FFFF

[2018-03-22 20:45] #131 closed, assigned to nobody

[2018-03-24 23:39] angryturbot opened #132 "[Feature Request] If ship under repair is in fleet, check docks for repair timers"
Current behavior is that it just tries to sortie again every 5 minutes.

[2018-03-25 01:25] Evolto2019 opened #133 "Start fails"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md):0.4.4
* Viewer/browser:Chrome
* Operating system:Windows 10

#### Issue variability
Is the issue consistent (can be reproduced consistently) o

[2018-03-25 01:32] waicool20 commented on #133
Update sikulix and jython

[2018-03-25 01:34] mrmin123 commented on #133
You need at least Jython 2.7 installed.

[2018-03-25 01:38] SpawnageLoong commented on #130
Yes, my Chrome window is scaled at 100%. The log I copied is the entire log from right after I started it, and I can't find the attribute error, or any if the errors covered in the FAQ.

[2018-03-25 01:40] Evolto2019 commented on #133
I've just try to install sikulix with Jython 2.7 , but it had errors until I changed the edition of Jython to 2.5.4(for reasons of unicode?)

[2018-03-25 01:42] mrmin123 commented on #133
The base code is only compatible with Python/Jython 2.7 ~~and above~~:

http://bugs.jython.org/issue2050
https://stackoverflow.com/questions/12991057/jython-syntaxerror-mismatched-input-expecting-colon

Also, from previous experience, the script won't work if there are any unicode characters in any of the paths to kcauto-kai or Sikuli.

[2018-03-25 01:45] mrmin123 commented on #130
You're starting the script with the game at the home port? Could you provide a screenshot of the game screen? Feel free to censor out your in-game name.

[2018-03-25 04:37] Evolto2019 commented on #133
@mrmin123 Thx, but I am completely lost when I try to deal with Jython 2.7 and Unicode…Sikuli told me there would be some problems about Unicode characters in my environment.However, I can't understand what "environment" is.(what I only know is there are no non-english characters in my path to Sikuli and kcauto Kai)

[2018-03-25 04:40] mrmin123 commented on #133
Could you post what the message is? Sikuli does have issues with unicode
text, but if you're not trying to specify the game window name with unicode
text and don't have any unicode characters in your paths you should be fine.

On Sat, Mar 24, 2018 at 9:37 PM, 精分水鬼 <notifications@github.com> wrote:

[2018-03-25 04:48] Evolto2019 commented on #133
@mrmin123 Exactly the error occurs during the installation of Sikuli, Jython 2.7 is responsible for it.
The log of Sikuli is like this:
[debug (3/25/18 11:50:30 AM)] RunSetup: adding needed stuff to sikulix.jar

[debug (3/25/18 11:50:30 AM)] FileManager: buildJar: sikulixtemp.jar

[debug (3/25/18 11:50:30 AM)] FileManager: buildJar: adding: sikulix.jar

[debug (3/25/18 11:50:45 AM)] FileManager: b

[2018-03-26 07:32] mrmin123 commented on #119
Re-opening this... my fix unintentionally broke stats and proper expedition retrieval.

[2018-03-26 07:34] mrmin123 commented on #133
I'm not sure what this issue is. It seems to be a Sikuli-related one, not related to kcauto-kai.

[2018-03-27 04:56] mrmin123 commented on #133
Closing as this is not a kcauto-kai issue.

[2018-03-27 04:56] #133 closed, assigned to nobody

[2018-03-27 07:19] mrmin123 opened #137 "webUI config import not working"
`scheduledSleep` variable has a typo.

[2018-03-27 07:22] mrmin123 opened #138 "Consider removing webUI localization support"
Makes maintenance more difficult, and there doesn't seem to be demand for non-English localization support.

[2018-03-27 07:52] waicool20 commented on #138
Otoh ive been procrastinating implementing i18n in KAGA lol

[2018-03-27 20:09] perryhuynh opened #140 "6-5 Asset Missing"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md):
* Viewer/browser: N/A
* Operating system: N/A

#### Issue
`c_world_6-5.png` does not exist, screenshot provided for asset generation:

![](ht

[2018-03-28 04:55] #64 closed, assigned to mrmin123

[2018-03-28 04:55] #116 closed, assigned to mrmin123

[2018-03-28 04:55] #126 closed, assigned to mrmin123

[2018-03-28 04:55] #127 closed, assigned to mrmin123

[2018-03-28 04:55] #129 closed, assigned to mrmin123

[2018-03-28 04:55] #140 closed, assigned to mrmin123

[2018-03-28 04:55] #119 closed, assigned to mrmin123

[2018-03-28 04:55] #128 closed, assigned to nobody

[2018-03-28 04:55] #137 closed, assigned to mrmin123

[2018-03-28 04:59] mrmin123 commented on #128
Closing this since the event is over and node R is no longer relevant...

[2018-03-28 05:01] mrmin123 commented on #126
Not sure if this is actually going to resolve the issue since I can't pin it down and I can't reproduce; hopefully the additional delay will fix the problem, or, failing that, the additional console message will help debug.

[2018-03-28 06:11] perryhuynh commented on #130
Possibly windows scaling?

![](https://i.imgur.com/idIKtee.png)

[2018-03-28 06:55] mintgreenrose opened #143 "How to use Pause?"
Really sorry for the seemingly stupid question but I've searched and found no answer to how to use it. does it allow me to pause the script temporarily to, let's say, scrap unwanted ships? before resuming 3-2A runs? Or does it work like a delay to restore fatigue levels only? Thanks

[2018-03-28 06:57] waicool20 commented on #143
If the script is running and you change the config `Pause` to `True` then it will pause on the next cycle. Conversely if it's set to `False` then it will the script will continue after a few seconds.

[2018-03-28 07:00] mintgreenrose commented on #143
Thanks, I think I have an idea now how it works

[2018-03-28 07:19] mrmin123 commented on #143
To further clarify, this works simply by utilizing the config hot reload capability. If kcauto-kai is already running, and you modify the config file to set `Pause` to `True` *while* the script is still running, the script will hot-reload the config on the next cycle (~15s after the last time the stats have been printed), see that the `Pause` line has been set, and pause the script to let you do s

[2018-03-28 07:19] #143 closed, assigned to nobody

[2018-03-28 12:38] Danielosama opened #144 "[Feature Request] Stop Combat after a given number of sorties but keep expeditions going."
The Old KC Auto had an option to stop after a number of sorties, unfortunately it would stop the whole script.
Would it be possible to only stop sorties and keep expeditions active?

[2018-03-28 16:30] shiragasama opened #145 "My kcauto-kai can't work"
#### Issue

My kcauto-kai can't start

#### Log
[error] script [ C:\Users\E6430\Downloads\auto\kcauto-kai-master\kcauto-kai.sikuli ] stopped with error in line 81 at column 22
[error] SyntaxError ( "mismatched input 'as' expecting COLON",  )
[KAGA] [2018-03-29 01:25:47] [c.w.k.k.KancolleAutoKai] INFO - KCAuto-Kai session has terminated!
[KAGA] [2018-03-29 01:25:47] [c.w.k.k.KancolleAutoKai] DEBUG

[2018-03-28 16:44] waicool20 commented on #145
Same issue as #133, update your sikulix and jython installations, https://raiman.github.io/nightly.html

Jython version should be at least 2.7 anything lower will result in this error as shown in your log.
[code]

[2018-03-29 05:25] mrmin123 commented on #144
That's the plan for the new ScheduledStop module. See #87

[2018-03-29 05:25] #144 closed, assigned to nobody

[2018-03-29 14:10] waicool20 commented on #69
Implemented this on KAGAs side for now as of https://github.com/waicool20/KAGA/releases/tag/v2.0.1

Accuracy seems to be fairly good, I still did character-number replacements just to be safe and also it seems trying multiple scale factors (3x to 5x) almost eliminated any chance of it failing to get the correct number.

For those interested in the kotlin implementation:

https://github.com/waicool

[2018-03-29 14:42] ghost opened #146 "[Feature Request] make quest section to have only do weeklies or dailies or both."
Currently the quest system does not have the customization from previous version that has a list of quest to do. Instead only a check box. I would like to request a feature where we can only do Dailies or Weeklies or both in this case.

Thanks for understanding and thank you in advance for this awesome tool

[2018-03-29 17:08] mrmin123 commented on #146
This is certainly doable. It might not be binned that conveniently (dailies, weeklies, etc) but I can bring back the ability to specify quests by name.

[2018-03-29 17:09] mrmin123 commented on #145
Closing this since itsn't a kcauto-kai issue.

[2018-03-29 17:09] #145 closed, assigned to nobody

[2018-03-30 07:00] #70 closed, assigned to mrmin123

[2018-03-30 20:25] mrmin123 commented on #130
Closing due to inactivity.

[2018-03-30 20:25] #130 closed, assigned to nobody

[2018-04-02 03:55] waicool20 opened #147 "Quests not resetting"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): latest commit
* Viewer/browser: KC3/Chromium
* Operating system: Linux

#### Issue variability
Is the issue consistent (can be reproduced con

[2018-04-02 03:59] mrmin123 commented on #147
Yea I noticed and remembered this just yesterday myself. Having PvP turned
on alleviates the issue since quest checking is forced before every pvp but
is a poor workaround. Thanks for the ticket.

On Sun, Apr 1, 2018, 20:55 waicool20 <notifications@github.com> wrote:

[2018-04-04 13:10] twisting2017 opened #148 "Shipswitcher logic, fatigue-resupply"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.4.5
* Viewer/browser: Chrome
* Operating system: Win 10

#### Issue variability
consistent

#### Issue

hello,

i want to suggest a slight

[2018-04-08 21:51] mrmin123 commented on #122
@CripsyBekon Is your connection really slow..? Judging from the logs you have a lot of `FindFailed`s stemming from slow loading.

[2018-04-08 22:24] #122 closed, assigned to mrmin123

[2018-04-08 22:24] #123 closed, assigned to mrmin123

[2018-04-08 22:24] #132 closed, assigned to mrmin123

[2018-04-08 22:24] #147 closed, assigned to mrmin123

[2018-04-08 22:24] #148 closed, assigned to mrmin123

[2018-04-08 22:54] mrmin123 opened #154 "Support repairs from beyond first page"
Currently the repair module only selects fleet ships on the first page. Add support for checking subsequent pages for fleet ships to repair.

Connects to #13

[2018-04-08 22:58] mrmin123 opened #155 "Greedy/maximize repair option"
~~Depending on playstyle and setup it may be advantageous to either repair any ship or only fleet ship. Add in the ability to switch to either or.~~

See discussion below.

[2018-04-09 05:41] sakura-quest opened #156 "[Feature Request] Allow dynamic setting of force retreat nodes"
In maps such as 4-3 for DD/CL/DE grinding, where routing is random, I want to be able to do variable number of  battles. For example, if I get sent to node J first, I want to perform 3 battles (nodes J->F->K or nodes J->F->D. However, if I get sent to node F first, I want to perform 2 battles (nodes F->K or F->D). One way to implement this in a flexible manner that I see would be to allow users to

[2018-04-09 06:05] perryhuynh commented on #156
You can already specify to retreat by adding `"types": ["retreat"]` to whatever nodes you want in the the 4-3 map JSON file though

[2018-04-09 06:12] sakura-quest commented on #156
I just thought that being able to specify it via the config.ini (and having support for it in the browser config generator) would be more user friendly, especially since the ability to specify `"types": ["retreat"]` in the map json file is only something a user would know by reading the code.

[2018-04-09 06:16] sakura-quest commented on #156
Also, I felt that the map.json file is something more akin to a resource file for the program, that a user should not touch. If a user modifies the map.json file, then they have to remember to revert it back since otherwise it can cause issues for their future sorties, if they do not want the behavior anymore. It would be easier on them if all they had to change was the config.ini file which they

[2018-04-09 06:23] perryhuynh opened #158 "Accessing list of repair timers after bucketing causes crash"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.4.6
* Viewer/browser: N/A
* Operating system: N/A

#### Issue variability
Consistent

#### Issue
[code]

In `repair.py` if there is current

[2018-04-09 06:33] perryhuynh commented on #156
Ah yeah mrmin did note he would explore allowing users to specify their own retreat nodes at the config level but this was about 4 or 5 months ago

[2018-04-10 03:49] mrmin123 commented on #156
Users shouldn't be afraid to change the map JSON files but I admit that it's a bit unwieldy if you're not familiar with JSON, and it's not documented at the moment. That said, I'm not sure if I like the implementation in #160.

It's not wrong, and it's a step in the right direction (moving it to the config), but it's the naive solution: it's adding Combat config option that is only relevant to one

[2018-04-10 04:33] #158 closed, assigned to perryhuynh

[2018-04-10 05:42] sakura-quest commented on #156
What you say makes sense. The purpose of retreat nodes and combat node count is the same, so combining them to the same config makes sense. However, I'm not sure what the best way would be to phrase this combined option in the config generator UI. Would something like "Max battle count/retreat Nodes..." be clear enough?

Also, I am a bit unclear on what the different engine options are, as I have

[2018-04-10 18:15] mrmin123 commented on #156
I think that label works, but as 'Max Battle Count/Retreat Nodes' for consistent capitalization, and it can replace the 'Combat Node Count' dropdown. It would have to be a multiselect now, and the options would also need to include the Node names.

As for live vs legacy, there's a brief outline of the differences in the [wiki](https://github.com/mrmin123/kcauto-kai/wiki/Config:-Combat-section#engi

[2018-04-11 19:46] perryhuynh opened #162 "Shipswitcher stuck on last page"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.4.6-bugfix
* Viewer/browser: Chrome
* Operating system: Ubuntu

#### Issue variability
Intermittent, I can't seem to consistently reproduce

[2018-04-12 04:01] mrmin123 commented on #162
This would require a few more prints to pinpoint... I think it's basically clicking where it believes a ship is, but it's actually a blank space on the last page, thus erroring out. You had 275 ships at time of rash? Could you add this print to the beginning of the `_choose_ship_by_position` method in `shipswitcher.py`?:

[code]

This would help pin down what the issue might be.

[2018-04-12 19:28] perryhuynh commented on #162
[code]

There were 2 ships on page 27 but it didn't actually turn the page back to page 26

[2018-04-12 19:35] mrmin123 commented on #162
Was it actually on page 26 when it crashed? Was the ship select sub panel
up?

On Thu, Apr 12, 2018, 12:28 Perry Huynh <notifications@github.com> wrote:

[2018-04-12 19:54] perryhuynh commented on #162
Nope, it was on page 27 with no panel up

Also possibly related or not with the issue with not turning pages, it switched in `P:N:E:10` which isn't specified in the config

[2018-04-14 00:08] mrmin123 commented on #162
@perryhuynh I made a new branch, `shipswitcher-debug` that has a bunch of additional print messages. Could you run it with this?

As for the attempted switch, in the last crash log you provided it tried to switch `P:N:E:9`, and that's set in the config (ship position in ship list is 1-base, not 0-base).

This issue could simply be the expand area for navigation buttons being too large or something

[2018-04-14 00:44] perryhuynh commented on #162
For `P:N:E:9` it was switched into slot 5 which had `Slot5Ships: P:N:E:20, P:N:E:21, P:N:E:73, P:N:E:74`

[2018-04-14 01:34] perryhuynh commented on #162
[code]
Was stuck on page 28, it's not consistently happening which leads me to believe it might be the expand areas for the navigation buttons being too large

EDIT: Was able to actually see it attempt the click this time and it clicked a bit to the right of the page number which didn't switch the page

[2018-04-14 21:08] mrmin123 commented on #162
OK, I've shifted all the click coordinates for the page numbers left by 6 pixels in the test branch. Could you retest?

[2018-04-15 04:24] perryhuynh commented on #162
Ran it for about ~4 hours so far without any `FindFailed`, will test for longer tomorrow

[2018-04-16 17:27] perryhuynh commented on #162
I haven't experienced it in about 12 hours of running it since the fixes

[2018-04-24 19:55] perryhuynh opened #164 "[Feature Request] Additional quest selection criteria based on map JSON files"
Would it be feasible to add to the quest selection criteria based on information in the map's JSON file? For example transport quests would only be selected if the map had a `"types": ["transport"]` and so forth.

[2018-05-03 05:22] waicool20 opened #165 "Expedition dispatch find failed loop"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): current
* Viewer/browser:
* Operating system:

#### Issue variability
Consistent

#### Issue
Expedition module loops with a find fail if it c

[2018-05-07 00:22] mrmin123 commented on #164
A pretty good idea. Would keep the active quest list from being polluted by irrelevant quests.

[2018-05-17 06:51] mrmin123 commented on #155
I've been mulling over the logic for this the past few days and I figured I should ask the users' feedback on this. I've had requests for a more 'greedy' repair logic, but as my current playstyle is very compatible with the current fleet-only repair logic, I'm at a bit of a loss as to what is actually being requested.

* The currently implemented logic in kcauto-kai searches and repairs only the d

[2018-05-17 14:54] waicool20 commented on #155
Posting this here for those who don't want to login and aren't in the discord servers: https://strawpoll.com/5rp3hg67

[2018-05-17 18:30] waicool20 opened #168 "Morale detection enhancement in case of ringed ship"
Sometimes morale detection system fails to detect the morale level correctly if a ship is ringed:

![image](https://user-images.githubusercontent.com/5538666/40196201-686272aa-5a42-11e8-9f4a-d70bcce1fd79.png)

![image](https://user-images.githubusercontent.com/5538666/40196224-7cfad9b4-5a42-11e8-9a7d-bf00275df4d2.png)

![image](https://user-images.githubusercontent.com/5538666/40196274-a124c6ec-5a

[2018-05-18 06:57] twisting2017 commented on #155
1 & 4 as configureable options would be the best solution imho. another thing that would be nice would be if ships could be repaired that are damaged but not yet damaged enough to get the 'light damage' tag.

[2018-05-18 17:27] mrmin123 commented on #155
Judging by the poll, yes, options 1 and 4 are the most desired behavior.

I'm going to modify this ticket to encompass option 4 (greedy), and bump up the priority in option 1 and probably work on that first.

I'll consider repairing scratch damage but that might end up being a separate ticket and not make it in until post-1.0.

[2018-05-18 17:30] mrmin123 commented on #155
I'll also probably eventually implement something that repairs all damaged ships in the port while not sortieing (a passive repair, so to speak).

[2018-05-19 08:51] mrmin123 commented on #154
Test branch [154-multi-page-repair](https://github.com/mrmin123/kcauto-kai/tree/154-multi-page-repair), test feedback welcome..

[2018-05-19 20:55] Danielosama opened #169 "Different formations for different first combat nodes?"
This may be a stupid question, but in 4-2, the first Node can be either a sub fleet or a normal fleet.
Is it possible to assign a different formation depending on which one we end up against?
Maybe it's with the live tracking JSON files thing, but honestly all of that sounds like alien to me :>

[2018-05-19 20:59] mrmin123 commented on #169
You can specify a formation override on a per node basis via either the
json file or the config when using the live combat engine.

For the formation it should be in the format of node:formation. In the json
the key is formation and the value is the formation.

The wiki/config interfaces should provide more detail and help.. I'm not
near a computer right now so can't provide the details here.

On

[2018-05-19 21:43] Danielosama commented on #169
Jesus christ I'm blind....
I did not bother to scroll down further than the numbers, and yet there are the Node letters I needed.
I'm such a moron x(
Sorry about that waste of time :x
Again, your script is terrific, it helps so much, especially with the ongoing grindfest "mini event".
Thank you for your answer.

[2018-05-19 22:23] mrmin123 commented on #169
No worries! Closing the issue.

[2018-05-19 22:23] #169 closed, assigned to nobody

[2018-05-20 07:11] #87 closed, assigned to mrmin123

[2018-05-20 07:11] #154 closed, assigned to mrmin123

[2018-05-20 07:11] #162 closed, assigned to mrmin123

[2018-05-20 07:11] #165 closed, assigned to mrmin123

[2018-05-21 07:17] mrmin123 opened #172 "[Edge/Critical] Live combat engine crashes kcauto-kai if node detection completely fails"
Some modifications I made in 0.5.0 made it so that live node detection in the combat module was more accurate. This had the unintended consequence of kcauto-kai crashing when the fleet position *cannot be ascertained* by the first combat node. From my usage this is relatively rare (tied more to the whims of Sikuli more than anything) but nonetheless can lead to inconsistent crashes.

If you intend

[2018-05-22 10:16] waicool20 commented on #168
Wrote some quick kotlin code to test out how hue detection could be done:
[code]
Output:
[code]

Here were the two images:
![fatiguedringed](https://user-images.githubusercontent.com/5538666/40356336-4d5148d6-5deb-11e8-887f-6d444e95453b.png)
![restedringed](https://user-images.githubusercontent.com/5538666/40356343-4fa5ebaa-5deb-11e8-9123-f0d0a0b08099.png)

Basically we capture a sub-region of the

[2018-05-22 13:25] waicool20 commented on #155
Did some research based on @twisting2017 request of repairing non-minor damage ships and I came up with the following code so far, I reference the same functions that I have posted in #168 `similarity()` and `getAverageColor()`, once again pardon the kotlin heh:
[code]
Output:
[code]
Images are based on 158x7 pixel screencapture of each health bar as below (follows the above order):
![damage100](h

[2018-05-27 06:29] waicool20 opened #173 "Sparkling script does not stop combat module properly"
#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.5.0
* Viewer/browser: KC3/Chromium
* Operating system: Linux

#### Issue variability
Consistent
#### Issue
Set script to sparkle a few ships, after sparkling the combat module does not deactivate properly due to detected change in config.

I've tested this without KAGA and it still happens so I've ruled that

[2018-05-27 08:00] mrmin123 commented on #173
Thanks for the report. I've identified the issue and am snipping the log since it's a bit long.

[2018-05-28 01:06] mrmin123 opened #176 "PortCheck does not work on non-event maps"

[2018-06-03 02:39] #172 closed, assigned to mrmin123

[2018-06-03 02:39] #173 closed, assigned to mrmin123

[2018-06-03 02:39] #168 closed, assigned to mrmin123

[2018-06-03 02:39] #176 closed, assigned to mrmin123

[2018-06-03 02:42] mrmin123 commented on #168
Thanks for the proposed fix @waicool20 , but a bit heavy handed. Just cropping the bottom of the morale icon and increasing the time-to-match did the job.

[2018-06-03 02:45] mrmin123 commented on #155
Since #154 is implemented I will be punting this to post-1.0.0.

[2018-06-05 08:34] twisting2017 opened #180 "Shipswitcher bug class method"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version 0.50:
* Viewer/browser: KC3
* Operating system: win 10

#### Issue variability
consistent

#### Issue

when switching ships via class logic a case can happen when multiple ships need

[2018-06-05 08:43] twisting2017 opened #181 "Shipswitcher bug position based method"
*Please read the FAQ section of the kcauto-kai Wiki before opening a ticket. Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto-kai version: 0.50
* Viewer/browser:KC3
* Operating system: win 10

#### Issue variability
intermittent

#### Issue

sometimes seemingly random ships get pulled in when using position based logic

[2018-06-05 17:01] mrmin123 commented on #181
The arrow_prev and arrow_next need to be that large so there aren't any false positive matches with the first page and last page arrows. The EXPAND_AREA for those should constrict the actual valid click area. It might be that it needs to be constricted even more, or a delay added between clicks.

[2018-06-05 17:03] mrmin123 commented on #180
I don't necessarily see this as a bug but I'll see if I can provide an improvement for better class-based navigation.

[2018-06-08 12:25] cmonbruh123 opened #182 "Random Crashes in Fleet Selection step"
#### Environment details

* kcauto-kai version (version on first line of CHANGELOG.md): 0.5.0
* Viewer/browser: Chrome
* Operating system: 64 bit Windows 10

#### Issue variability

Script crashes randomly (ie.  sometimes it runs for up to 6 hours, sometimes up to just 2).

#### Issue

Seems to always crash in the formation selection screen. Cannot reproduce the timing but the script seems to cras

[2018-06-08 12:44] mrmin123 commented on #182
Please update to 0.5.1.

On Fri, Jun 8, 2018, 05:25 Cmonbruh <notifications@github.com> wrote:

[2018-06-14 17:38] #182 closed, assigned to nobody

[2018-06-14 17:38] cmonbruh123 commented on #182
That fixed the problem!

[2018-06-18 01:49] mrmin123 commented on #180
Actually, this is a bug... `_resolve_replacement_ship_by_asset` should be using a cached location, but maybe I guess it's not??

edit: or it's setting the cache when it encounters the first available ship (page 20, in your example), instead of at page 12..

[2018-06-18 08:45] mrmin123 commented on #146
Actually, filtering on daily/weekly/monthly is the easiest so I'm going to do that...

[2018-06-20 21:29] #7 closed, assigned to mrmin123

[2018-06-20 21:29] #146 closed, assigned to mrmin123

[2018-06-20 21:29] #156 closed, assigned to mrmin123, sakura-quest

[2018-06-20 21:29] #180 closed, assigned to mrmin123

[2018-06-20 21:29] #181 closed, assigned to mrmin123

[2018-06-21 09:56] nekoma0 opened #190 "[Feature Request] Entering <Node> Trigger Stop KCauto"
Feature Request : Prevent/Stop/Kill KCauto from running when entering unintended node. (if possible, include a popup sound or something to notify user when this triggered)

Sometimes, users such as myself tends to screw up when configuring our fleet, and enable kcauto without knowing that there's a mistake in fleet configuration, such as not enough LoS(Line of Sight), or incorrect fleet compositio

[2018-06-21 21:30] loadinglab3 opened #191 "Findfailed loop, script cannot work"
#### Environment details

* kcauto-kai version (version on first line of `CHANGELOG.md`):1.0.0
* Viewer/browser:Google Chrom
* Operating system and/or VM:MAc

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:Consistent

#### Issue

When the script starts,it fails to go expedition instead it gets stuck in loop. Later che

[2018-06-22 01:05] mrmin123 commented on #191
Is your really internet really slow or something? It's attempting to go to a sub menu, and crashes because it doesn't reach it in time, but by the time it recovers it's in the sub menu.

[2018-06-22 01:19] mrmin123 commented on #190
So you basically want a more dramatic version of `RetreatNodes`? One that kills the script, instead of simply retreating?

I personally don't know if such a feature is in line with the operational and design assumption kcauto makes, which is that the onus is on the user to make sure that both the config and in-game setups are correct. How would the script ascertain what is a 'bad' node? Via config

[2018-06-22 01:32] loadinglab3 commented on #191
Thanks for help. My internet is pretty fine. It takes less than 1 second to respond to every action as I inspected.

[2018-06-22 01:34] mrmin123 commented on #191
That's really odd. What's the timeline of what happens in-game and in-console? A step-by-step description of what happens in-game and what messages are displayed in the console would be useful here, if not necessary.

[2018-06-22 02:25] loadinglab3 commented on #191
[code]
10:09 AM Script start, game in the modernization page.
10:11 AM mouse move to upper left corner
10:12 AM game move to the home page
10:13 AM game move to organization page
10:15 AM game back to home page
10:16 AM mouse moves to upper left and I quit the script.

Strangely I tried the script on window last couple days, all worked fine.
It might be a Mac specific issue.
Thanks for the time an

[2018-06-22 05:06] mrmin123 commented on #191
I must admit I've never tried running kcauto on mac. I'll do some digging and try to test it over the weekend to see what's happening.

[2018-06-22 15:28] nekoma0 commented on #190
thanks, i will use the modified portion that you provided.
Personally i don`t think this feature will be desired by many people thou, so i will just make use of the retreat node, since i always set run kcauto and then went out for work or something, so i never check them if they were running smoothly before going out.

For this feature, in certain world/maps, there's certain few certain nodes or d

[2018-06-30 19:39] perryhuynh opened #194 "Use clear medal on sortie panel for ClearStop"
![](https://cdn.discordapp.com/attachments/370233436327247874/462702039026368522/unknown.png)

The `ClearStop` option should look for the clear medal on the top right of the sortie panel rather than the medal that appears in the results screen. Currently the `ClearStop` option doesn't seem to be working 100% of the time so I believe looking for this would be better since there is currently only on

[2018-07-08 05:53] Evolto2019 opened #195 "FleetSwitcher bug between cycles"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):2.0.0
* Viewer/browser:Chrome
* Operating system and/or VM:Windows 10

#### Issue variability
consi

[2018-07-08 07:17] mrmin123 commented on #195
Oops. I'll have a fix for this out tomorrow. In the meantime, you should be able to fix this by changing lines 59 and 67 of `fleetswitcher.py` to these, respectively:

[code]

[code]

[2018-07-08 09:34] Evolto2019 commented on #195
@mrmin123 Thx！

[2018-07-09 08:05] #8 closed, assigned to mrmin123

[2018-07-09 08:05] #93 closed, assigned to mrmin123

[2018-07-09 08:05] #195 closed, assigned to mrmin123

[2018-07-28 10:30] ElementOfCoffee opened #200 "Results of the ShipSwitcher work is not saved"
#### Environment details

* kcauto version: 3.0.0
* Browser: Chrome
* Operating system: Win7

#### Issue variability
The issue is consistent (Confirmed 3 times).

#### Issue

Shortly:
I-504 after the sortie received an moderate damage and should be switched by I-13, but result of ShipSwitcher's work is not saved.

The sequence of steps:
1) Main screen after sortie.
2) Interaction with the repair s

[2018-08-03 14:11] mintgreenrose opened #201 "Can't run A3 expeds"
console window shuts down automatically after a few seconds with this config:
[code]

But other expeds like Tokyo Express 2 runs on this config

[code]
other than the exped number for fleet 2 I can't seem to find any difference between the two. for it not to work

[2018-08-06 03:00] mrmin123 commented on #201
I can't recreate this issue. If you're still running into this, you'll have to provide more details in terms of what the game is doing to help debug.

[2018-08-06 05:02] mrmin123 opened #202 "Better node awareness in Live Combat Engine"
There are cases when an animation or graphic that occurs before the formation select screen throws off the node detection algorithm, throwing off the fleet position in the last seconds, leading to an incorrect node assignment. This is a ticket to address this issue with the Live Combat Engine.

[2018-08-06 07:09] mrmin123 commented on #200
I'm not even going to consider making kcauto 'aware' of the ship switcher status on top of fleet switcher's, but I am pushing a change that makes it so that the fleet isn't switched prior to every sortie despite it not being necessary. This should alleviate 99% of the issues with ship switcher and fleet switcher colliding.

[2018-08-06 07:13] #200 closed, assigned to mrmin123

[2018-08-06 07:13] #202 closed, assigned to mrmin123

[2018-08-06 15:42] perryhuynh opened #206 "Crash upon reaching node"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 3.1.0
* Viewer/browser: Chrome + KC3
* Operating system and/or VM: Ubuntu

#### Issue variability

[2018-08-06 16:20] mrmin123 commented on #206
[`L33 of combat.py`](https://github.com/mrmin123/kcauto/blob/master/kcauto.sikuli/combat.sikuli/combat.py#L33), add this line:

[code]

This is a temporary fix.

[2018-08-06 18:17] perryhuynh opened #207 "Fleet Switcher Crash"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 3.1.0
* Viewer/browser: Chrome
* Operating system and/or VM: Ubuntu

#### Issue variability
Consis

[2018-08-06 18:44] #206 closed, assigned to mrmin123

[2018-08-06 18:44] #207 closed, assigned to mrmin123

[2018-08-17 03:59] mrmin123 opened #210 "Phase 2 Block 1 compatibility placeholder"
Kancolle Phase 2 Block 1 is going live on 8/17 1800 JST. This update will break kcauto. Due to timezone differences (maint. ends 2 AM, my time) and work obligations, I will not be able to update kcauto for at least 12 hours after maintenance ends. I will be working on updating kcauto ASAP, but until then, please be patient.

Due to the potential scope of the work ahead (400+ images, 30+ map JSON f

[2018-08-17 10:54] Danielosama commented on #210
Lot of work for you ahead man, good luck and thanks a lot!
If you need any help, say it. Don't know how I could help but who knows.

[2018-08-17 12:39] n0k0m3 commented on #210
Just played for 10 minutes. So far a lot of things changed (especially sorties maps) that can affects the script (also there're some improvements) [Will update with more pngs later]:
- Screen size upped to 1280x720. [It's huge](https://i.imgur.com/Kp2a0uz.jpg). (and we need a LOT of finetuning everywhere that needs mouse rejigger)
- [Expedition world icons](https://i.imgur.com/xrMy53G.jpg)
- Sorti

[2018-08-17 14:50] yjjieqc commented on #210
Thanks for working on this.

[2018-08-17 18:57] stackhanovets commented on #210
Dear God, just look at this:

![skins](https://user-images.githubusercontent.com/16455270/44283548-6a16a400-a267-11e8-98e2-156ee8d30b65.png)

There are five (5) dashboard skins! I can't say the game staff is informed about this tool but it was very clever.

So where do we start? Semi-english (bottom)? Inherited (top)? Else?

upd:
There are still so much untranslated elements. It seems using anythi

[2018-08-18 00:54] stackhanovets commented on #210
Ok then, here comes some kind of manual hotfix from my side. Maybe it would help for somebody. **Please note - I'm using the generic version of kancolle-auto**

[screenshots.zip](https://github.com/mrmin123/kcauto/files/2299027/screenshots.zip)

[2018-08-18 08:20] ForsakenRei commented on #210
Thanks! I think the most fortunate part is that we don't need to do all the screenshots but can get most of the resources from html5 directly. It does take time since there are lots of different parts in this game. Just keep your own peace.

P.S. I'm interested in Python and learned a little by myself. Then I'm wondering are there any possibility to make kcauto send messages to kancolle using win3

[2018-08-18 08:26] perryhuynh commented on #210
Using win32api would limit users to only using Windows for this, have you looked into using a VM?

[2018-08-18 12:15] stackhanovets commented on #210
@ForsakenRei

Using Sikuli at first glance looks less detectable than using software-testing frameworks for web applications like Selenium. Good solution is another automation tool based on JavaScript, not Jython, you know.

[2018-08-18 19:45] ForsakenRei commented on #210
@stackhanovets Of course. I just think Python can do that since I'm learning something about opencv and suddenly found it may work similar as sikuli if I can programming some pywinauto scripts for it. They are different approaches to do the same thing but my choice might be much more complicated. After all it is just a thought during my study and not a request, maybe I can use kcauto as a referenc

[2018-08-18 19:57] mrmin123 opened #211 "Phase 2 Block 1 compatibility - 1st Pass"
*Ticket may be updated before merge*

Connects to #210

This is to address the following w/ the Kancolle Phase 2 Block 1 Update:

* Expedition compatibility
* PvP compatibility
* Quest compatibility

Possible issues with the above:
* ~~Extra expeditions (A1~A3, B1, B2) have not been tested and may not be compatible~~ Works now
* ~~Multi-page Quest navigation has not been tested and may not be comp

[2018-08-18 22:52] #211 closed, assigned to mrmin123

[2018-08-18 23:08] mrmin123 commented on #210
[4.0.0](https://github.com/mrmin123/kcauto/releases/tag/4.0.0) brings limited compatibility with the KC update.

If you are on Chrome and are getting constant `FindFailed` errors, please open `chrome://flags/#force-color-profile` in Chrome, and set the 'Force color profile' flag to 'sRGB', then restart your browser.

[2018-08-18 23:13] mrmin123 commented on #210
@ForsakenRei @stackhanovets for a Python solution, I'm beginning to think something using [pyautogui](https://github.com/asweigart/pyautogui) could work. This does mean, however, manually binding OpenCV and TesseractOCR, which is really what Sikuli abstracts out. I personally think that a pure JS solution running within Chrome (like KC3) is the way to go, since you have direct access to the API pa

[2018-08-18 23:15] mrmin123 commented on #201
Closing due to lack of updates and reproducibility.

[2018-08-18 23:15] #201 closed, assigned to nobody

[2018-08-18 23:20] mrmin123 opened #214 "Phase 2 Block 1 compatibility - 2nd Pass"
Continued work to increase compatibility of the Combat module.

Completed:

✅ Basic sortieing and combat
✅ Damage detection mid-sortie
✅ Damage detection pre-sortie (with no fatigue)
✅ Damage detection pre-sortie (with fatigue)
✅ Fatigue detection
✅ Fleet position tracking
✅ Fleet Switcher
✅ Repair (bucketed)
✅ Repair (non-bucketed)

### ~~Call for assets~~

~~If you have been manually sortieing a

[2018-08-18 23:56] ForsakenRei commented on #210
@mrmin123 Thanks for the reply.
To my knowledge there are some of people using scripts from QuickMacro or other hacks to send background mouse clicks with random biases each time. So far they are good and only get a code 201 error if battle at 2-3 too much in a day for example. But no ban for about 2 years while KC said anti-bot is reinforced every time. I do know your concern about that so VM may

[2018-08-19 00:13] zerolength commented on #214
![1-5](https://user-images.githubusercontent.com/14089278/44304204-f8436680-a309-11e8-9cda-7bb9df38eff1.png)
![2-1](https://user-images.githubusercontent.com/14089278/44304205-f8436680-a309-11e8-9ee2-e02599475d78.png)
![2-2](https://user-images.githubusercontent.com/14089278/44304206-f8dbfd00-a309-11e8-9055-dc88273f4b36.png)
![2-3](https://user-images.githubusercontent.com/14089278/44304207-f8dbfd

[2018-08-19 00:17] stackhanovets commented on #210
Just in case, JUnit as unit test automation + PhantomJS as automation framework + Selenium as functional testing automation tool is very poplar bundle for CD/CI DevOps workflow. Reasons: speed, reliability (or predictability IYKWIM) and community.

[2018-08-19 00:45] stackhanovets commented on #210
OK, I've got the loop:

[code]

It stuck on `e_world_1.png`. `chrome://flags/#force-color-profile -> sRGB` did not help.

[2018-08-19 00:57] mrmin123 commented on #210
@stackhanovets @perryhuynh had the same issue. He had to reset the custom DPI setting on his desktop environment.

[2018-08-19 01:04] perryhuynh commented on #210
Not reset it rather but disable the DPI scaling for fonts altogether, it seemed to have been enabled by default when installed the OS but never affected it before most likely because it was running on Flash Player

[2018-08-19 02:37] millionsbar commented on #214
3-1 ~ 3-3
![3-1](https://user-images.githubusercontent.com/39631835/44304871-38efbe00-a3a4-11e8-94b3-8e9309161fac.png)
![3-2](https://user-images.githubusercontent.com/39631835/44304872-3beaae80-a3a4-11e8-9d69-c7a57825cc14.png)
![3-3](https://user-images.githubusercontent.com/39631835/44304873-3e4d0880-a3a4-11e8-9706-2ba5394f7822.png)

[2018-08-19 03:16] millionsbar commented on #214
3-4 ~ 3-5
![3-4](https://user-images.githubusercontent.com/39631835/44305050-4c515800-a3a9-11e8-98fe-4b0191c107b3.png)
![3-5](https://user-images.githubusercontent.com/39631835/44305057-9afef200-a3a9-11e8-989a-116134134eab.png)

[2018-08-19 03:38] millionsbar commented on #214
4-1
![4-1](https://user-images.githubusercontent.com/39631835/44305190-be776c00-a3ac-11e8-91bd-971721d09629.png)

[2018-08-19 03:49] etcet54 commented on #210
similar to stackhavonets, I experienced loop but when fleet 4 going to expedition 38, it keep clicking the expedition world icon.
Tried changing the color profile to sRGB and have checked no scaling used on windows display setting(100%), and chrome properties no scaling box checkmarked, issue still exist.

I changed to expedition 11 and it worked, so for now I couldn't send it to world 6 where exp

[2018-08-19 04:13] millionsbar commented on #214
2-5
![2-5](https://user-images.githubusercontent.com/39631835/44305404-84f52f80-a3b1-11e8-8b64-3a278dc6296a.png)

[2018-08-19 05:24] millionsbar commented on #214
7-1
![7-1](https://user-images.githubusercontent.com/39631835/44305763-2b91fe00-a3bb-11e8-8892-fc875016c0bb.png)

[2018-08-19 05:25] stackhanovets commented on #210
No, there are all default setup on my client. Hell, is there a difference? (mine vs provided):

![ensei_name_02](https://user-images.githubusercontent.com/16455270/44305679-5877ee00-a386-11e8-9ec7-25da163f3ba1.png)
![expedition_2](https://user-images.githubusercontent.com/16455270/44305671-367e6b80-a386-11e8-9622-82887bf77eed.png)

![ensei_area_01](https://user-images.githubusercontent.com/1645527

[2018-08-19 05:50] mrmin123 commented on #210
There's definitely an issue caused by the rendering of fonts in HTML5 canvas across browsers/OSes. That's the same exact issue I saw w/ Perry's game on Unix vs the assets generated off my machine (Windows). Check the difference between the two images in photoshop and you get this:
![image](https://user-images.githubusercontent.com/4326866/44305883-761e6680-a338-11e8-82c6-9e5c2d2ac20a.png)
(black b

[2018-08-19 05:55] mrmin123 commented on #210
A viable workaround might be to lower the similarity threshold for the expedition lines.

@stackhanovets could you try modifying `L158` in `expedition.py`:
[code]
to
[code]

And maybe experiment with the value in `similar()` to see if you can get it to match.

[2018-08-19 05:56] millionsbar commented on #214
4-2 ~ 4-4
![4-2](https://user-images.githubusercontent.com/39631835/44305967-fc31c000-a3bf-11e8-94b7-4b750ddb3a60.png)
![4-3](https://user-images.githubusercontent.com/39631835/44305968-fc31c000-a3bf-11e8-82d0-b45ae787336b.png)
![4-4](https://user-images.githubusercontent.com/39631835/44305969-fc31c000-a3bf-11e8-903f-68b48d1abe2a.png)

[2018-08-19 06:04] etcet54 commented on #210
@mrmin123

hey, just wanna update, after I see your comment about image align issue, I tried to overwrite the expedition_38 image provided with my own screenshot, and it immediately worked now, thank you.

[2018-08-19 06:33] mrmin123 commented on #214
Thanks @millionsbar , you're on a roll.

I'm going to hold off on world 4 and on for now since there doesn't seem to be any node information available at the moment on the wikis.

[2018-08-19 06:49] stackhanovets commented on #210
@mrmin123 ,

[code]
upd:
No crashes after rolling back. Except the loop of course.

upd:
@mrmin123  which OS did you use for screen capture?

[2018-08-19 07:08] mrmin123 commented on #210
@stackhanovets the looping `FindFailed` seems like a color space error to me. Did you force sRGB on chrome? `chrome://flags/#force-color-profile`, 'Force color profile' flag to 'sRGB'

Assets were generated on Win7, Chrome w/ color profile set to sRGB.

[2018-08-19 07:15] stackhanovets commented on #210
Yes, I did.

![enabled](https://user-images.githubusercontent.com/16455270/44306481-79493f00-a398-11e8-8dcb-67deaa709b29.png)

OK then, I'm going into the botnet way again. I wish I could disable M$ Update services 😂

[2018-08-19 07:21] twisting2017 commented on #214
4-5
![4-5](https://user-images.githubusercontent.com/21052240/44306491-4c912980-a390-11e8-93cb-8ed479feebbd.png)
5-1
![5-1](https://user-images.githubusercontent.com/21052240/44306479-0b991500-a390-11e8-8887-1fc0fd0a23a4.png)
5-2
![5-2](https://user-images.githubusercontent.com/21052240/44306520-c5908100-a390-11e8-9e7c-46986239a85f.png)
6-1
![6-1](https://user-images.githubusercontent.com/21052240

[2018-08-19 07:28] perryhuynh commented on #210
What desktop environment are you using?

[2018-08-19 07:29] stackhanovets commented on #210
@perryhuynh XFCE and KDE were tested.

[2018-08-19 07:31] perryhuynh commented on #210
And you disabled this in XFCE and restarted? Its enabled by default I believe
![image](https://user-images.githubusercontent.com/9361780/44306596-1e3b2c00-a347-11e8-85ed-ea998c64f768.png)

[2018-08-19 08:04] twisting2017 commented on #214
5-3
![5-3](https://user-images.githubusercontent.com/21052240/44306835-17d4a080-a397-11e8-91f7-c2f493c9ab08.png)

[2018-08-19 10:01] stackhanovets commented on #210
**tl:dr It seems we are now bound with Win7 - because of fonts.😂👌💯
Hope @mrmin123 won't migrate at near future. 😅**

So I've just installed Window7 x64 Ultimate en-US within another VM instance. I'm feeling lucky I've got a spare SSD. As I expected, the expedition module was working just fine, however, the script has crashed:

[code]
@perryhuynh I've tried to have a deal with anti-aliasing, some C

[2018-08-19 10:21] twisting2017 commented on #214
5-4
![5-4](https://user-images.githubusercontent.com/21052240/44307859-6b9cb500-a3aa-11e8-91be-b86ef3e57d88.png)

[2018-08-19 15:34] mrmin123 commented on #210
Anything related to combat has not been ported over right now, including
fleet switcher. Disable that and combat until kcauto is patched.

On Sun, Aug 19, 2018, 03:01 stackhanovets <notifications@github.com> wrote:

[2018-08-19 17:27] Danielosama opened #215 "Kancolle HTML5 on VM"
Not really an issue with KCAuto itself, but I'm looking for some advice.
Ever since the HTML5 update, KC on the VM is incredibly laggy. I realized that the game was using 100% of the CPU (the "virtual" one so to speak) at all times.
I've tried with different viewers and Chrome based browsers, but the result is the same.
I'd like to know if someone is playing the game on a VM and has no issues, wha

[2018-08-19 17:47] stackhanovets commented on #215
@Danielosama ,

- Which GPU do you have?
- How  much graphical memory is assigned to VM?
- How much CPU cores and RAM are delegated?

To append #210 , I have the following VM setup: Win7, VMware Workstation Pro 14, 4 cores, 4 Gb RAM, GTX 740 with 1Gb assigned, 60 Gb on SSD drive with disabled swap and graphical acceleration on default value. Everything seems fine.

[2018-08-19 18:02] Danielosama commented on #215
@stackhanovets ,

- I have an NVIDIA GeForce GTX 1070Ti
- I have 128MB of Video Memory, can not assign more than that
- 1 CPU Core and 2Gb RAM

[2018-08-19 19:24] stackhanovets commented on #215
Holy moly, does Win7 with classical theme and no updates installed consume less resources than Xubuntu 16.04?

![1](https://user-images.githubusercontent.com/16455270/44312290-7da84300-a3fe-11e8-90d6-52d26b2a961c.png)

@Danielosama , I suppose it's time to upgrade something.

[2018-08-19 19:38] Danielosama commented on #215
@stackhanovets
Well, I can't assign more than 128MB of video memory because VirtualBox doesn't have that option, maybe I should try VMware Workstation Pro.
I can assign more RAM no problem, but my current CPU has 4 cores, so of course I can't put all of them into the VM.
I have an Intel Core i5-7600K 3.8GHz, I doubt that's not enough to run a single VM for KC x(

[2018-08-19 19:49] stackhanovets commented on #215
@Danielosama I do not use VirtualBox for a while, but with VMware Workstation I can do it easily without any visible impact on working host applications.

[2018-08-19 21:46] Danielosama commented on #215
@stackhanovets   Well I tried assigning 3 cores and KC worked fine then.
However the VM CPU usage was at 90%+ and the host's CPU usage was at 80%+ at all times.
I don't quite understand why it uses so much CPU when I launch KC on the VM.... Then again, I'm not that savvy about these things.

[2018-08-19 22:14] stackhanovets commented on #215
@Danielosama Did you enable Intel virtualization and disable energy saving features in host BIOS?

[2018-08-19 22:35] Danielosama commented on #215
@stackhanovets  I enabled Intel virtualization back when I was setting up the VM for the first time.
To be clear, the VM runs perfectly doing everything EXCEPT when I launch KC, at that point the CPU usage skyrockets and the game is laggy as hell.
About the energy saving features, no idea tbh.

[2018-08-19 22:38] stackhanovets commented on #215
@Danielosama Can you provide the disk model where VM files are stored in?

[2018-08-19 22:56] Danielosama commented on #215
@stackhanovets
Sure, it's a WD black 2TB (Model wdc wd2003fzex-00srla0).

[2018-08-20 01:09] waicool20 commented on #210
Resetting my dpi does not work for me, even if i can get the fonts to align up for the most part, the windows ones (asset) seem to be rendered slightly "taller", I'll be generating my own assets for now

[2018-08-20 02:59] waicool20 commented on #210
Since I couldn't get any combination of settings to work for me I just opted to modify the script/assets

I modified line 157 in expedition.py to
`expedition_img = Pattern('expedition_{}.png'.format(fleet.expedition)).similar(0.75)`
then cropped all the existing assets to 380 length with imagemagick using the command
`mogrify -crop 380x30+0+0 expedition_*` in the expedition asset folder

[2018-08-20 03:23] stackhanovets commented on #215
@Danielosama 64 Mb HDD cache looks like a bottleneck for fast I/O processes. You know, insufficient RAM + insufficient paging abilities = CPU overload. Just try 120Gb+ non-system SSD via SATA interface, I did not experience much fun with USB3.0 due to the controller overheat.

[2018-08-20 05:57] #214 closed, assigned to mrmin123

[2018-08-20 06:02] mrmin123 commented on #210
[4.1.0](https://github.com/mrmin123/kcauto/releases/tag/4.1.0) ([related ticket](https://github.com/mrmin123/kcauto/issues/214)) brings further compatibility and a number of bugfixes, including better cross-browser/OS expedition support. Please read the changelog to see compatibility and supported UI options!

Please report additional issues here.

[2018-08-20 06:06] mrmin123 opened #218 "Phase 2 Block 1 compatibility - 3rd Pass"
Targets:
🔲 ~~New `ShipSwitcher` assets and logic~~
✅ Support for remaining combat maps
✅ Any possible performance improvements..?
✅ #223
✅ #224
✅ #225
✅ #227
✅ (Partial) LBAS support

[2018-08-20 06:14] mrmin123 commented on #215
Not on a VM, but the laptop I've been running KC + kcauto on has been struggling ever since the HTML5 update. It might be due to poor HTML5 optimization from the dev's end and/or the nature of HTML5 rendering (and Chrome), but running the game (no kcauto) eats up ~80% of my RAM and ~90% of my CPU.

The larger screen real estate kcauto needs to search due to the higher game resolution confounds the

[2018-08-20 09:30] Danielosama commented on #215
@stackhanovets  Unfortunately I don't have a non-system SSD, I only have a 250Gb SSD that I'm using for Windows and some games.
But I might have to buy another just for this I guess.

@mrmin123  I just hope the game gets optimized later on x(
Is there any way to reduce the CPU/RAM usage on our end? I've tried Opera and the POI Viewer, but it always results in the same usage.... I miss using KCV no

[2018-08-20 10:22] stackhanovets commented on #215
@mrmin123 Of course HTML5 is too young. The V8 engine is still under development, so for some JS-related tasks SpiderMonkey is slightly faster. Did somebody already test Firefox with `kcauto`?

[2018-08-20 18:55] Danielosama commented on #215
Well, my problem is solved now.
Playing on Edge solved everything, barely uses 20% CPU and KC Auto runs perfectly.
If they ever update KCV, I sure hope they use Edge.

[2018-08-20 21:28] stackhanovets commented on #215
@Danielosama did you drop VM?

[2018-08-20 21:43] Danielosama commented on #215
@stackhanovets  Oh no no, all of that is on my VM with only 2 CPU cores and 2Gb of RAM.
Runs the game and KCAuto smoothly.

[2018-08-21 12:20] usagi123 opened #221 "Cannot run expedition"
#### Environment details

* kcauto version: 4.1.1
* Viewer/browser: Chrome
* Operating system and/or VM: Windows 7 running inside VM

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Consistent

#### Issue

It does not clicking assigned expedition. Stuck at expedition selection view
https://i.imgur.com/CXJiRnK.png

###

[2018-08-21 12:23] waicool20 commented on #221
This probably has something to do with how different platforms and browsers render fonts differently in html5 canvas, can you post some game screenshots of the expedition worlds?

[2018-08-21 13:06] usagi123 commented on #221
Here you go
https://imgur.com/a/JRSQtpy

After you said, I realized that they do look different between environments, especially the font. Three of them are all using Chrome
https://i.imgur.com/mGI6ue9.png - Windows 10
https://i.imgur.com/6jNoqBB.png - Windows 7 VM
https://i.imgur.com/WPAYrY3.png - MacOS

[2018-08-21 13:10] waicool20 commented on #221
Yeah thats probably it, test the script and see if it runs on your win10 machine,and if that works then you might want to fiddle around with the font settings for your VM so that it uses whatever font your windows 10 machine is using

[2018-08-21 14:27] stackhanovets commented on #210
LOG

[code]

[2018-08-22 00:45] mrmin123 commented on #210
@stackhanovets you're on UI 2, 4, or 5?

[2018-08-22 03:08] stackhanovets commented on #210
@mrmin123 I'm using default inherited Flash KanColle UI v1.

[2018-08-22 03:12] mrmin123 commented on #210
Please read the changelog. It says which UIs are compatible.

On Tue, Aug 21, 2018, 20:08 stackhanovets <notifications@github.com> wrote:

[2018-08-23 05:47] usagi123 commented on #221
Yep, should be the font issue. After I turn all the graphic feature on, the font really different from windows classic theme. And the problem solved.
https://i.imgur.com/OYWLRBO.png

[2018-08-23 05:47] #221 closed, assigned to nobody

[2018-08-23 12:39] millionsbar opened #222 "Play with small window"
Can you make kcauto play in a reduced window (800 x 480 ≈ 66%)?

[2018-08-23 12:40] waicool20 commented on #222
Probably not possible unless you redo the assets and probably some coordinates code

[2018-08-23 13:23] twisting2017 commented on #218
KCAuto has been consitently kept hanging for me in the flagship taiha screen. can anyone else confirm this issue?

[2018-08-23 15:30] stackhanovets commented on #218
I'd like to tell about one more annoying thing:

![c_world_6-3](https://user-images.githubusercontent.com/16455270/44534836-594fad80-a701-11e8-8e98-ad0b8092dc34.png)

![map_in_progress](https://user-images.githubusercontent.com/16455270/44534843-5e146180-a701-11e8-966b-73916bb0fa91.png)

Do you see the boss gauge? Right, it takes the upper half of provided assets. I know it has to be done only one

[2018-08-23 16:42] mrmin123 commented on #222
You'll have to generate your own assets and update coordinates in the code (relative and absolute coords), as waicool20 mentioned. I won't be supporting multiple resolutions myself.

[2018-08-23 16:42] #222 closed, assigned to nobody

[2018-08-23 16:48] mrmin123 commented on #218
@twisting2017 I updated the wrong asset. `flagship_retreat_next.png` (updated asset) needs to be renamed to `combat_flagship_dmg.png` (old asset, but actually used in-code)

@stackhanovets I generated the panel assets off of the raw assets in the game. I didn't take into account the boss bars since I don't know which maps have them unlocked. If you can provide a list of maps that have boss bars/LB

[2018-08-23 16:56] perryhuynh opened #223 "FindFailed due to unremodeled ship"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 4.1.1
* Viewer/browser: Chrome
* Operating system and/or VM: Xubuntu 16.04

#### Issue variability

[2018-08-23 17:55] stackhanovets commented on #218
@mrmin123 According to [wiki](http://kancolle.wikia.com/wiki/World_4#.2F4-4), all EO maps and common 4-4, 5-2, 5-3, 5-4, 6-2, 6,3, 6-4, 7-1 maps have boss HP gauge (and cropped asset to go).

![1](https://user-images.githubusercontent.com/16455270/44542431-7d1cee80-a715-11e8-93e9-2e51218751d3.png)
![1e](https://user-images.githubusercontent.com/16455270/44542432-7d1cee80-a715-11e8-9ae1-21f46aefdda

[2018-08-24 04:22] twisting2017 commented on #218
@mrmin123 tried that but issue persists.

[2018-08-24 13:09] stackhanovets commented on #218
Got sort of hard luck at 6-4. Please take these.

5-5:
![5-5](https://user-images.githubusercontent.com/16455270/44585663-bd33ae00-a7b5-11e8-8b40-b26deee26f45.png)
6:
![6](https://user-images.githubusercontent.com/16455270/44585657-bc9b1780-a7b5-11e8-85c8-ada3d7928fff.png)
6-2 ... 6-4:
![6-2](https://user-images.githubusercontent.com/16455270/44585658-bc9b1780-a7b5-11e8-888d-9700bba1b01c.png)
![6-

[2018-08-24 14:18] cul9 opened #224 "link to Wiki doesn't work"
link to Wiki doesn't work

'Install the latest SikuliX Nightly with option 1 (Pack 1) selected'

the latest version is 1.1.4. do you use this?

[2018-08-24 17:20] mrmin123 commented on #224
No, kcauto is not tested with the latest 1.1.4 version. I don't imagine things would break, but no guarantees.

[2018-08-24 19:40] stackhanovets commented on #218
More about performance. @mrmin123 could you implement crash handler please?

![js fail](https://user-images.githubusercontent.com/16455270/44604455-9fcf0600-a7ee-11e8-8bb6-3c1bfe81031b.png)

[2018-08-25 14:08] waicool20 commented on #224
@mrmin123 Just fyi Raiman changed his nightlies to precompiled format so now users can just download the `sikulix.jar` ide option over here https://raiman.github.io/SikuliX1/downloads.html and it should work. No more confusion with Pack 1 and what not whoooo

[2018-08-25 18:53] CloudyMoonShape opened #225 "No action while flagship heavily damaged; Switching fleet preset fail with exit code 1"
Two issues recently happened on my end:
1. kcauto cannot get back to home while flagship is heavily damaged in none-boss node;
2. Exit (code: 1) happened caused by "could not switch in fleet preset # due to ships being assigned in other fleets..."

#### Environment details

* kcauto version: 4.1.1
* Viewer/browser: Chrome
* Operating system and/or VM: Windows 10

#### Issue variability
1. always
2

[2018-08-26 15:44] htduongdl96 opened #226 "Kcauto don't work if the game is resize"
Kcauto return Notfounded error when i resize the game (due to low resulution screen).
I used google chrome and resize it to 50%

[2018-08-26 15:54] waicool20 commented on #226
There's no way around this since the assets and code have been revised to fit for the new resolution only ( 1200x720), it won't work if you resize the game.

[2018-08-26 16:22] mrmin123 commented on #226
Multiple resolutions will not be supported by kcauto. You must play at 100% screen resolution.

[2018-08-26 16:22] #226 closed, assigned to nobody

[2018-08-27 03:21] perryhuynh commented on #225
Adding to this, I noticed this asset: ![image](https://user-images.githubusercontent.com/9361780/44638768-712b6980-a96d-11e8-990b-47d059bbebe4.png) `combat_flagship_dmg.png`
was recently created but never referenced, I tried even using my own asset and it was unable to match at a similarity of 0.4

[2018-08-27 03:40] perryhuynh opened #227 "Stuck at node select"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 4.1.1
* Viewer/browser: Chromium
* Operating system and/or VM: XUbuntu 16.04

#### Issue variabili

[2018-08-29 21:39] perryhuynh commented on #218
![5-3](https://user-images.githubusercontent.com/9361780/44817141-4f162f00-ab99-11e8-9aef-8525c5f5e322.png)

5-3

[2018-08-30 06:15] mrmin123 commented on #218
Thanks @stackhanovets for the LBAS UI screenshots. As for the crash handler, I can try, but it probably won't be in the next iteration and I don't have any guarantees that it'll work. Is the recovery similar to recovering from catbombs? Just reload and the page works fine after that?

[2018-08-30 06:15] mrmin123 commented on #227
Parent ticket: #218

[2018-08-30 06:15] mrmin123 commented on #223
Parent ticket: #218

[2018-08-30 06:16] mrmin123 commented on #225
Parent ticket: #218

[2018-08-30 06:17] mrmin123 commented on #224
Oh thank god. The transparency support is huge, too. I'll need to test to see if we can leverage it for live node detect.

Parent ticket: #218

[2018-08-30 06:26] mrmin123 commented on #225
@CloudyMoonShape for issue 2, is it stuck on the fleet comp screen (displaying the 6 ships in your fleet) or the fleet preset recall screen (displaying the list of presets)?

[2018-08-30 07:44] mrmin123 commented on #218
@stackhanovets can you provide screencaps of the different states you can put the LBAS squads in? Specifically 'defense', 'rest', and 'standby'.

[2018-08-30 07:55] mrmin123 commented on #224
For the time being, please use 1.1.3:
https://launchpad.net/sikuli/sikulix/1.1.3

[2018-09-01 20:06] stackhanovets commented on #218
@mrmin123, it's just a JS engine crash, page refresh would be enough.
And there is also browser restart feature available - the `org.sikuli.script.App` instances have `close(), getPID() and open()` methods.

About assets:
![1](https://user-images.githubusercontent.com/16455270/44949384-d503d580-ae38-11e8-9e5b-b0aa27b492c1.png)
![2](https://user-images.githubusercontent.com/16455270/44949385-daf9b6

[2018-09-02 01:55] Evolto2019 opened #228 "Sortie select findfailed and resupply loop"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):4.1.1
* Viewer/browser:Chrome
* Operating system and/or VM:Windows 10

#### Issue variability
intermittent

#### Issue
1.Sometimes kcauto will fail to find the button of sortie_select.png in the combat screen, while working well in the expedition screen.
2.Sometimes after running or a few hours, kcauto will click

[2018-09-02 17:42] CloudyMoonShape commented on #225
@mrmin123 it will stuck on the preset recall screen.

[2018-09-02 19:14] stackhanovets commented on #228
Have you tried to increase `SLEEP_MODIFIER` value in `kca_globals.py`? (IDK why it even has been removed from config parser)

[2018-09-02 21:35] stackhanovets opened #229 "rejigger_mouse() is actually doing nasty things"
[code]

I did pretty nothing. Please look where I've caught that bastard having fun with clicking:

![gotcha](https://user-images.githubusercontent.com/16455270/44960885-2e8b0380-af10-11e8-825a-d17f0a0bff6c.png)

The problem is enduring.

[2018-09-02 22:38] mrmin123 commented on #229
I have no idea what I'm looking at.

You posted an obscenely long log, referred to a utility function that is used pretty much everywhere without describing what is wrong other than claiming that it's doing something wrong, and some random screenshot from the game. This gives me nothing to work with.

[2018-09-02 23:38] mrmin123 commented on #229
I'm going to close this and have you open another issue that actually describes the issue.

[2018-09-02 23:38] #229 closed, assigned to nobody

[2018-09-03 00:03] mrmin123 commented on #218
I am **not** updating ShipSwitcher in this pass (although I've updated some of the assets) due to issues w/ font rendering regarding the shiplist.

[2018-09-03 00:05] #218 closed, assigned to mrmin123

[2018-09-03 00:05] #223 closed, assigned to mrmin123

[2018-09-03 00:05] #224 closed, assigned to mrmin123

[2018-09-03 00:05] #225 closed, assigned to mrmin123

[2018-09-03 00:05] #227 closed, assigned to mrmin123

[2018-09-03 00:24] mrmin123 opened #232 "Phase 2 Block 1 compatibility - 4th Pass"
Port Ship Switcher module and deal with any other bugs and performance improvements.

✅  Ship Switcher
✅ Fix panel assets for non-EO maps that have boss bars
✅ Add 7-1 to webUI
✅ Update assets for proper handling of fleets busy with expeditions
✅ Update assets for better fleet resupplying

[2018-09-03 16:04] n0k0m3 commented on #232
Feature request:
- Extend level check from ShipSwitcher to repair and refuel level check.
- Option for proceed with taiha'd non-flagship ships (a.k.a. push when taiha just like LastNodePush introduced in the legacy kancolle-auto)

Reason: Orel Cruising is dead since DDs in 2-3 got upgraded and can one hit solo Ro-500. So now the alternative method (courtesy of @Nishisonic on Twitter) is AV with DL

[2018-09-03 17:09] mrmin123 commented on #232
@minh6a last node push already exists (see `1-6.json`, node D, for the `push` node type specification)

[2018-09-05 03:52] mrmin123 commented on #232
as reported on Discord, 7-1 has a boss bar
![image](https://user-images.githubusercontent.com/4326866/45070048-5d29eb00-b084-11e8-9ee7-93481dcfc4f4.png)

edit: also, 7-1 is not a valid option on the webui

[2018-09-05 07:49] mrmin123 commented on #228
Given the high number of recoveries your instance is going through, try raising the `SLEEP_MODIFIER` value in `kca_globals.py`, like stackhanovets mentioned. Try `1` or `2` and see if it helps.

This field was removed from the primary config due to most people not needing to touch it and to reduce the number of people messing with it when they shouldn't.

[2018-09-05 07:50] mrmin123 commented on #232
@minh6a Having read through the feature request, that isn't something that will be tackled in this ticket. This is a compatibility pass. Please make a separate ticket.

[2018-09-08 04:39] #232 closed, assigned to mrmin123

[2018-09-08 04:39] #210 closed, assigned to mrmin123

[2018-09-08 04:44] mrmin123 opened #235 "Chrome crash recovery"
![image](https://user-images.githubusercontent.com/4326866/45250399-30294280-b2e7-11e8-96e8-f7df57fedf27.png)

[2018-09-08 04:46] perryhuynh commented on #235
This issue _might_ resolve itself after the current September 8th maintenance

[2018-09-08 04:48] mrmin123 commented on #235
@perryhuynh is that just conjecture or..?

[2018-09-08 04:50] perryhuynh commented on #235
The event was delayed by a week due so they could fix issues with memory leaks etc brought on by the switch to HTML5 and I believe this issue only came about since that switch so there's a possibility that it might resolve itself after the maintenance

[2018-09-08 04:52] mrmin123 commented on #228
Closing due to lack of updates.

[2018-09-08 04:52] #228 closed, assigned to nobody

[2018-09-08 05:38] mrmin123 commented on #235
Good to know. Fingers crossed.

[2018-09-08 19:22] mrmin123 opened #236 "2018 Early Fall Event Support"
Is this event actually considered separate from '2018 Fall'?

Note: not a call for assets at the moment since most can be mined straight out of the browser

[2018-09-08 20:05] Danielosama commented on #236
I think so, otherwise we'll have to wait until February or so for the Winter Event, and I don't think it'd be good for them to leave us with a content drought again.

[2018-09-09 01:04] #68 closed, assigned to mrmin123

[2018-09-09 01:04] #164 closed, assigned to mrmin123

[2018-09-09 01:40] perryhuynh opened #241 "Double Line formation chosen instead of Vanguard"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.0.0
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 16.04

#### Issue variability
Consistent

#### Issue
Upon arriving at a combat node the script chooses double line although vanguard is specified

#### Log
[code]

#### Config
[code]

[2018-09-09 02:05] mrmin123 commented on #241
Vanguard and combined fleet formations were never updated after phase 2.
I'll need screenshots to update, until then they are not supported.

On Sat, Sep 8, 2018, 18:41 Perry Huynh <notifications@github.com> wrote:

[2018-09-09 02:09] perryhuynh commented on #241
I created my own vanguard asset
![image](https://user-images.githubusercontent.com/9361780/45260361-a5a21b00-b39a-11e8-99fa-47f13e80c86b.png)
 from this
![image](https://user-images.githubusercontent.com/9361780/45260359-99b65900-b39a-11e8-9559-f4132e7dc555.png)
And it seems to be working fine

[2018-09-09 04:22] #235 closed, assigned to mrmin123

[2018-09-09 04:22] #241 closed, assigned to mrmin123

[2018-09-09 04:29] mrmin123 commented on #236
For the record: I've updated the assets for combined fleet formations but do not know their locations on-screen.

[2018-09-09 07:58] mrmin123 commented on #236
I've pushed some minor and ongoing to the [**236-2018-early-fall-event**](https://github.com/mrmin123/kcauto/tree/236-2018-early-fall-event) branch. Please use this branch if you'd like to stay on the bleeding edge.

Changes:
* ~~Update combined fleet formation assets (not actually compatible in-game yet)~~
* ~~Update E-1 map data~~
* ~~Better fleet tracking with Live combat engine~~
* ~~Event exp

[2018-09-09 12:09] htduongdl96 opened #245 "Can't find expedition 6"
it seems that kcauto can't detect expedition 6, it click a lot of random points
Log:
![image](https://user-images.githubusercontent.com/37286834/45264249-dac67000-b463-11e8-92d4-e101af4fdd9a.png)

[2018-09-09 13:40] Jeback opened #246 "[Feature Request] Setup loadout switch"
Hello,

When you have to switch between few ships, the setup is applied to the new ship. For exemple, a DD with 2 Sonar and 1Depth Charge Projector is injured and replaced by another one the loadout is taken over and applied on the new DD.
I don't if if is possible to use the preset tools in-game or the config.ini file.

That will be usefull to farm some maps like 1-6 and can inherits of the benef

[2018-09-09 19:50] mrmin123 commented on #245
Can you provide a screenshot of your expedition 6? Is it just expedition 6 this happens to?

[2018-09-09 23:09] perryhuynh commented on #236
I think you may have forgotten to update the assets for event expedition, can probably generate the assets from these:

![image](https://user-images.githubusercontent.com/9361780/45269905-bf9b3680-b44a-11e8-8b67-ade49e60b3cd.png)
![image](https://user-images.githubusercontent.com/9361780/45269906-c164fa00-b44a-11e8-9a78-43bbd04bb5a1.png)

[2018-09-09 23:11] mrmin123 commented on #236
@perryhuynh they've been updated in the 236-2018-early-fall-event branch 15 hours ago.

[2018-09-09 23:22] perryhuynh commented on #236
Ah I thought everything for the event that had been updated so far was merged into main, whoops

[2018-09-10 05:29] htduongdl96 commented on #245
It just happen to expedition 6 ,expedition 5,21,37,38 work fine.
![image](https://user-images.githubusercontent.com/37286834/45277956-06456b00-b4f5-11e8-82ae-ddf63589400c.png)

[2018-09-10 10:46] htduongdl96 commented on #245
It seems that when i change this line:
 expedition_line = Pattern( 'expedition_{}.png'.format(fleet.expedition)).similar(0.7)
from 0.7 to 0.6 sikuli able to detect expedition 6 again.
It seem that sikuli can't detect that image with similar parameter over 0.7 ?

[2018-09-11 08:22] stackhanovets commented on #235
They have not fixed this at all.

![nope](https://user-images.githubusercontent.com/16455270/45347447-ce056180-b5b4-11e8-9c96-961e00a21dc0.png)

[2018-09-11 15:56] JamesHayden opened #249 "Mis-identification of fatigue state of ringed ships"
* kcauto version (version on first line of `CHANGELOG.md`): 6.2.0
* Viewer/browser: Chrome / Interface 5
* Operating system and/or VM: WIN10

#### Issue variability

constantly occurring

#### Issue

1. Even when CheckFatigue in MiscOptions is set, married ships ignore fatigue and depart from port.
non-married ships are normally observe fatigue option.

#### Log
[code]

[2018-09-11 16:13] mrmin123 commented on #249
Do you have a screenshot of a ringed ship with medium and/or high fatigue
that I can use to troubleshoot? Thanks

On Tue, Sep 11, 2018 at 8:56 AM JamesHayden <notifications@github.com>
wrote:

[2018-09-11 18:07] JamesHayden commented on #249
![31](https://user-images.githubusercontent.com/43179733/45378508-950ed080-b638-11e8-900f-785a72a83fa6.PNG)
![33](https://user-images.githubusercontent.com/43179733/45378646-064e8380-b639-11e8-94c9-76db6fb238a5.PNG)

is this image ok?

[2018-09-11 18:10] mrmin123 commented on #249
Yep, that works great. thanks!

[2018-09-11 18:12] mrmin123 commented on #245
That's really strange... when I overlay the included asset over your screenshot, it's an exact match. I may tweak the expedition list similarity value a bit more.

[2018-09-11 18:13] mrmin123 commented on #235
@stackhanovets were you running kca when it crashed? If so, did it recover? I wasn't able to test the logic for this in in-game conditions.

[2018-09-12 04:02] silfumus commented on #245
Also happens to me, only ex6 (out of ex2, 37, and 6) wasn't recognized by the script.
But in my case, it's because I haven't turned on `ClearType Text`. Turning on the setting fixed it.

Env: win7 on vbox

[2018-09-12 06:36] mrmin123 commented on #245
@htduongdl96 are you on windows? Have you tried turning on `ClearType`?

[2018-09-12 07:21] #249 closed, assigned to mrmin123

[2018-09-12 12:11] stackhanovets commented on #235
@mrmin123 There was no recovery done by `kcauto` during combat stage. The crash has been probably caused by combat-related animations.

[code]

[2018-09-12 18:40] mrmin123 commented on #236
~~Posting a call for assets: E-4 and E-5 panel images (to show LBAS/medal/next-arrow locations) and next-panel arrow images to go from E1-3 and E-4 to E-5~~

E-4 and E-5 should be supported by kcauto now as of 6.4.0.

[2018-09-12 20:36] quaicai12 opened #252 "Bug with ship switching"
I cant do ship switch for normal sorties.
Was using KAGA

error log from Kaga

[2018-09-13 03:27:00] Potential replacement ships found in page 1 positions 2, 4, 5, 6, 7, 8, 9, 10
[error] script [ C:\Users\yolo\Downloads\kcauto-6.3.0\kcauto-6.3.0\kcauto.sikuli ] stopped with error at line --unknown--
[error] Error caused by: Traceback (most recent call last):
  File "C:\Users\yolo\Downloads\kcauto-

[2018-09-12 20:40] mrmin123 commented on #252
Oops, those should be renamed to `Util.random_coord`. Replace the following lines in their respective files with these (they'll say `Util.random_coords` right now):

`nav.py` `L423` and `L424`:
[code]

`shipswitcher.py` `L296` and `L297`:
[code]

[2018-09-12 20:56] quaicai12 commented on #252
it worked again
thanks for the help

[2018-09-13 01:21] EricNg95 opened #253 "Bug with repairing"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.3.0
* Viewer/browser: chrome
* Operating system and/or VM: win10

#### Issue variability
Is the

[2018-09-13 01:28] mrmin123 commented on #253
Which UI are you on? UI 2, 4, and 5 are the supported ones, with UI 4 and 5 being the most from my experience.

[2018-09-13 01:31] EricNg95 commented on #253
i currently using 1st UI. So is needed to change to UI 2, 4 or 5?

[2018-09-13 01:36] mrmin123 commented on #253
Yes, kcauto is only compatible with those UI at the moment.

On Wed, Sep 12, 2018, 18:31 EricNg95 <notifications@github.com> wrote:

[2018-09-13 01:38] EricNg95 commented on #253
okok, i has changed my UI, and it prefectly now. thank for your hardwork

[2018-09-13 04:52] mrmin123 commented on #253
No problem. Closing!

[2018-09-13 04:52] #253 closed, assigned to nobody

[2018-09-13 11:00] stackhanovets commented on #235
Again, the log tail (no script crash):

[code]

[2018-09-13 11:39] stackhanovets opened #254 "Cannot choose formation for small fleets"
[code]

Stuck at the screen (note the vanguard formation):
![1-5](https://user-images.githubusercontent.com/16455270/45485761-65a7b300-b761-11e8-9de0-3c7582a932a7.png)

@mrmin123 Why `regions['formation_*']` are defined so strictly, not even `regions['upper']` or  `regions['lower']`? Is there a matching issue even after dealing with Hi-res?

[2018-09-13 12:15] stackhanovets commented on #254
L381 of `util.py` -> `regions['formation_line_abreast'] = regions['lower']`, the script runs one second longer but matches precisely for me. Just a target region expansion, similar with `regions['lower_right_corner']` -> `regions['lower_right_corner']`replacements case for `next.png` .

[2018-09-13 17:00] stackhanovets commented on #235
Finally, the crash recovery was triggered:
[code]

However, then script had terminated. The game had not enough time to load. Will see.

[2018-09-14 00:43] mrmin123 commented on #254
@stackhanovets yep, there are matching issues even with the higher resolution, at least at 0.8. The added speed is just a bonus. I'll update the region so that line ahead and double line still work even if diamond formation is not available.

[2018-09-14 04:20] #252 closed, assigned to mrmin123

[2018-09-14 04:20] #254 closed, assigned to mrmin123

[2018-09-14 13:18] stackhanovets commented on #229
Hell no. I've just noted the same behavior wnen I've caught LBAS resupply bug. The script was just clicking, moving and clicking on the game top area.

[code]

After removal the function body there were no more clicking loops. @mrmin123 it seems you've got to refactor some base procedures.

[2018-09-14 14:31] mrmin123 commented on #229
Rejigger literally just moves the mouse cursor to a location in the
specified region. It does not click. It is used all over the place to clear
the cursor to a safe place so it is not hovering over any buttons and
inhibiting any subsequent asset matching. When the script gets stuck you
might have behavior where the mouse is rejiggered nonstop, but I assure you
it is not clicking, nor is it a "side

[2018-09-14 14:56] PrzemoInf opened #257 "KcAuto cannot select event map"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.4.0 and KAGA 4.0.0
* Viewer/browser: KC3Kai/Chrome
* Operating system and/or VM: Windows7/Oracle

[2018-09-14 20:48] stackhanovets commented on #229
The subject is quite different now. I'm talking about commands within the `while` loop. The [L444](https://github.com/mrmin123/kcauto/blob/60ff73ac5677b667f75de9f97e312d5655886e9f/kcauto.sikuli/util.sikuli/util.py#L444) line contains only blind clicker, doesn't it? So it does not correspond to the `What You See is What You Script` paradigm since `org.sikuli.script.Region` class does not contain ma

[2018-09-14 20:50] stackhanovets commented on #257
@PrzemoInf
Have you noticed any random or non-related clicks, like #229? They are not logging.

[2018-09-14 21:13] PrzemoInf commented on #257
After it saids on logs that LBAS are rested there was one click after that in log and then mouse was just moving from place to place. In this log it was going for a minute before I shut down the bot. And on other tries it was behaving in the same way when it comes to logs. Not sure if bot tries to perform a click here because he is not pointing at anything clickable and when I manually clicked on

[2018-09-14 21:19] mrmin123 commented on #229
You're talking about `click_preset_region`, not `rejigger_mouse` then.
`click_preset_region` exists for those times when a specific region needs
to be clicked and no consistent image exists in that region to be matched
on (the ship girl region, for example). This goes beyond what Sikuli's
native image matching procedures can provide.

For `L107`, I admit that the region needs to be changed from 'c

[2018-09-14 21:22] mrmin123 commented on #257
Now that I've seen the logs and a description of what is happening I can
debug. The issue is that the region for changing the LBAS state was never
updated since Phase 2. It's trying to re-activate the LBAS group but can't
so it gets stuck in a loop.

On Fri, Sep 14, 2018 at 2:13 PM PrzemoInf <notifications@github.com> wrote:

[2018-09-15 00:42] mrmin123 commented on #229
@stackhanovets a lot of your bug reports and issues suffer from the [XY problem](http://xyproblem.info/) or worse. This leads to the wasting of everyone's time. This issue and #257 are perfect examples of this. It's the same underlying problem, but #257 was reported in a manner that allowed me to identify the issue in mere minutes, while this issue went nowhere despite being 12 days older. Also re

[2018-09-15 03:36] htduongdl96 commented on #245
@mrmin123 i running on Windows.
ClearType don't work
I just reduce the parameter in
`expedition_line = Pattern('expedition_{}.png'.format(fleet.expedition)).similar(0.7)`
to
`expedition_line = Pattern('expedition_{}.png'.format(fleet.expedition)).similar(0.6)`
and it work

[2018-09-15 06:17] #257 closed, assigned to mrmin123

[2018-09-15 06:22] mrmin123 commented on #236
As of 6.5.0, I believe the only things missing are support for 7th ship status checking for striking fleets and FCF dialogue resolution.

[2018-09-15 09:05] stackhanovets commented on #229
So it is virtually blind clicker within a `while` loop without logging that attempted to scrap my shipgirls. Is the implementation necessary at all? Sorry for being paranoid.

[2018-09-15 09:54] waicool20 opened #261 "Combat Module disabled after single event sortie"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): latest
* Viewer/browser: Chromium
* Operating system and/or VM: Linux

#### Issue variability
Is t

[2018-09-15 10:23] waicool20 commented on #261
I removed the `disable_combat = True` to get the script working temporarily for me

[2018-09-15 10:31] waicool20 opened #262 "Script crashes if LBAS is fatigued"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

Same as #261

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Consistent
####

[2018-09-15 10:55] waicool20 commented on #262
This fixes the above problem, need to initialize the keys
[code]

Also seems like some extra delay is needed between the resupply and fatigue checks, otherwise it will still be mid animation and the fatigue check will report rested

I temporarily changed the sleep here from 1 to 3
[code]

[2018-09-15 12:43] CripsyBekon commented on #261
Having this issue as well. Different in a scenario whereby the combat module just ends after 1 single event sortie.

**Environment details**
kcauto version (version on first line of CHANGELOG.md): latest
Viewer/browser: Chromium
Operating system and/or VM: Linux

**Issue variability**
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Consiste

[2018-09-15 16:55] yjjieqc opened #263 "could not identify process with search name 'chrome'"
#### Issue / Additional Information

Could not identify process with search name 'chrome', and another bug is I click at STOP when the script is counting to restart, it will restart immediately rather than stop.

#### Environment details

* KCAuto Version: 6.5.1
* Viewer/browser: chrome
* Operating system: Linux 4.15.0-20-generic amd64  ubuntu 18
![bug](https://user-images.githubusercontent.com/22

[2018-09-15 17:05] yjjieqc commented on #263
I have tested Chrome/ chrome/ Google Chrome/ google-chrome-stable.

[2018-09-15 18:33] mrmin123 commented on #263
It looks like you don't have `wmctrl` or `xdotool` installed, which are [required to run Sikuli on Linux](https://sikulix-2014.readthedocs.io/en/latest/basicinfo.html#sikulix-on-linux).

The STOP button thing sounds like a [KAGA](https://github.com/waicool20/KAGA) bug. I do not maintain KAGA.

[2018-09-15 18:33] #263 closed, assigned to nobody

[2018-09-15 18:39] perryhuynh opened #264 "Hang at repair screen"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.5.1
* Viewer/browser: Chrome + KC3
* Operating system and/or VM: Xubuntu 16.04

#### Issue varia

[2018-09-15 18:43] mrmin123 commented on #264
Do you have a portion of the log that actually says how many ships need to be repaired?

[2018-09-15 18:46] perryhuynh commented on #264
[code]
I don't have a way of getting the results screen but I have at least this from the replay. Only 2 ships met the repair threshold and I did not have anything else in the dock that wasn't repaired.
![image](https://user-images.githubusercontent.com/9361780/45589583-fe167280-b8dc-11e8-978a-fc5a6d558fa7.png)

[2018-09-15 18:51] mrmin123 commented on #264
So the repair module is correctly trying to repair 3 ships, it's the combat fleet module that incorrectly identified a ship with minor damage. I'll do a check for this in a bit.

[2018-09-15 19:19] mrmin123 commented on #264
@perryhuynh I couldn't reproduce with this lineup:
![image](https://user-images.githubusercontent.com/4326866/45589807-48015780-b8e1-11e8-9321-d3a807ce3b8c.png)

[code]

[2018-09-15 19:36] #261 closed, assigned to mrmin123

[2018-09-15 19:36] #262 closed, assigned to mrmin123

[2018-09-15 19:43] mrmin123 commented on #229
Unfortunately yes, it is a blind clicker. I think the blind clicking is necessary despite the dangers if something does not go properly or there is improper intervention, but perhaps the usage around it needs to be refined (no infinite loops). I'll mull on this for a bit.

[2018-09-15 20:16] mrmin123 commented on #264
Perhaps the approach I should take is so that the repair module doesn't infinitely loop, even with the incorrect damage count (although that is concerning for its own set of reasons).

[2018-09-16 02:21] CripsyBekon opened #269 "Shipswitcher does not work at all"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):6.6.0
* Viewer/browser:Chromium
* Operating system and/or VM:Linux

#### Issue variability
Is the i

[2018-09-16 04:02] mrmin123 commented on #269
For issue 2, what state is the game in when it crashes?

[2018-09-16 04:05] yjjieqc commented on #263
thx, I'll try it again.

[2018-09-16 04:08] CripsyBekon commented on #269
script moved to fleet to change into another ship. Script greeted with empty shiplist, mouse moves to the top left corner after awhile, crash

[2018-09-16 04:36] CripsyBekon commented on #269
issue 2 was supposed to be filtered instead of unfiltered. sorry

[2018-09-16 04:48] waicool20 commented on #269
Can confirm it doesn't work:
[code]

[2018-09-16 04:49] waicool20 commented on #269
Crashed at this screen
![image](https://user-images.githubusercontent.com/5538666/45593019-e9a2aa80-b9ae-11e8-9e09-9d8e398e453f.png)

[2018-09-16 04:55] mrmin123 commented on #269
@waicool20 That crash is due to issue 1, which is pretty easy to fix (add 'all' to list of valid tabs).

[2018-09-16 04:58] waicool20 commented on #269
Yep I just did that, gonna see if issue 2 happens

[2018-09-16 05:58] #269 closed, assigned to mrmin123

[2018-09-16 09:12] CripsyBekon opened #272 "Non existent extra damaged ship(s) detected"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):6.6.1
* Viewer/browser:Chromium
* Operating system and/or VM:Linux

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Consistent

#### Issue

At this point i am not sure what is actually wrong with it. I took a look back and i found tha

[2018-09-16 09:19] mrmin123 commented on #272
Thanks for the report. This is actually related to/the root cause of #264. I'm heading to bed but will take a look tomorrow afternoon.

[2018-09-16 09:23] CripsyBekon commented on #272
weird. I dint get it on 6.6.0 but i could on 6.6.1. thanks anyways mrmin! have a good rest

[2018-09-16 13:15] Chibaheit opened #273 "App.focus failed for mac 10.12.6"
After follow the instruction, I get this. And I don't see the similar issue.

➜  ~ java -jar /Applications/SikuliX.app/Contents/Java/sikulix.jar -r kcauto/kcauto.sikuli
[2018-09-16 21:13:31] Initializing config module
[2018-09-16 21:13:31] Reading config
[2018-09-16 21:13:31] Validating config
[2018-09-16 21:13:31] Starting kcauto!
[error] App.focus failed:  [-1:Chrome ()] Chrome
[error] script [

[2018-09-16 13:19] waicool20 commented on #273
And you are actually using chrome? Maybr try a different keyword?

[2018-09-16 13:30] Chibaheit commented on #273
Yes. The Chrome version is 69

[2018-09-16 22:30] perryhuynh opened #274 "Combined Fleet config hardening"
*Please provide a detailed description of the feature you would like to see added to kcauto. Please limit to one feature request per ticket.*

Don't let the user use the combined fleet formations without selecting one of the combined fleet options as their `FleetMode:` and vice versa

[2018-09-17 03:12] mrmin123 commented on #272
@CripsyBekon could you try raising the `DAMAGE_SIMILARITY` to `0.88` in `kca_globals.py`?

[2018-09-17 03:37] CripsyBekon commented on #272
sure i will get back to you in about an hour.

[2018-09-17 06:55] CripsyBekon commented on #272
sorry for the wait i tested a few times to make sure but it works now after changing `DAMAGE_SIMILARITY` to `0.88`

[2018-09-17 18:02] stackhanovets opened #276 "[Pull request] Implementation of some tricks to avoid looped blind clicking"
Subj. There are also some improvements for timeout-related crashes during sortie/pvp and more. Please check the code.

[2018-09-18 05:45] mrmin123 commented on #273
The person in #191 was focusing on `Google` I believe, although they did have problems down the line. So maybe try that? I have to admit I still haven't gotten around to testing on a mac.

[2018-09-18 05:46] mrmin123 commented on #272
Thanks, resolved in 6.6.2.

[2018-09-18 05:46] #272 closed, assigned to mrmin123

[2018-09-18 05:47] mrmin123 commented on #264
The root cause of this was resolved in 6.6.2.

[2018-09-18 05:47] #264 closed, assigned to mrmin123

[2018-09-19 20:16] perryhuynh opened #280 "Split CheckFatigue configuration for LBAS + Fleet"
Split the the `CheckFatigue` configuration option into two different ones for the fleet and LBAS for event map nodes that you can ignore morale for the fleet for leveling but still depend on the usage of LBAS

[2018-09-19 21:02] #276 closed, assigned to stackhanovets

[2018-09-19 21:11] mrmin123 opened #284 "[Housekeeping] Refactor config"
The config module has gotten out of hand as more and more options are added. Refactor to compartmentalize the parser and validator steps.

[2018-09-19 21:11] mrmin123 commented on #284
Connect to #274 and #280

[2018-09-19 23:51] perryhuynh opened #286 "Repair 2nd fleet flagship in combined fleet at moderate damage regardless of config"
You cannot sortie a combined fleet without the flagship of the 2nd being at minor damage or above so it needs to be repaired regardless of the specified `RepairLimit` for cases where it is set as `heavy`

[2018-09-20 01:16] mrmin123 commented on #286
Are you saying that the flagship of the second fleet must be at minor
damage or scratch/no damage otherwise the game doesn't let you sortie the
combined fleet? And if at moderate or heavy the game will does not let you
sortie outright?

On Wed, Sep 19, 2018, 16:51 Perry Huynh <notifications@github.com> wrote:

[2018-09-20 01:18] perryhuynh commented on #286
Yes

EDIT:
`You can't begin a sortie with the escort fleet flagship moderately damaged.`

Source: http://kancolle.wikia.com/wiki/Combat/Combined_Fleet

[2018-09-20 01:23] mrmin123 commented on #286
I'm away from the desk right now, but b off the top of my head, I don't
know if there is an easy way around this. I don't think here is an asset
the script can use to identify the second fleets flagship in the repair
list since the fleet marker is the same for all ships in the second fleet.
You might have to resort to using a repair cut off of moderate when using a
combined fleet.

On Wed, Sep 19,

[2018-09-20 02:03] perryhuynh commented on #286
Hmm yeah it seems better to just leave this as a won't fix for now

[2018-09-20 18:27] mrmin123 opened #287 "Re-support catbomb recovery mid-sorties and more"
Stemming off of a conversation in #277

kcauto currently does not catbomb/crash recovery in a number of places including mid-sorties and mid-PvP, even though some of them were supported in kancolle-auto.

Also revisit areas with potential infinite loops or hangs (specifically #264)

[2018-09-20 18:38] perryhuynh opened #288 "LBAS Morale Check Failing"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.2
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 16.04

#### Issue variabili

[2018-09-21 18:23] #286 closed, assigned to nobody

[2018-09-22 22:59] #288 closed, assigned to mrmin123

[2018-09-23 00:38] perryhuynh opened #291 "Add support for usage of Emergency Repair Personnel/Goddess for flagship"
In addition to the ability to actually utilize the Emergency Repair Personnel/Goddess, it allows for the new method of farming ammo in World 3-2.

This image can be used to generate the asset for usage of Emergency Repair Personnel/Goddess on a flagship.
![emergencyrepair](https://user-images.githubusercontent.com/9361780/45922982-31817000-be8e-11e8-9999-4f57ca549191.png)

[2018-09-23 00:47] mrmin123 commented on #291
I will not be supporting this in kcauto unless there is overwhelming support for it. These are purchasable items that I do not want kcauto to automate around. My mentality is that if you are sending Emergency Repair out with your fleet, you should be supervising it in the first place, especially since kcauto has no ability to replenish used Emergency Repairs on the fleet.

I don't know what the am

[2018-09-23 00:50] perryhuynh commented on #291
![image](https://user-images.githubusercontent.com/9361780/45923045-dbadc780-be8f-11e8-856c-0705d9def11b.png)
The method involves going from node A>B and using one ship with a repair team on it, which allows the ship to continue onto the node instead of being force retreated if met with a taiha. The repair team is never actually used with this farming method.

[2018-09-23 00:52] mrmin123 commented on #291
So in the above farming scenario, which button is actually pressed in the first screenshot?

[2018-09-23 00:52] perryhuynh commented on #291
It doesn't matter in this scenario, either works I just thought if you were to implement this you would want to have the option to use either, the above buttons only pop up if using it on the flagship

[2018-09-23 01:06] mrmin123 commented on #291
I'm still going to push back on this. Emergency Repair opens up kcauto to a level of user confusion regarding its behavior (restocking, Goddess vs Personnel) and potential tangential feature requests (restocking, equipment interaction in general, Goddess vs Personnel, 'smart' Emergency Repair usage, etc) that I'd much rather not have to deal with.

[2018-09-23 14:08] CripsyBekon opened #292 "LBAS does not check for necessary changes when checkFatigue is disabled"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):6.8.3
* Viewer/browser:Chromium
* Operating system and/or VM:Linux

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
Consistent

#### Issue

When Fatigue check is disabled, the LBAS does not check if it is required to change modes/igno

[2018-09-23 15:29] mrmin123 commented on #292
This behavior was actually by design, putting the onus of proper fleet and
LBAS setup on the user. I can see why this is a bit confusing now, since
future updates allowed kcauto to manage LBAS states when check fatigue is
turned on.

I will consider putting in LBAS state management even when check fatigue is
not enabled. For the time being, please ensure that your fleet and LBAS are
set correctly

[2018-09-23 23:18] CripsyBekon commented on #292
To be honest, this bug report was more for consistency purposes than anything, because it is very edge case, or even impossible for people to sortie out to events or world 6 without fatigue check enabled, given the nature of events and taiha's.

I was able to produce this only because I was testing something for a friend, and I din't have fatigue check enabled on that config. Since it is working a

[2018-09-24 01:04] mrmin123 commented on #292
I do agree for consistency it should manage LBAS states even when Fatigue Check is turned off. I just want to double check that there won't be any unintended side effects with how kcauto would assume the LBAS states.

[2018-09-24 04:06] mrmin123 opened #294 "Combat crashes when enabled LBAS groups are all on Defense"
Script looks for `lbas_panel_ready.png` at the beginning of `assign_groups()` but fails since there are no groups to assign.

[2018-09-24 04:07] #291 closed, assigned to nobody

[2018-09-24 05:18] waicool20 commented on #294
I'm getting this even with all LBAS set to some node in sortie mode

[2018-09-24 05:27] waicool20 commented on #294
Seems like it is inconsistent

[2018-09-24 17:18] perryhuynh opened #295 "Crash/Hang upon finishing battle"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.4
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 16.04

#### Issue variability
Intermittent

#### Issue
Upon finishing a battle, the script will sometimes fail to click on the menu option to either to continue the sortie or retreat, causing either a hang if it was supposed to continue or a c

[2018-09-24 23:40] perryhuynh opened #296 "Map panels need to be updated for 6-4 and 6-5"
#### Issue
If the player has LBAS unlocked on world 6-4/5, then the LBAS base menu icon appears over a portion of the current panels for both 6-4/5.

The images below can be used to generate new panels.
6-4:
![6-4](https://user-images.githubusercontent.com/9361780/45984940-8cdf6980-c018-11e8-874b-293e34e46070.png)

6-5:
![6-5](https://user-images.githubusercontent.com/9361780/45984943-923cb400-c01

[2018-09-25 05:36] CripsyBekon commented on #295
Managed to replicate a similar scenario.

![crash](https://user-images.githubusercontent.com/32804784/45994612-c75c0b80-c0d7-11e8-94e7-0f3f6f7938a0.png)

**Log**
[code]

[2018-09-26 04:49] twisting2017 commented on #295
script hanged after this:
[code]

[2018-09-28 22:01] perryhuynh commented on #249
this issue still seems to be occurring, although not consistently

[2018-09-28 22:30] perryhuynh opened #297 "Shipswitcher Page Navigation"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.4
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 16.04

#### Issue variabili

[2018-09-28 22:33] mrmin123 commented on #297
This is a known behavior and not changeable without a large overhaul of the
shipswitcher/page navigation, which is currently not planned.

On Fri, Sep 28, 2018 at 3:30 PM Perry Huynh <notifications@github.com>
wrote:

[2018-09-28 22:33] #297 closed, assigned to nobody

[2018-09-29 00:34] perryhuynh opened #298 "ShipSwitcher failing to click on ship in page"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.4
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 16.04

#### Issue variabili

[2018-09-29 17:35] stackhanovets commented on #298
I've also noticed mouse leaps to canvas top edge happening irregularly when I played without `kcauto`. It's not a hardware problem.

Aww, more relevant to #295

[2018-09-30 22:57] mrmin123 commented on #296
@perryhuynh do you know what happens if you press the text area of the button?
![image](https://user-images.githubusercontent.com/4326866/46263850-8db94500-c4c9-11e8-9a9c-190797da22a1.png)
Wondering if it opens up the LBAS interface or selects the map.

[2018-09-30 23:27] perryhuynh commented on #296
The part you cropped under the button selects the map, it will only open the LBAS interface if you click on the button with the plane on it

[2018-10-01 00:38] Ethylcleen opened #301 "Harden escort fleet flagship damage detection logic"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):
* Viewer/browser: KC3/Chrome

#### Issue variability
Happened once, but since it involved sinking of ship I want to let everyone know.

#### Issue

Sortieing E3M Phase 2 Last Dance. Node before boss got 1 of my girls on escort fleet taiha, non-flagship (3rd ship). KCauto saw it as flagship and continued sortie to

[2018-10-01 01:41] mrmin123 commented on #301
What version of kcauto are you on?

On Sun, Sep 30, 2018, 17:38 Ethylcleen <notifications@github.com> wrote:

[2018-10-01 01:49] Ethylcleen commented on #301
6.8.4

[2018-10-01 01:59] mrmin123 commented on #301
That's really strange. Ok, thanks, I'll take a look again. Sorry for the
loss.

On Sun, Sep 30, 2018, 18:41 Minyoung Choi <mrmin123@gmail.com> wrote:

[2018-10-01 03:59] #294 closed, assigned to mrmin123

[2018-10-01 03:59] #295 closed, assigned to mrmin123

[2018-10-01 03:59] #296 closed, assigned to mrmin123

[2018-10-01 04:09] mrmin123 commented on #301
@Ethylcleen do you happen to remember which ship was in the second fleet flagship position?

[2018-10-01 04:25] Ethylcleen commented on #301
I have Abukuma kai ni FS. Also I just remembered after some thinking when I downloaded latest version I made a new folder for it and merged kaga in the folder but forgot to change kcauto file location so I was actually running 6.8.2 instead of latest.

[2018-10-01 04:29] mrmin123 commented on #301
Oof, OK. 6.8.4 actually had a critical fix regarding the flagship damage state resolution.

[2018-10-01 04:32] Ethylcleen commented on #301
It was my careless mistake then. All good if it got fix already. Thanks for the help.

[2018-10-01 04:41] mrmin123 commented on #301
I might still use this as an opportunity to harden the check. I'll close the ticket accordingly after looking at the code a bit more.

[2018-10-01 17:13] Danielosama opened #303 "Script gets stuck at formation selection"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): **6.8.5**
* Viewer/browser: **Edge**
* Operating system and/or VM: **Windows 10 64bit VM**

#### Issue variability

 Consistent.

#### Issue

Every time it sorties to the map 7-1, the script does not select the line_abreast formation, and simply gets stuck there.
The config file is properly set up.
#### Log
[code

[2018-10-01 17:22] mrmin123 commented on #303
I don't recall 7-1 off the top of my head, but is there anything special to
how that map plays out? Does the issue persist on other maps as well, or
just 7-1?

On Mon, Oct 1, 2018 at 10:13 AM Danielosama <notifications@github.com>
wrote:

[2018-10-01 17:23] perryhuynh commented on #303
Did you just recently encounter this issue on 6.8.5? I run 7-1 for 16+ hours a day without any issues, even on the latest version so far.

[2018-10-01 17:33] Danielosama commented on #303
@mrmin123 7-1 has nothing special going for it.
I'll try with 1-5 and see what happens.

@perryhuynh Never did 7-1 before 6.8.5, so only on this version.

[2018-10-01 17:36] perryhuynh commented on #303
Can you post your config?

[2018-10-01 17:40] Danielosama commented on #303
Sure:

[code]

[2018-10-01 17:43] perryhuynh commented on #303
As for the combat settings that's pretty much my exact config, did you try other maps?

[2018-10-01 17:48] Danielosama commented on #303
Just tested it with 1-5 (only changed second node formation) and same thing:

[code]

After that last line, nothing happens.
Here is the game screen https://i.imgur.com/syD4TQ1.png

[2018-10-01 20:52] Danielosama commented on #303
Tried with KCAuto version 6.8.4, and it works perfectly.
Guess something is up with 6.8.5?

[2018-10-03 04:11] mrmin123 commented on #303
6.8.5 didn't change anything in regards to formation selection, code or asset.

[2018-10-03 04:16] mrmin123 commented on #245
Complicating the issue, there was a related report on Discord:

[2018-10-03 07:09] Danielosama commented on #303
Well, I deleted all 6.8.4 files and installed 6.8.5 again, and now it works fine.
Don't know what happened, but it's alright now.

[2018-10-03 07:09] #303 closed, assigned to nobody

[2018-10-03 23:26] mrmin123 commented on #303
Glad to know it got resolved.

[2018-10-04 00:36] mrmin123 commented on #298
@perryhuynh I couldn't reproduce this on my end with similar setups. Could you try to reproduce on the [298-shipswitcher-debug](https://github.com/mrmin123/kcauto/tree/298-shipswitcher-debug) branch and report back?

[2018-10-06 07:17] dice4321 opened #306 "When doing EventReset, crashes on chalkboard."
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.5
* Viewer/browser: Google Chrome
* Operating system and/or VM: Xubuntu

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?: 100%

#### Issue

When resetting the difficulty at E-5, the script clicks out of the chalkboard trying to fi

[2018-10-06 18:31] Melxzy opened #307 "Error that shows on every startsup and fail to run scripts"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.5
* Viewer/browser: Google Chrome
* Operating system and/or VM: Win 7

#### Issue variability
This issue is happening everytime when trying to run a script

#### Issue

Error pops-up on the spot when trying to run the script, got latest updated kcauto(6.8.5) and sikulix(1.1.4).

#### Log
[code]

[2018-10-06 19:27] mrmin123 commented on #307
`JSTOffset` in your config has to be an integer.

[2018-10-06 19:28] mrmin123 commented on #306
As discussed on Discord, the temporary workaround for maps that only have one chalkboard screen is to remove `L40` in `event_reset.py`:
[code]

[2018-10-07 18:31] yuukoani opened #308 "Auto Lock ship-drop"
Hello, I'm trying to farm those rare ships at E5 and i wonder if you're able to make KC-Auto locks the specified ship(s) when dropped and dismantles when full slot? That would be wonderful since I leave it running at home and go to work, so i can't manually dismantle ships.
Thank you so much!

[2018-10-07 19:04] #307 closed, assigned to nobody

[2018-10-09 18:59] stackhanovets commented on #308
The scrapping of common drops may have safety issues. Obtaining more slots would be more applicable, I suppose. Otherwise, ships with lowest rarity could be found in [wikia](http://kancolle.wikia.com/wiki/Drop_List), [poi-db](https://db.kcwiki.org/drop/#area1) etc

Connects to #88

[2018-10-11 11:09] stackhanovets opened #310 "[Pull Request] Better handling for boss dialogue screen"
Connects to #309

Sometimes map screen loads really long time, especially for combined fleet nodes and the script hangs at boss dialogue screen:

![screen2](https://user-images.githubusercontent.com/16455270/46799801-6fbbd200-cd5e-11e8-9fbb-30cc134dd587.png)

It has to click just after the combat start message screen fade:

![screen1](https://user-images.githubusercontent.com/16455270/46799811-781

[2018-10-16 16:54] waicool20 opened #311 "No opponents found in PvP module"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.5
* Viewer/browser: Chrome
* Operating system and/or VM: Linux

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
consistent
#### Issue

No opponents found in pvp module, tested with pvp module enabled with other modules and only p

[2018-10-16 17:50] mrmin123 commented on #311
Is this a new thing, as in has the game been updated in any way so that it
can't find PvP opponents anymore? I've been pretty busy the last week or
two so I haven't had a chance to touch KC or kcauto. Could you try debug
matching for `pvp_row.png` with decreasing similarity to see if it matches
at all? That asset actually has a piece of text in it, so I wouldn't be
surprised if the font rendering

[2018-10-16 18:02] mrmin123 commented on #310
I've only had a chance to take a brief look at the code (short as it is),
and have reservations about implementing a potentially infinite loop where
kcauto cannot resolve properly *even if the game resolved properly* due to
its reliance on an asset that appears and disappears from the screen
quickly. Have you been running your PR'ed code? It's been working fine for
you and your connection?

On Thu

[2018-10-16 18:04] waicool20 commented on #311
![image](https://user-images.githubusercontent.com/5538666/47037147-c25b1b00-d1b0-11e8-940a-c05a69748df4.png)
Can confirm the highlights are available pvp opponents, seems like its just a value tweak then

[2018-10-16 19:20] stackhanovets commented on #310
@mrmin123 It is still working fine.

I really do not think this is a good solution from all positions. I also ssuppose every similar loop has to be refactored into something like `Region.waitVanish( time + Globals.ASSET_WAITING_TIMEOUT )`. It is quite different from `Globals.SLEEP_MODIFIER` because it does not inflict with `Util.kc_sleep()` method  (I do not need long pauses between clicks) and it

[2018-10-16 19:29] stackhanovets commented on #311
@mrmin123 I really think it's the time to add the `font-related` label to bug tracker.

**Works:**

![1a](https://user-images.githubusercontent.com/16455270/47041786-6e413e00-d192-11e8-899b-249064117e08.png)
![1b](https://user-images.githubusercontent.com/16455270/47041807-7600e280-d192-11e8-9d0a-8750c85a0a0c.png)

**Does not work (properly):**

![2a](https://user-images.githubusercontent.com/1645

[2018-10-17 11:00] stackhanovets commented on #311
@mrmin123 What do you think about `TEXT_SIMILARITY = 0.6` addition within `kca_globals.py` and further refactoring of functions which process assets with text pieces?

[2018-10-18 08:19] CripsyBekon opened #312 "Shipswitcher ignores other ships in list if current ship in slot is the first ship in the list."
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`):6.8.5
* Viewer/browser:Chromium
* Operating system and/or VM:Linux

#### Issue variability
Is the i

[2018-10-18 08:46] CripsyBekon commented on #312
found out that this is actually a replicate of #298  . Pulled staging branch to fix it

[2018-10-18 08:46] #312 closed, assigned to nobody

[2018-10-20 03:03] yjjieqc commented on #306
is "last node push" option canceled in version 2?

[2018-10-21 07:03] mrmin123 commented on #310
@stackhanovets can I get some more information on what you encounter? Does your game lag and get stuck (spends the minute+) on the formation select screen, *before* your second screenshot shows up?

[2018-10-21 07:05] mrmin123 commented on #308
As mentioned, kcauto will not support ship scrapping in the foreseeable future due to safety issues. With the ongoing font matching issue we're seeing after the HTML5 update only further exacerbates the challenges with proper ship recognition and scrapping.

[2018-10-21 07:05] #308 closed, assigned to nobody

[2018-10-21 07:11] mrmin123 opened #313 "LastNodePush/push flag in map json is not implemented/supported"
Needs to be ported over from kancolle-auto.

[2018-10-21 07:11] mrmin123 commented on #306
@yjjieqc yes, apparently I never brought it over from kancolle-auto. Tracked as #313

[2018-10-21 07:19] mrmin123 commented on #311
I think that's an appropriate approach to this. Docs will also need to be updated to document this.

[2018-10-21 07:54] stackhanovets commented on #310
@mrmin123 I've experienced irregular lags before combat start message screen appears (just after formation select) and while it exists (before combat animation start). The formation select screen was processed just fine and lags happen just after it, corresponding the code.

[2018-10-21 09:00] mrmin123 commented on #310
Thanks. I ask because when I've encountered lag on boss screens (typically on reaching them for the first time) it's been *during* the boss dialogue screen (your first screenshot), minus the text and shipgirl image. presumably due to loading the sound and image assets in the background.

This one might be a bit trickier to handle but I'm going to try and implement a fix for at least your case that

[2018-10-21 13:01] stackhanovets commented on #310
Are you trying to add clicker while boss dialogue screen is present and combat screen is not? Sorry I have no idea which fingerprint assets they might have.
Did you use KC3Kai those times?

[2018-10-26 01:14] perryhuynh opened #317 "Track retreats in combat stats"
If possible, track the number of retreats (and per hour) with the existing combat stats

[2018-10-26 06:55] stackhanovets commented on #301
@mrmin123 I think this is sort of hidden additional functionality that is enabled by default. Please implement the config option `EscortFleetFlagshipDamageIgnored` or so in `MiscOptions`. Thank you.

[2018-10-29 04:08] mrmin123 commented on #310
I'm trying to make it so that it's more content aware in terms of whether or not the boss dialogue screen is present. Are there any maps available right now (non-event) that have this boss dialogue screen?

[2018-10-29 16:58] perryhuynh opened #318 "Quest Module not enabling D9/D11"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 6.8.5
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 18.04

#### Issue variability
Consistent

#### Issue
The quest module does not enable quest D9/D11 even though expedition 38 is enabled

[2018-10-30 10:32] stackhanovets commented on #310
6-4

[2018-10-31 19:49] stackhanovets commented on #318
Same for [D22](http://kancolle.wikia.com/wiki/Quests#D22).

[2018-10-31 19:53] stackhanovets commented on #317
FYI, KC3Kai provides annotation for moderate / heavy damage impacts.

[2018-10-31 20:02] mrmin123 commented on #310
Unfortunately I don't have 6-4 unlocked.. I'll push a branch I've been testing w/ normal maps today for testing if you do, however.

[2018-10-31 20:02] mrmin123 commented on #318
Also noticed this while testing some other stuff.

[2018-11-01 00:59] mrmin123 commented on #310
[Test branch](https://github.com/mrmin123/kcauto/tree/310-better-boss-dialogue)

I can confirm that this code does *not* click the screen if there is no dialogue screen present, but I can't confirm that it *does* click the screen if there is a dialogue screen present.

[2018-11-01 04:44] mrmin123 commented on #318
I can't actually debug this until next week. I already did the quests.

@stackhanovets D22 works fine on my end. You have expedition 5 enabled?

[2018-11-01 05:43] stackhanovets commented on #310
So you want to scan this asset:

![boss_dialogue](https://user-images.githubusercontent.com/16455270/47834300-1c163480-ddb0-11e8-9671-fd33104c4ca7.png)

within the `x + 110, y + 95, 986, 478` region:

![0](https://user-images.githubusercontent.com/16455270/47834383-5bdd1c00-ddb0-11e8-9b62-79bd3527e839.png)

right? First, I'm afraid I do not understand why so broad `Region` is used.

The second - a

[2018-11-01 05:45] stackhanovets commented on #318
@mrmin123 Yes, I have. Will test with lower `QUEST_LOOP_CHECK_RATE`.

[2018-11-01 07:56] mrmin123 commented on #318
@stackhanovets if you cold-start kcauto with Expedition 5 enabled, and D22 available in your quests screen, kcauto *should* pick it up without further modification. If it's not doing this it might be an OCR issue which will require further debugging, mainly, seeing what your instance of Tesseract is interpreting the rewards for D22 on your screen to be (should be 1000, 0, 0, 300).

[2018-11-01 08:03] mrmin123 commented on #310
No, it's looking in `dialogue_observe_region`, which is a clone of `self.regions['left']`. The height is for searching for the flagship marker (to know to turn off the observer), and the width is unoptimized, but the idea was that it would give a large enough area to sufficiently search and match for the dialogue asset.

That said, the video you posted is making me think that the asset might be in

[2018-11-01 08:05] mrmin123 commented on #310
Maybe if I make the asset even thinner... On the bright side, I unlocked 6-3 today so hopefully I'll be able to test soon.

[2018-11-01 09:55] stackhanovets commented on #310
There is also some space on [the very left position](https://youtu.be/AJZdn3-i2jo?t=1530) of popup message preceding the abyssal's title.

[2018-11-01 10:08] stackhanovets commented on #318
I do not know. Maybe it happened due to some kind of KC3Kai overlay interfering lag:

![0](https://user-images.githubusercontent.com/16455270/47846765-159cb280-ddda-11e8-88a4-2f67f9e4c47d.png)

But I have no idea why it moved left.

Nevermind, D22 has been succesfully processed when I've turned off KC3Kai. D9 is not processing yet.

[2018-11-05 17:38] mrmin123 commented on #310
New code for this is in the `staging` branch, if you want to test it. I tested it on 6-4 and it worked, hopefully it also works for lagged/delayed dialogues, but may require tweaks.

[2018-11-05 17:38] mrmin123 commented on #318
Fix for this is in `staging` now.

[2018-11-07 17:27] #310 closed, assigned to mrmin123

[2018-11-07 18:06] perryhuynh commented on #311
Still appears to be broken, it at least managed to find 1 opponent the first cycle and then didn't find any others after that

[2018-11-08 01:00] mrmin123 commented on #311
@perryhuynh Did you adjust the new `TEXT_SIMILARITY` param in `kca_globals`?

[2018-11-08 01:29] perryhuynh commented on #311
Ah I thought the default `TEXT_SIMILARITY` would be 0.6, it worked after adjusting it to it though.

[2018-11-11 04:15] #236 closed, assigned to mrmin123

[2018-11-11 04:15] #245 closed, assigned to mrmin123

[2018-11-11 04:15] #298 closed, assigned to mrmin123

[2018-11-11 04:15] #301 closed, assigned to mrmin123

[2018-11-11 04:15] #306 closed, assigned to mrmin123

[2018-11-11 04:15] #311 closed, assigned to mrmin123

[2018-11-11 04:15] #287 closed, assigned to mrmin123

[2018-11-11 04:15] #313 closed, assigned to mrmin123

[2018-11-11 04:15] #318 closed, assigned to mrmin123

[2018-11-11 04:19] mrmin123 commented on #274
Spin into #284

[2018-11-11 04:20] #190 closed, assigned to nobody

[2018-11-11 04:21] mrmin123 opened #324 "[Housekeeping] Update webUI modules"
... if needed.

[2018-11-25 04:17] Melxzy opened #326 "Unable to run script, same error every time when starts-up"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.0.0
* Viewer/browser: Chrome
* Operating system and/or VM: Win 7

#### Issue variability
Unable to startup the script, got everything(JAVA, sikulix ETC) up to date

#### Issue

When trying to run the script, it;ll appears in the following Error shows below

#### Log
[94m[2018-11-25 13:10:41] Initializing confi

[2018-11-26 03:16] n0k0m3 commented on #326
Click on the chrome window (manual focus) to help sikuli focus on chrome

On Sat, Nov 24, 2018 at 11:17 PM Melxzy <notifications@github.com> wrote:

--
*Minh Nguyen*

*Ph.D candidate - Operation Research*
*Florida Institute of Technology - Mathematical Sciences*
150 W. University Blvd.
Melbourne, FL, 32901
*Phone Number: 321-368-9310*

[2018-11-26 08:07] mrmin123 commented on #326
Please refer to [this FAQ section](https://github.com/mrmin123/kcauto/wiki/FAQ#-kcauto-starts-but-i-immediately-get-an-attributeerror-or-findfailed-error). This can also happen if the top part of the game is obscured.

[2018-11-26 08:07] #326 closed, assigned to nobody

[2018-12-02 11:48] Danielosama opened #327 "Not a valid Sikuli script project."
Hey there,

I replaced my SSD, and that meant making a new VM from scratch.
It's a Windows 10 64-bits as before, reinstalled Sikuli, Java and KCauto, and everything seemed fine.
However when I try to run the script, I get the error below (the command line was generated following the web interface instructions).
Any ideas?

Thanks in advance.

#### Log
[code]

[2018-12-02 12:14] mrmin123 commented on #327
Try `java -jar C:\SikuliX\sikulix.jar -r "C:\Users\Kantai
Collection\Documents\kcauto-7.0.0\kcauto.sikuli"`

or moving kcauto into a path with no spaces in it.
On Sun, Dec 2, 2018 at 3:48 AM Danielosama <notifications@github.com> wrote:

[2018-12-02 12:52] Danielosama commented on #327
That worked! Thanks.
Adding quotations marks solves these kind of problems?

[2018-12-02 12:52] #327 closed, assigned to nobody

[2018-12-04 23:48] perryhuynh opened #328 "Ship Counter OCR Issues with non-Windows Systems"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.0.0
* Viewer/browser: Chromium
* Operating system and/or VM: Xubuntu 16.04

#### Issue variability
Consistent

#### Issue
Due to differences in font rendering across different operating systems, the ship counter in the top part of the UI which is used for repair/ship switcher/etc is not in the same same leading

[2018-12-05 00:37] mrmin123 commented on #328
This is less of a cross-OS font rendering issue and more of a UI issue. As
much as it irks me, kcauto will need to be modified to recognize which UI
is being used and modify the `ship_counter` region accordingly. Previously
I recommended that UIs 4 and 5 be used (the font/background color
combination causes issues on the metal UIs) but I have to modify my
recommendation to using UI 4 only since UI

[2018-12-26 07:12] mrmin123 commented on #324
Please note that this is a rather large overhaul to the webUI, and will require `yarn install` to bring dependencies up to date.

[2018-12-26 07:48] #274 closed, assigned to mrmin123

[2018-12-26 07:48] #284 closed, assigned to mrmin123

[2018-12-26 07:48] #324 closed, assigned to mrmin123

[2018-12-26 07:53] mrmin123 opened #331 "2019 Winter Event Support"
~~Soon(tm)~~

Untested and WIP branch is here: [`331-2019-winter-event`](https://github.com/mrmin123/kcauto/tree/331-2019-winter-event)

Via command line:
[code]
or, if you have multiple remotes,
[code]

[2018-12-27 01:05] perryhuynh opened #332 "Script exits with due to invalid config when ship switcher is enabled"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.1.0

#### Issue variability
Consistent

#### Issue
Script exits due to invalid config when ship switcher is enabled since `self.config['enabled']` is never set to `True` if `ShipSwitcher` is enabled in the config file so it fails the first check during the validation.

#### Log
[code]

[2018-12-28 03:05] #332 closed, assigned to nobody

[2018-12-29 18:55] Danielosama opened #337 "Combat Module stopping incorrectly"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): **7.1.1**
* Viewer/browser: **KanColleViewer!**
* Operating system and/or VM: **W10 64bits**

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:
**Consistent**

#### Issue

I set up the Combat Module to stop after 55 sorties, however it

[2018-12-30 02:03] mrmin123 commented on #331
They've removed the node select dialogue popup on the map. Changes in this branch will address this.

[2018-12-30 19:09] mrmin123 commented on #337
Fixed in 7.2.0.

[2018-12-30 19:09] #337 closed, assigned to mrmin123

[2018-12-30 19:11] mrmin123 commented on #331
Event support has been released in [7.2.0](https://github.com/mrmin123/kcauto/releases/tag/7.2.0). Further tweaks, if necessary, will continue to happen in the [`331-2019-winter-event`](https://github.com/mrmin123/kcauto/tree/331-2019-winter-event) branch.

[2019-01-02 06:36] twisting2017 opened #340 "Enabling fleet switcher crashes kcauto"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.20
* Viewer/browser: chrome
* Operating system and/or VM: windows 10

#### Issue variability
consistent
#### Issue
script crashes at the start
[2019-01-02 07.11.07.log](https://github.com/mrmin123/kcauto/files/2720026/2019-01-02.07.11.07.log)

[2019-01-03 17:40] mrmin123 commented on #331
Two more things that need to be addressed:

* webUI does not support node ZZ (ZZ1 is the closest thing)
* There are reports that E-2 coords for node P is a bit off, causing LBAS node assignment issues from time to time; try coords `1030, 438`

[2019-01-06 19:46] #340 closed, assigned to mrmin123

[2019-01-10 14:09] Evolto2019 opened #342 "Fail to select the map of E-3"
Environment details
• kcauto version (version on first line of CHANGELOG.md ): 7.2.1
• Viewer/browser: Chrome
• Operating system and/or VM: Windows 10

Issue variability

Consistent

Issue

When selecting E-3, kcauto will not click the next button and fail to select it.

**Log**
[code]

[2019-01-10 16:57] mrmin123 commented on #342
That's a bit odd. Judging by the logs it's not even attempting to press the next button. And I'd been using kcauto to farm E-3 before taking a break just a few days ago. I'll take a closer look tonight. Can you also post the Combat portion of your config?

[2019-01-10 23:56] Evolto2019 commented on #342
OK, it‘s like this.
[Combat]
Enabled: True
Engine: live
Fleets:
Map: E-3
FleetMode: stf
RetreatNodes:
NodeSelects: A>C,G>J
Formations: 1:combinedfleet_1,2:combinedfleet_3,4:combinedfleet_3,5:combinedfleet_1,6:combinedfleet_2
NightBattles: 6:True
RetreatLimit: heavy
RepairLimit: minor
RepairTimeLimit: 0030
LBASGroups: 1,2,3
LBASGroup1Nodes: ZZ,ZZ
LBASGroup2Nodes: C,C
LBASGroup3Nodes: Z,Z
MiscOption

[2019-01-12 08:05] mrmin123 commented on #342
I suspect that `_event_next_page_1.png` in the `kcauto.sikuli/combat.sikuli` directory isn't matching on your screen. Could you try generating your own version of this asset and seeing if that works?

[2019-01-12 12:28] Evolto2019 commented on #342
Well, it seems like `_event_next_page_1.png` is to be blame. The next button in my game shows the '参‘ character while the picture in the `kcauto.sikuli/combat.sikuli` directory shows the '作’ character.

[2019-01-12 12:36] Evolto2019 commented on #342
Kcauto works well with my own `_event_next_page_1.png` now. Thanks.

[2019-01-12 17:50] mrmin123 commented on #342
Just to confirm, your next arrow does not look like this?:
![image](https://user-images.githubusercontent.com/4326866/51076615-799bec80-164f-11e9-97cf-771b93975faa.png)

Do you know what the difference in meaning is?

[2019-01-13 04:41] Evolto2019 commented on #342
![screenshot](https://user-images.githubusercontent.com/11689998/51081650-da025b00-172f-11e9-920d-69ff1eaef2de.PNG)
The difference is little. I can only say "作戦" means the noun "battle" or "operation", while "参戦" means joining in battle. And I suppose it's a cache difference.

[2019-01-14 01:17] mrmin123 commented on #342
Closing this since it doesn't seem to be a kcauto issue.

[2019-01-14 01:17] #342 closed, assigned to mrmin123

[2019-01-24 08:10] stackhanovets opened #343 "[Feature request] Add Setsubun mini event support to quests module"
After the game update at 22nd January 2019 there are some [new limited-time quests](https://kancolle.fandom.com/wiki/Thread:703528) available. I've checked out for **SC01**, the daily quest, and it has not been tracked.

[2019-01-25 07:40] mrmin123 opened #346 "Add recovery from blank screen"
Sometimes mid-game or during catbomb recovery, the game crashes or recovers into a blank screen (all white, no HTML5 content). Another refresh typically fixes this so add this as a recovery option.

[2019-01-25 09:00] #331 closed, assigned to mrmin123

[2019-01-25 09:00] #343 closed, assigned to mrmin123

[2019-01-25 09:00] #346 closed, assigned to mrmin123

[2019-02-03 20:28] mrmin123 opened #350 "Add 7-2 support"
As requested on Discord.

[2019-02-03 20:38] mrmin123 commented on #317
@perryhuynh when tracking retreats, which retreat types do you have in mind? There are a couple:

* Retreats do to damage threshold
* Retreats do to reaching retreat node or combat count
* Forced retreats do to flagship damage
* FCF accompanied retreat

[2019-02-03 21:17] mrmin123 commented on #194
As much as I'd like to incorporate this, there are some challenges associated which I haven't figured out how to resolve yet:

* The search space -- the panel images right now are of varying dimensions due to the medal, possible progress bars, and overlap with the EO arrows. The varying dimensions make dynamic resizing of the search space difficult
  * Possible solution: define fixed search spaces

[2019-02-03 21:20] mrmin123 commented on #88
In a separate ticket/discussion I mentioned that kcauto will not support auto ship scrapping, at least in the foreseeable future, due to safety concerns. As such, I am closing this ticket.

[2019-02-03 21:20] #88 closed, assigned to nobody

[2019-02-03 21:21] mrmin123 commented on #69
Since this is more of a KAGA-related feature, and has been integrated already into KAGA, I won't be incorporating this into kcauto core.

[2019-02-03 21:21] #69 closed, assigned to nobody

[2019-02-08 12:33] stackhanovets opened #352 "[UI update] 8 February 2019 game assets change"
So we got an UI update influencing a resupply ability at least. Please look forward for more updated assets.

![active](https://user-images.githubusercontent.com/16455270/52478492-95df6a80-2bb6-11e9-836c-841d471bc423.png)

![inactive](https://user-images.githubusercontent.com/16455270/52478485-90822000-2bb6-11e9-97c0-ba542ea3f6d5.png)

[2019-02-09 05:33] #350 closed, assigned to mrmin123

[2019-02-09 05:33] #352 closed, assigned to mrmin123

[2019-04-21 02:59] perryhuynh opened #355 "Combat Module Re-Enabled after ClearStop on 6-5"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.4.0

#### Issue variability
Consistent? It's only testable once a month but it seems to be happening every month.

#### Issue
The combat module is correctly disabled after clearing 6-5 but is immediately re-enabled on the next sortie. I've only ever encountered this on 6-5, possibly due to LBAS?

#### Log
[code

[2019-05-02 08:52] WainTrain opened #356 "Script stuck in WhiteScreen crash loop"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.4.0
* Viewer/browser: Chrome
* Operating system and/or VM: Windows 10 non-VM

#### Issue variability
Is the issue consistent (can be reproduced consistently) or is it intermittent (only happens sometimes)?:

Issue will occur after a period of at least 1 hour of run time. This typically happens after a chrome me

[2019-05-02 20:27] WainTrain commented on #356
Ok, so I recreated the effect. Chrome had another memory leak (blank screen with the 'dead' face) while the script was running. Here was the log:

[code]

The chrome crash happened right after ```Navigating to combat screen.``` It then restarted the site, and then was stuck in a whitescreen detection loop on the game title screen indefinitely, and started to look like my console screenshot above.

[2019-05-03 06:21] mrmin123 commented on #356
So the game did restart, but it kept detecting a whitescreen?

For the moment, if you'd like to disable the constant recovery attempts, you can remove the `'whitescreen`' entry from the `ENABLED_RECOVERIES` tuple in [`kca_globals.py#L31`](https://github.com/mrmin123/kcauto/blob/master/kcauto.sikuli/kca_globals.py#L31).

[2019-05-03 06:22] mrmin123 commented on #355
Yes, I think that was my conclusion the last time I looked into this, although it was a very long time ago. Will take another look when I get the chance.

Note that this is further relevant during event maps when LBAS usage is much more frequent.

[2019-05-03 09:37] WainTrain commented on #356
Yeah, that's what seemed to happen. In case it's relevant, I have two monitors, but it seems the bot has no problem until the game crashes in any way, where it cannot recover.

[2019-05-20 17:35] perryhuynh opened #357 "2019 Spring Event Support"
The 2019 Spring Event *should* be starting today

[2019-05-21 04:01] mrmin123 commented on #357
Ongoing event-related updates will be in the branch [357-2019-spring-event](https://github.com/mrmin123/kcauto/tree/357-2019-spring-event).

To checkout this branch from the command line:
[code]

[2019-05-22 05:38] mrmin123 commented on #357
Branch has been updated with updated JSON node data and panel images.

[2019-05-25 18:19] perryhuynh opened #360 "Revert/Regenerate/Add Alternative Combat Node Select Asset"
#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.4
* Operating system and/or VM: Xubuntu 18.04

#### Issue variability
Consistent

#### Issue
It seems ever since the original event where the node select bubble disappeared, the asset was changed to use the text below, but the bubble has since reappeared, so currently the script will hang on node selects. I don

[2019-05-30 00:43] tsuki-tsuki commented on #357
This is happening when I tried sortieing to E2 using kcauto

`Sortie complete. Encountered 4 combat nodes (nodes N, O3, P3, P3).[0m`

Why did P3 detected twice? I’m running using java11, so maybe it relates to java version?

[2019-05-30 00:55] mrmin123 commented on #357
@tsuki-tsuki this is typically due to the nodes being so close to each other and the script can't consistently tell which node you are at by the icon. You can override the formation/night battle selections for the 4th node by specifying by them combat node number instead of node name, so something like `4:line_ahead` as opposed to `Q3:line_ahead`.

[2019-05-30 02:04] tsuki-tsuki commented on #357
I see, thank you for the verification! By the way, when will data for E4+ will be updated? Just asking

[2019-05-30 06:27] mrmin123 commented on #357
I'll add that info either tonight or tomorrow night.

[2019-05-30 09:44] mrmin123 commented on #357
Data for E-4 and E-5 have been added to the `357-2019-spring-event` branch.

[2019-06-12 16:40] Anonark opened #363 "kcauto gets stuck on quest screen"
*Please make sure you are on the latest version of kcauto, and that there is not already a ticket open for your issue.*

*Please remove sections of this template you do not find relevant when creating your ticket.*

#### Environment details

* kcauto version (version on first line of `CHANGELOG.md`): 7.4.1
* Viewer/browser: poi
* Operating system and/or VM: Windows 10 (May 2019 update)

#### Issue